
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">TERMS AND CONDITIONS<a href="https://grapi.slack.com/" target="_blank">Terms and conditions Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/terms-and-conditions/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-data-termsandconditions')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-termsandconditions" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-termsandconditions</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-data-termsandconditions/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API retrieves terms and conditions documents.</p>
    <h2>RESOURCES</h2>
    <div id="/terms-and-conditions" class="resource-table">
      <div ng-click="api.hide('/terms-and-conditions')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/terms-and-conditions</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/terms-and-conditions'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the documents of terms and conditions obtained by the provided query params.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: termsandconditionsActiveButton === 'get'}" ng-click="api.showMethod($event, 'termsandconditions', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="termsandconditions = 'get'; termsandconditionsActiveButton = 'get'" ng-show="termsandconditions === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/terms-and-conditions'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the documents of terms and conditions obtained by the provided query params.</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">If-None-Match</span></td>
                        <td>
                          <pre>Cached value received from the server in an 'ETag' header the last time a 'GET' on this succeeded. The server will use this to determine if the resource has changed and decide whether to respond with '304'.
</pre>
                        </td>
                        <td>false</td>
                        <td>x234dff</td>
                      </tr>
                      <tr>
                        <td><span class="display-name">Accept</span></td>
                        <td>
                          <pre>An indicator of the media type requested. The possible values are application/pdf or text/html.
</pre>
                        </td>
                        <td>true</td>
                        <td>text/html</td>
                      </tr>
                      <tr>
                        <td><span class="display-name">Accept-Language</span></td>
                        <td>
                          <pre>Document language, it must be compliant with ISO 639-2 standard.</pre>
                        </td>
                        <td>false</td>
                        <td>esp</td>
                      </tr>
                    </table>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">country</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Country associated with the document, it must be compliant with the alpha-2 code of ISO 3166-1 standard.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>ES</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">id</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Document code identifier.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>LEGALTERMSAPP</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Etag</span><span class="type string">string</span></td>
                                <td>
                                  <pre>An opaque identifier assigned by the server to the specific version of the resource contained in this response. The client can cache it for inclusion in a future conditional 'GET' on this resource.
</pre>
                                </td>
                                <td>false</td>
                                <td>686897696a7c876b7e</td>
                              </tr>
                              <tr>
                                <td><span class="display-name">Content-Type</span><span class="type string">string</span></td>
                                <td>
                                  <pre>An indicator of the media type of the response body. The possible values are application/pdf and text/html.
</pre>
                                </td>
                                <td>true</td>
                                <td>text/html</td>
                              </tr>
                            </table>
                          </md-content>
                        </md-tab>
                        <md-tab label="304">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Modified.
</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>