.background-paper {
    background: url("/assets/images/api-background.png") bottom center no-repeat;
    height: 600px;
    text-align: center;
    position: relative;
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
    .activity-section {
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
        width: auto;
        margin: auto;
      }
      #item1 {
        height: 450px;
        background: url('/assets/images/dashboard_carrusel.jpg') bottom center no-repeat;
        background-position: 50%;
        background-attachment: fixed;
        background-size: cover;
        div{
          margin-right:12%;
          margin-top:5%;
          float:right;
          width:500px;
          height:190px;
          background-color:#F6F6F6;
        }
        h1{
          font-family: 'Roboto Slab';
        }
        p{
          font-family: 'Roboto Slab';
        }
      }
      #item2 {
        height: 450px;
        background: url('/assets/images/mobiles.jpg') bottom center no-repeat;
        background-position: 50%;
        background-attachment: scroll;
        background-size: cover;
        div{
          padding: 15px;
          margin-left:52%;
          margin-top:10%;
          float:left;
          width:500px;
          height:170px;
          background-color:#0065B7;
        }
        h1{
          font-family: 'Roboto Slab';
        }
        p{
          font-family: 'Roboto Slab';
        }
      }
      #item3 {
        height: 450px;
        background: url('/assets/images/payments.jpg') bottom center no-repeat;
        background-position: 50%;
        background-attachment: fixed;
        background-size: cover;
        div{
          padding: 15px;
          margin-left:10%;
          margin-top:13%;
          float:left;
          width:500px;
          height:170px;
          background-color:#0065B7;
        }
        h1{
          font-family: 'Roboto Slab';
        }
        p{
          font-family: 'Roboto Slab';
        }
      }
      #item4 {
        height: 450px;
        background: url('/assets/images/geographic.jpg') bottom center no-repeat;
        background-position: 50%;
        background-attachment: fixed;
        background-size: cover;
        div{
          padding: 15px;
          margin-left:10%;
          margin-top:10%;
          float:left;
          width:600px;
          height:180px;
          background-color:#0065B7;
        }
        h1{
          font-family: 'Roboto Slab';
        }
        p{
          font-family: 'Roboto Slab';
        }
      }
      #item5 {
        height: 450px;
        background: url('/assets/images/ultramarinos.jpg') bottom center no-repeat;
        background-position: 50%;
        background-attachment: fixed;
        background-size: cover;
        div{
          padding: 15px;
          margin-left:10%;
          margin-top:10%;
          float:left;
          width:600px;
          height:180px;
          background-color:#0065B7;
        }
        h1{
          font-family: 'Roboto Slab';
        }
        p{
          font-family: 'Roboto Slab';
        }
      }

      height: 100%;
    }
    #item6 {
      height: 450px;
      background: url('/assets/images/exchange3.jpg') bottom center no-repeat;
      background-position: 50%;
      background-attachment: fixed;
      background-size: cover;
      div{
        padding: 15px;
        margin-left:10%;
        margin-top:10%;
        float:left;
        width:600px;
        height:180px;
        background-color:#0065B7;
      }

    }
    .headline {
        position: relative;
        padding-top: 230px;
        opacity: 1;
        width: 560px;
        margin: 0 auto 40px;
        font-weight: 400;
        color: #FAFAFA;
        font-weight: bold;
    }
    .md-raised {
        border-radius: 0;
        color: #212121;
        font-size: 15px;
        line-height: 48px;
        padding: 0 24px;
    }
    .more-button {
        position: absolute;
        bottom: 10px;
        width: 100%;
        i {
            color: #FAFAFA;
            font-size: 50px;
            transform: rotate(90deg);
            cursor: pointer;
            outline: none;
        }
    }
}
.banner-info {
    padding: 50px 100px;
    .banner-section {
        text-align: center;
        padding: 0 20px;
        i {
            color: #16366F;
            font-size: 100px;
        }
        h2 {
            color: #16366F;
        }
        .md-raised {
            border-radius: 0;
            background-color: #16366F !important;
            color: #FAFAFA;
            font-size: 15px;
            line-height: 48px;
            padding: 0 24px;
            .md-ripple-container {
                border-radius: 0;
            }
        }
        .section-description {
            height: 175px;
        }
    }
}
.blog-info {
    padding: 20px 100px;
    ul {
        margin: 0;
        li {
            list-style: inherit;
        }
    }
    h2 {
        text-align: center;
        color: #16366F;
        position: relative;
        opacity: 1;
        font-weight: bold;
        width: auto;
        font-size: 34px;
        line-height: 28px;
        margin: 16px auto;
        padding-top: 20px;
    }
    .blog-title {
        text-align: initial;
        color: #16366F;
    }
    .post-index {
        padding: 0 100px;
        display: -webkit-box;
        height: 65.2px;
        margin: 0;
        line-height: 1.4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .button-container {
        .md-no-ink {
            float: right;
            margin-right: 115px;
            border-radius: 0;
            .md-ripple-container {
                border-radius: 0;
            }
        }
    }
    .page-mark {
        width: 60%;
    }
}
.content-footer {
    background-color: #36474F;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    .grid-fluid {
        div {
            margin-right: 150px;
        }
        margin-bottom: 0;
        .footer-list-head {
            color: #EEEEEE;
            font-size: 28px;
        }
        ul {
            list-style: none;
            li {
                margin-bottom: 5px;
                a {
                    color: #FAFAFA;
                }
            }
        }
    }
}
.container {
    margin: 11px 0 0 !important;
    width: 100% !important;
}
.content-footer {
    display: block;
    padding: 10px 96px;
    .grid-fluid {
        margin: 0 auto;
        &::after,
        &::before {
            content: '.';
            clear: both;
            display: block;
            overflow: hidden;
            visibility: hidden;
            font-size: 0;
            line-height: 0;
            width: 0;
            height: 0;
        }
        .text-description {
            &.mobile-position {
                float: right;
            }
            h3 {
                font-family: RobotoBold;
                margin: 0 0 16px;
                font-size: 24px;
                opacity: 0.87;
                line-height: 32px;
            }
            p {
                margin: 0 0 16px;
                font-size: 16px;
                font-weight: 400;
                opacity: 0.87;
                line-height: 28px;
                padding: 0;
                color: #445A64;
            }
        }
        .image-description {
            text-align: center;
        }
    }
}
.footer {
    background-color: #253238;
    color: #979DA0;
    text-align: center;
    padding: 16px;
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {
    .background-paper {
        height: 400px;
        .headline {
            position: relative;
            opacity: 1;
            color: #FAFAFA;
            font-weight: bold;
            width: auto;
            font-size: 20px;
            line-height: 28px;
            margin: 0;
            padding-top: 169px;
        }
        .more-button {
            display: none;
        }
    }
    .banner-info {
        padding: 50px 30px;
        .banner-section {
            text-align: center;
            padding: 0 20px;
            .section-description {
                height: inherit;
            }
        }
    }
    .blog-info {
        padding: 20px 0;
        h2 {
            font-size: 26px;
            padding-top: 0;
        }
        .blog-title {
            text-align: initial;
            padding-left: 30px;
        }
        .post {
            padding: 0 30px;
        }
        .button-container {
            text-align: center;
            .md-no-ink {
                border-radius: 0;
                float: none;
                margin-right: 0;
                .md-ripple-container {
                    border-radius: 0;
                }
            }
        }
        .page-mark {
            width: 80%;
        }
    }
}
// Utils
.page-mark {
    width: 95%;
    border-top: 1px solid #16366F;
    height: 0;
}
