
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">LIMITS<a href="https://grapi.slack.com/" target="_blank">Limits Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/limits/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-people-limits')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-limits" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-limits</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-people-limits/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the operations limits. The customer is able to modify or query this limits and its related operatives.
</p>
    <h2>RESOURCES</h2>
    <div id="/operatives" class="resource-table">
      <div ng-click="api.hide('/operatives')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/operatives</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/operatives'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the operatives limits.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: operativesActiveButton === 'get'}" ng-click="api.showMethod($event, 'operatives', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="operatives = 'get'; operativesActiveButton = 'get'" ng-show="operatives === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/operatives'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the available operatives to modified their limits(amounts and number of operations) by the customer.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">operativeType</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Filters the operatives by type.
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">CARDLESS_WITHDRAWAL: The Cardless Withdrawal enables customers to initiate a fund transfer to any mobile number. Once a transfer is done, the Recipient will receive a secure code to perform the cardless withdrawal at any ATM Machines without requiring a Card.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">OWN_TRANSFER: Operative that represents transfers between own products.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">INTERBANK_TRANSFER: Operative that represents the transfer of amounts from its own source contract BBVA group to a destination of any bank that does not belong to BBVA group.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">MOBILE_TRANSFER: Operative that represents a mobile transfers of cash from a sender to a recipient.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">INTERNATIONAL_TRANSFER: Operative that represents a transfer of amounts from its own source contract BBVA group and whose opening has been made in a national office, a contract destination of any bank, own the group or not, whose opening has been made in another country.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">INTERNAL_TRANSFER: Operative that represents a internal transfers. An internal transfer is defined as a money transfer made between a product that belongs to the actual customer or user and a second product that belongs to another customer within the bank.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">TOP_UP: Operative that represents a top up of any product.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">MOBILE_TOP_UP: Operative that represents a top up of a mobile device.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">SERVICE_PAYMENT: Operative that represents a payment of a service offered for an external company or institution.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">GLOBAL: This operation type give the ability to set a limit for all the available types.</span></li>
                          </ul>
                        </td>
                        <td><span>INTERNAL_TRANSFER</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="operativeType display-name">operativeType</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative type description.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CARDLESS_WITHDRAWAL: The Cardless Withdrawal enables customers to initiate a fund transfer to any mobile number. Once a transfer is done, the Recipient will receive a secure code to perform the cardless withdrawal at any ATM Machines without requiring a Card.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">OWN_TRANSFER: Operative that represents transfers between own products.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERBANK_TRANSFER: Operative that represents the transfer of amounts from its own source contract BBVA group to a destination of any bank that does not belong to BBVA group.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MOBILE_TRANSFER: Operative that represents a mobile transfers of cash from a sender to a recipient.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERNATIONAL_TRANSFER: Operative that represents a transfer of amounts from its own source contract BBVA group and whose opening has been made in a national office, a contract destination of any bank, own the group or not, whose opening has been made in another country.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERNAL_TRANSFER: Operative that represents a internal transfers. An internal transfer is defined as a money transfer made between a product that belongs to the actual customer or user and a second product that belongs to another customer within the bank.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">TOP_UP: Operative that represents a top up of any product.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MOBILE_TOP_UP: Operative that represents a top up of a mobile device.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SERVICE_PAYMENT: Operative that represents a payment of a service offered for an external company or institution.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">GLOBAL: This operation type give the ability to set a limit for all the available types.</span></li>
                                    </ul>
                                  </div>
                                  <div layout="row" class="annotation">
                                    <div flex="10" class="country-flag"><img src="assets/flags/pe.png"/></div>
                                    <div flex="90" class="annotation-description">
                                      <p>In Perú the attribute is not implemented</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">period</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It represents the time interval where the summarized amount and number of operation is compared with the maximum values configured.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.id display-name">period.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Period identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">DAILY: The time interval is a day.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">WEEKLY: The time interval is a week.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MONTHLY: The time interval length is a month.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">HALF-YEAR: The time interval length is half-year.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PER_EXECUTION: The time interval is the time that the execution of one operation last.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.name display-name">period.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Period description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts display-name">amounts</span><span class="type">amountsTypes</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'These are all the amounts types that represent the current monetary values and its maximum value established, for this limit.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.maximum display-name">amounts.maximum</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Is the monetary amount that represents the maximum allowed for this operation at the moment. The first time is a value by default and then it can be configured by the customer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.maximum display-name">amounts.maximum.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It represents the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.maximum display-name">amounts.maximum.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.available display-name">amounts.available</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is the monetary amount that represents the available amount to use before to reach the configured maximum amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.available display-name">amounts.available.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It represents the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.available display-name">amounts.available.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.disposed display-name">amounts.disposed</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is the monetary amount that have been used by the customer since the period started until now.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.disposed display-name">amounts.disposed.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It represents the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.disposed display-name">amounts.disposed.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberOfOperations display-name">numberOfOperations</span><span class="type">numberOfOperations</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'It represents the number of operations that is used for an operative in a fixed period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberOfOperations.maximum display-name">numberOfOperations.maximum</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Is the maximum number of operations allowed to do by the customer. The first time is a value by default and then it can be configured by the customer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberOfOperations.available display-name">numberOfOperations.available</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is the number of operations that the customers have available to do.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberOfOperations.disposed display-name">numberOfOperations.disposed</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is the number of operations that have been made by the customer since the period started until now.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;INTERBANK_TRANSFER_OTHER_BANK_CARD&quot;,
            &quot;operativeType&quot;: &quot;INTERBANK_TRANSFER&quot;,
            &quot;period&quot;: {
                &quot;id&quot;: &quot;MONTHLY&quot;
            },
            &quot;amounts&quot;: {
                &quot;maximum&quot;: {
                    &quot;value&quot;: 2500,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            &quot;numberOfOperations&quot;: {
                &quot;maximum&quot;: 25
            }
        },
        {
            &quot;id&quot;: &quot;INTERNAL_TRANSFER_CARD_PAYMENT&quot;,
            &quot;operativeType&quot;: &quot;INTERNAL_TRANSFER&quot;,
            &quot;period&quot;: {
                &quot;id&quot;: &quot;MONTHLY&quot;
            },
            &quot;amounts&quot;: {
                &quot;maximum&quot;: {
                    &quot;value&quot;: 45000,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            &quot;numberOfOperations&quot;: {
                &quot;maximum&quot;: 50
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;INTERBANK_TRANSFER_OTHER_BANK_CARD&quot;,
            &quot;operativeType&quot;: &quot;INTERBANK_TRANSFER&quot;,
            &quot;period&quot;: {
                &quot;id&quot;: &quot;MONTHLY&quot;
            },
            &quot;amounts&quot;: {
                &quot;maximum&quot;: {
                    &quot;value&quot;: 2500,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            &quot;numberOfOperations&quot;: {
                &quot;maximum&quot;: 25
            }
        },
        {
            &quot;id&quot;: &quot;INTERNAL_TRANSFER_CARD_PAYMENT&quot;,
            &quot;operativeType&quot;: &quot;INTERNAL_TRANSFER&quot;,
            &quot;period&quot;: {
                &quot;id&quot;: &quot;MONTHLY&quot;
            },
            &quot;amounts&quot;: {
                &quot;maximum&quot;: {
                    &quot;value&quot;: 45000,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            &quot;numberOfOperations&quot;: {
                &quot;maximum&quot;: 50
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Partial content</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="operativeType display-name">operativeType</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative type description.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CARDLESS_WITHDRAWAL: The Cardless Withdrawal enables customers to initiate a fund transfer to any mobile number. Once a transfer is done, the Recipient will receive a secure code to perform the cardless withdrawal at any ATM Machines without requiring a Card.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">OWN_TRANSFER: Operative that represents transfers between own products.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERBANK_TRANSFER: Operative that represents the transfer of amounts from its own source contract BBVA group to a destination of any bank that does not belong to BBVA group.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MOBILE_TRANSFER: Operative that represents a mobile transfers of cash from a sender to a recipient.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERNATIONAL_TRANSFER: Operative that represents a transfer of amounts from its own source contract BBVA group and whose opening has been made in a national office, a contract destination of any bank, own the group or not, whose opening has been made in another country.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERNAL_TRANSFER: Operative that represents a internal transfers. An internal transfer is defined as a money transfer made between a product that belongs to the actual customer or user and a second product that belongs to another customer within the bank.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">TOP_UP: Operative that represents a top up of any product.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MOBILE_TOP_UP: Operative that represents a top up of a mobile device.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SERVICE_PAYMENT: Operative that represents a payment of a service offered for an external company or institution.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">GLOBAL: This operation type give the ability to set a limit for all the available types.</span></li>
                                    </ul>
                                  </div>
                                  <div layout="row" class="annotation">
                                    <div flex="10" class="country-flag"><img src="assets/flags/pe.png"/></div>
                                    <div flex="90" class="annotation-description">
                                      <p>In Perú the attribute is not implemented</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">period</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It represents the time interval where the summarized amount and number of operation is compared with the maximum values configured.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.id display-name">period.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Period identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">DAILY: The time interval is a day.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">WEEKLY: The time interval is a week.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MONTHLY: The time interval length is a month.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">HALF-YEAR: The time interval length is half-year.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PER_EXECUTION: The time interval is the time that the execution of one operation last.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.name display-name">period.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Period description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts display-name">amounts</span><span class="type">amountsTypes</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'These are all the amounts types that represent the current monetary values and its maximum value established, for this limit.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.maximum display-name">amounts.maximum</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Is the monetary amount that represents the maximum allowed for this operation at the moment. The first time is a value by default and then it can be configured by the customer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.maximum display-name">amounts.maximum.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It represents the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.maximum display-name">amounts.maximum.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.available display-name">amounts.available</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is the monetary amount that represents the available amount to use before to reach the configured maximum amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.available display-name">amounts.available.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It represents the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.available display-name">amounts.available.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.disposed display-name">amounts.disposed</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is the monetary amount that have been used by the customer since the period started until now.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.disposed display-name">amounts.disposed.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It represents the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.disposed display-name">amounts.disposed.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberOfOperations display-name">numberOfOperations</span><span class="type">numberOfOperations</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'It represents the number of operations that is used for an operative in a fixed period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberOfOperations.maximum display-name">numberOfOperations.maximum</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Is the maximum number of operations allowed to do by the customer. The first time is a value by default and then it can be configured by the customer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberOfOperations.available display-name">numberOfOperations.available</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is the number of operations that the customers have available to do.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberOfOperations.disposed display-name">numberOfOperations.disposed</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is the number of operations that have been made by the customer since the period started until now.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;INTERBANK_TRANSFER_OTHER_BANK_CARD&quot;,
            &quot;operativeType&quot;: &quot;INTERBANK_TRANSFER&quot;,
            &quot;period&quot;: {
                &quot;id&quot;: &quot;MONTHLY&quot;
            },
            &quot;amounts&quot;: {
                &quot;maximum&quot;: {
                    &quot;value&quot;: 45000,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            &quot;numberOfOperations&quot;: {
                &quot;maximum&quot;: 50
            }
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/limits/v0/operatives&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/limits/v0/operatives?paginationKey=223&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/limits/v0/operatives?paginationKey=580&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/limits/v0/operatives?paginationKey=455&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 1,
        &quot;totalElements&quot;: 1,
        &quot;pageSize&quot;: 5
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;INTERBANK_TRANSFER_OTHER_BANK_CARD&quot;,
            &quot;operativeType&quot;: &quot;INTERBANK_TRANSFER&quot;,
            &quot;period&quot;: {
                &quot;id&quot;: &quot;MONTHLY&quot;
            },
            &quot;amounts&quot;: {
                &quot;maximum&quot;: {
                    &quot;value&quot;: 45000,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            &quot;numberOfOperations&quot;: {
                &quot;maximum&quot;: 50
            }
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/limits/v0/operatives&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/limits/v0/operatives?paginationKey=223&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/limits/v0/operatives?paginationKey=580&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/limits/v0/operatives?paginationKey=455&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 1,
        &quot;totalElements&quot;: 1,
        &quot;pageSize&quot;: 5
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/operatives/{operative-id}" class="resource-table">
      <div ng-click="api.hide('/operatives/{operative-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/operatives/{operative-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services patch">PATCH</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/operatives/{operative-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the details of a specified operative.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="patch" ng-class="{active: operativesoperativeidActiveButton === 'patch'}" ng-click="api.showMethod($event, 'operativesoperativeid', 'patch')" class="md-primary button-menu">patch</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="patch" ng-init="operativesoperativeid = 'patch'; operativesoperativeidActiveButton = 'patch'" ng-show="operativesoperativeid === 'patch'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/operatives/{operative-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='patch'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for updating an operative.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">operative-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique operative identifier</p>
                        </td>
                        <td><span>INTERBANK_TRANSFER</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="period display-name">period</span><span class="type">period</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'It represents the time interval where the summarized amount and number of the operations is compared with the maximum values configured.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="period.id display-name">period.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Period identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">DAILY: The time interval is a day.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">WEEKLY: The time interval is a week.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">MONTHLY: The time interval length is a month.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">HALF-YEAR: The time interval length is half-year.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">PER_EXECUTION: The time interval is the time that the execution of one operation last.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="amounts display-name">amounts</span><span class="type">amountsTypes</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'It represents the monetary amounts that is used in the operation. DISCLAIMER: If this attribute is not provide the numberOfOperations attribute must be provided.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="amounts.maximum display-name">amounts.maximum</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Is the monetary amount that represents the maximum allowed for this operation at the moment. The first time is a value by default and then it can be configured by the customer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="amounts.maximum display-name">amounts.maximum.value</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'It represents the monetary amount.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="amounts.maximum display-name">amounts.maximum.currency</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="numberOfOperations display-name">numberOfOperations</span><span class="type">numberOfOperations</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Is the number of operations allowed to do by the customer. DISCLAIMER: If this attribute is not provide the amounts attribute must be provided.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="numberOfOperations.maximum display-name">numberOfOperations.maximum</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Is the maximum number of operations allowed to do by the customer. The first time is a value by default and then it can be configured by the customer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;period&quot;: {
        &quot;id&quot;: &quot;MONTHLY&quot;
    },
    &quot;amounts&quot;: {
        &quot;maximum&quot;: {
            &quot;value&quot;: 2500,
            &quot;currency&quot;: &quot;PEN&quot;
        }
    },
    &quot;numberOfOperations&quot;: {
        &quot;maximum&quot;: 25
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;period&quot;: {
        &quot;id&quot;: &quot;MONTHLY&quot;
    },
    &quot;amounts&quot;: {
        &quot;maximum&quot;: {
            &quot;value&quot;: 2500,
            &quot;currency&quot;: &quot;PEN&quot;
        }
    },
    &quot;numberOfOperations&quot;: {
        &quot;maximum&quot;: 25
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/operatives-types" class="resource-table">
      <div ng-click="api.hide('/operatives-types')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/operatives-types</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/operatives-types'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the types of existing operatives.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: operativestypesActiveButton === 'get'}" ng-click="api.showMethod($event, 'operativestypes', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="operativestypes = 'get'; operativestypesActiveButton = 'get'" ng-show="operativestypes === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/operatives-types'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method to retrieve the list of the existing operatives types.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">operativeType</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Filters the operatives by type.
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">INTERNAL_TRANSFER: Internal transfer.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">INTERBANK_TRANSFER: Interbank transfer.</span></li>
                          </ul>
                        </td>
                        <td><span>INTERNAL_TRANSFER</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="operativeType display-name">operativeType</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operative type.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CARDLESS_WITHDRAWAL: The Cardless Withdrawal enables customers to initiate a fund transfer to any mobile number. Once a transfer is done, the Recipient will receive a secure code to perform the cardless withdrawal at any ATM Machines without requiring a Card.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">OWN_TRANSFER: Operative that represents transfers between own products.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERBANK_TRANSFER: Operative that represents the transfer of amounts from its own source contract BBVA group to a destination of any bank that does not belong to BBVA group.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MOBILE_TRANSFER: Operative that represents a mobile transfers of cash from a sender to a recipient.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERNATIONAL_TRANSFER: Operative that represents a transfer of amounts from its own source contract BBVA group and whose opening has been made in a national office, a contract destination of any bank, own the group or not, whose opening has been made in another country.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INTERNAL_TRANSFER: Operative that represents a internal transfers. An internal transfer is defined as a money transfer made between a product that belongs to the actual customer or user and a second product that belongs to another customer within the bank.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">TOP_UP: Operative that represents a top up of any product.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MOBILE_TOP_UP: Operative that represents a top up of a mobile device.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SERVICE_PAYMENT: Operative that represents a payment of a service offered for an external company or institution.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">GLOBAL: This operation type give the ability to set a limit for all the available types.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;INTERBANK_TRANSFER_OTHER_BANK_CARD&quot;,
            &quot;name&quot;: &quot;Credit card from other bank payment&quot;,
            &quot;operativeType&quot;: &quot;INTERBANK_TRANSFER&quot;
        },
        {
            &quot;id&quot;: &quot;BBVA_CARD_PAYMENT&quot;,
            &quot;name&quot;: &quot;BBVA credit card payment&quot;,
            &quot;operativeType&quot;: &quot;INTERNAL_TRANSFER&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;INTERBANK_TRANSFER_OTHER_BANK_CARD&quot;,
            &quot;name&quot;: &quot;Credit card from other bank payment&quot;,
            &quot;operativeType&quot;: &quot;INTERBANK_TRANSFER&quot;
        },
        {
            &quot;id&quot;: &quot;BBVA_CARD_PAYMENT&quot;,
            &quot;name&quot;: &quot;BBVA credit card payment&quot;,
            &quot;operativeType&quot;: &quot;INTERNAL_TRANSFER&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>