.data-types {
  padding: 30px 100px 0px;
  margin-bottom: 30px;
  .data-types-table {
    md-sidenav {
      min-width: 200px;
      width: 200px;
      max-width: 250px;
      md-toolbar {
        background: #0065B7;
        min-height: 48px;
        max-height: 48px;
        height: 48px;
        padding: 11px 61px;
        h3 {
          color: #FAFAFA;
          font-size: 18px;
          margin: 0px;
          text-align: center;
        }
      }
      md-content {
        .button-menu {
          color: #16366F;
          margin: 0px;
          width: 100%;
          text-align: left;
          padding: 5px 15px;
          border-radius: 0px;
          text-overflow: ellipsis;
          &.active {
            border-left: 3px solid #3949AB;
            background: #ECEFF1;
          }
          .md-ripple-container {
            border-radius: 0px !important;
          }
        }
      }
    }
    md-content {
      .data-type-container {
        h1.title {
          background: #ECEFF1;
          margin: 0px;
          padding: 40px;
          font-size: 32px;
          text-transform: capitalize;
          span {
            display: block;
            font-size: 15px;
            color: #212121;
            font-weight: normal;
            margin-top: 10px;
          }
        }
        .bread-crum {
          background: #F8FCFF;
          padding: 15px;
          ul {
            padding: 0px;
            margin: 0px;
            li {
              list-style: none;
              display: inline-block;
              margin-right: 10px;
              cursor: pointer;
              &:after {
                content: ">";
                margin-left: 10px;
                font-size: 18px;
                color: #64B5F6;
                cursor: auto;
              }
              &:last-child {
                &:after {
                  content: "";
                }
              }
              span {
                color: #16366F;
                font-size: 20px;
              }
            }
          }
        }
      }
      .tab-content {
        .table-properties {
          tbody {
            tr {
              height: 45px;
              &:nth-child(odd) {
                background-color: #CCCCCC;
              }
              th, td {
                padding: 0px 10px;
                border-right: 1px solid #DDDDDD;
              }
              td {
                font-size: 14px;
                span {
                  &.display-name {
                    display: block;
                  }
                  &.type {
                    padding: 0px 5px;
                    border-radius: 3px;
                    font-size: 12px;
                    background: #C5E1A5;
                    color: #616161;
                  }
                }
                i {
                  &.required {
                    display: block;
                    font-size: 12px;
                    font-weight: bold;
                  }
                }
                ul {
                  li {
                    span {
                      border: 1px solid;
                      border-right: none;
                      padding-left: 9px;
                      border-radius: 5px;
                      top: -6px;
                      position: relative;
                      cursor: pointer;
                      i {
                        font-size: 31px;
                        top: 10px;
                        position: relative;
                        left: 3px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .type-link {
          cursor: pointer;
          outline: none;
        }
        .pre-code {
          border: 1px solid #DDDDDD;
        }
      }
      md-tabs-wrapper {
        background: #F6F6F6;
        md-tabs-canvas {
          md-pagination-wrapper {
            md-tab-item {
              &.hide-tab {
                display: none;
              }
            }
            md-tab-item:not([disabled]).md-active, md-tab-item:not([disabled]).md-focused {
              color: #16366F;
            }
            md-tab-item:not([disabled]) {
              color: #C5CAE9;
            }
          }
        }
      }
      md-tabs-content-wrapper {
        max-height: 400px;
        overflow: auto;
        min-height: 400px;
        height: 400px;
      }
    }
  }
}
