.table-errors {
    padding: 64px 100px;
    table {
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
        border: 2px solid #0065B7;
        caption {
            background: #0065B7;
            padding: 20px;
            outline: 0;
            cursor: pointer;
            color: #FAFAFA;
            font-size: 20px;
            border: 2px solid #0065B7;
            box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
            i {
                color: #FAFAFA;
                float: right;
                transform: rotate(90deg);
                cursor: pointer;
                outline: none;
            }
        }
        tbody {
            tr {
                th {
                    background: #BBDEFB;
                }
            }
        }
    }
}
