.methods {
    .methods-table {
        .nav-method {
            .nav-title {
                background: #0065B7;
                h3 {
                    color: #FAFAFA;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            .button-method-container {
                button {
                    height: 64px;
                    border: none;
                    background: none;
                    width: 100px;
                    padding: 0;
                    outline: none;
                    margin-top: -2px;
                    text-transform: uppercase;
                    &.active {
                        border-bottom: 4px solid #0065B7;
                        background: #ECEFF1;
                    }
                }
            }
        }
        md-content {
            .request,
            .response {
                padding: 0 16px;
                .title {
                    text-transform: uppercase;
                }
            }
            .request {
                .content {
                    .annotation {
                        .annotation-description {
                            p {
                                margin-left: -30px;
                            }
                        }
                    }
                }
            }
            .response {
                padding: 0;
                md-tabs {
                    md-tabs-wrapper {
                        background: #F6F6F6;
                        md-tabs-canvas {
                            md-pagination-wrapper {
                                md-tab-item {
                                    &.hide-tab {
                                        display: none;
                                    }
                                }
                                md-tab-item:not([disabled]).md-active,
                                md-tab-item:not([disabled]).md-focused {
                                    color: #16366F;
                                }
                                md-tab-item:not([disabled]) {
                                    color: #C5CAE9;
                                }
                            }
                        }
                    }
                    .tab-content {
                        md-select.example {
                            width: 200px;
                        }
                        .pre-code {
                            border: 1px solid #DDDDDD;
                        }
                    }
                }
            }
        }
    }
}
