.resource {
    padding: 30px 50px 0;
    margin-bottom: 30px;
    .resource-table {
        border: 2px solid #0065B7;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin-bottom: 30px;
        .table-head {
            background: #0065B7;
            padding: 20px;
            outline: none;
            cursor: pointer;
            .conteiner-flag{
                width:47px;
                height:47px;
                float:right;
                position:relative;
                left:-30px;
                top:-41px;
                margin-right:4px;
                //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                img {
                    position: relative;
                    left: 12px;
                    top: 50px;
                    width: 40px;
                }
            }

            .resource-uri {
                display: inline-block;
                margin: 0;
                color: #FAFAFA;
                font-weight: 400;
                user-select: none;
            }


            .type-of-services {
                background-color: white;
                float: right;
                width: 85px;
                height: 37px;
                display: inline-block;
                position: relative;
                padding-top: 15px;
                left: -20px;
                text-align: center;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                margin: 2px;
                color: #FAFAFA;
                font-weight: bold;
                user-select: none;
                &.get {
                    background-color: #81C784;
                }
                &.head {
                    background-color: #4FD4C3;
                }
                &.post {
                    background-color: #64B5F6;
                }
                &.put {
                    background-color: #FFD54F;
                }
                &.delete {
                    background-color: #E57373;
                }
                &.patch {
                    background-color: #BA68C8;
                }
                label {
                    position: relative;
                    top: 3px;
                    font-weight: 400;
                }
            }
            i {
                color: #FAFAFA;
                float: right;
                transform: rotate(90deg);
                cursor: pointer;
                outline: none;
                position: relative;
                top: 15px;
            }
        }
        &.hide-body {
            .table-body {
                display: block;
            }
        }
        .table-body {
            padding: 16px 20px 20px;
            display: none;
            .description {
                display: inline-block;
            }
            .resource-type {
                float: right;
                cursor: pointer;
                outline: none;
                span {
                    &.type-title {
                        background: #0065B7;
                        color: #FAFAFA;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        padding: 3px 3px 3px 6px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {
    .resource {
        .resource-table {
            .table-head {
                .type-of-services {
                    display: none;
                }
            }
        }
    }
}

