.traits {
  .table-traits {
    td {
      &.trait-name {
        font-weight: bold;
        text-transform: capitalize;
      }
      ul {
        li {
          list-style: inherit;
        }
      }
    }
  }
}
