
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">PRODUCTS<a href="https://guapaas.slack.com/messages/api-products/" target="_blank">Products Slack Chanel<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI: <span>/products/v0</span></h4>
    <h4 class="version">Version: <span>v0</span>
    </h4>
    <h4 class="version">GIT Repository:<a href="https://bitbucket.org/apisbbva/products-v0">products-v0</a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the management of BBVA financial products.
</p>
    <h2>RESOURCES</h2>
    <div id="/products" class="resource-table">
      <div ng-click="api.hide('/products')" class="table-head">
        <h3 class="resource-uri">/products</h3><i class="material-icons">play_circle_outline</i>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing BBVA financial products.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: productsActiveButton === 'get'}" ng-click="api.showMethod($event, 'products', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="products = 'get'; productsActiveButton = 'get'" ng-show="products === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" class="title">Request</h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving BBVA financial products. The retrieved information depends on the consumer application.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">productType.id</span><span class="type">enum</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Retrieves products that match the financial product type provided by this parameter.
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">CARDS: algo</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">ACCOUNT: sdfdsf</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">LOANS: fsfsfd</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">DEPOSITS: fsdfsf</span></li>
                          </ul>
                        </td>
                        <td><span>CARDS</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">consumers.id</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Name of the consumer application where products can be hired.
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">NET</span></li>
                            <li><span class="value">ATM</span></li>
                            <li><span class="value">BRANCH</span></li>
                          </ul>
                        </td>
                        <td><span>ATM</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">orderBy</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Order by selected fields productType<i>Default value: productType</i>
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">order</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Ascending or descending order.<i>Default value: desc</i>
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">desc</span></li>
                            <li><span class="value">asc</span></li>
                          </ul>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">content-location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/products</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">productId</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Product identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">productType</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">productType.id</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Product type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">ACCOUNTS</span></li>
                                      <li><span class="value">CARDS</span></li>
                                      <li><span class="value">LOANS</span></li>
                                      <li><span class="value">DEPOSITS</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">productType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Product type name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">classification</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Classification related to the product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">classification.id</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Classification identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">CREDIT_CARD</span></li>
                                      <li><span class="value">DEBIT_CARD</span></li>
                                      <li><span class="value">PREPAID_CARD</span></li>
                                      <li><span class="value">ACCOUNT_AHORRO</span></li>
                                      <li><span class="value">ACCOUNT_VISTA</span></li>
                                      <li><span class="value">ACCOUNT_INSTRUMENTAL</span></li>
                                      <li><span class="value">ACCOUNT_DIVISA</span></li>
                                      <li><span class="value">ACCOUNT_COMMON</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">classification.name</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Classification name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">title</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Title of the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">title.id</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Title identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">title.name</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Title description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Brief description about the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">consumers</span><span class="type">array</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'List of consumer applications where the product can be hired.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">consumers.id</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Consumer application identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">NET</span></li>
                                      <li><span class="value">BRANCH</span></li>
                                      <li><span class="value">ATM</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">consumers.name</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Name of the consumer application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <md-radio-group ng-model="api.showTypeExample">
                              <md-radio-button value="object" class="md-primary">Object</md-radio-button>
                              <md-radio-button value="json" class="md-primary">JSON</md-radio-button>
                            </md-radio-group>
                            <div ng-show="api.showTypeExample === 'object'" class="example">
                              <json-formatter json="{
  &quot;data&quot;: [
    {
      &quot;productId&quot;:&quot;1234&quot;,
      &quot;productType&quot;: {
        &quot;id&quot;:&quot;CARDS&quot;,
        &quot;name&quot;:&quot;Cards&quot;
      },
      &quot;classification&quot;: {
        &quot;id&quot;:&quot;DEBIT_CARD&quot;,
        &quot;name&quot;:&quot;Debit Card&quot;
      },
      &quot;title&quot;: {
        &quot;id&quot;:&quot;HIGH_SCHOOL_CARD&quot;,
        &quot;name&quot;:&quot;Card High School&quot;
      },
      &quot;description&quot;:&quot;Pay with your card High School&quot;,
      &quot;consumers&quot;: [
        {
          &quot;id&quot;:&quot;NET&quot;,
          &quot;name&quot;:&quot;Net&quot;
        },
        {
          &quot;id&quot;:&quot;BRANCH&quot;,
          &quot;name&quot;:&quot;Branch&quot;
        }
      ]
    },
    {
      &quot;productId&quot;:&quot;5678&quot;,
      &quot;productType&quot;: {
        &quot;id&quot;:&quot;ACCOUNTS&quot;,
        &quot;name&quot;:&quot;Accounts&quot;
      },
      &quot;classification&quot;: {
        &quot;id&quot;:&quot;ACCOUNT_VISTA&quot;,
        &quot;name&quot;:&quot;Account Vista&quot;
      },
      &quot;title&quot;: {
        &quot;id&quot;:&quot;MY FAVORITE ACCOUNT&quot;,
        &quot;name&quot;:&quot;My favorite Account&quot;
      },
      &quot;description&quot;:&quot;Preferred account&quot;,
      &quot;consumers&quot;: [
        {
          &quot;id&quot;:&quot;NET&quot;,
          &quot;name&quot;:&quot;Net&quot;
        }
      ]
    }
  ]
}
" open="3"></json-formatter>
                            </div>
                            <div ng-show="api.showTypeExample === 'json'" class="example">
                              <pre>{
  &quot;data&quot;: [
    {
      &quot;productId&quot;:&quot;1234&quot;,
      &quot;productType&quot;: {
        &quot;id&quot;:&quot;CARDS&quot;,
        &quot;name&quot;:&quot;Cards&quot;
      },
      &quot;classification&quot;: {
        &quot;id&quot;:&quot;DEBIT_CARD&quot;,
        &quot;name&quot;:&quot;Debit Card&quot;
      },
      &quot;title&quot;: {
        &quot;id&quot;:&quot;HIGH_SCHOOL_CARD&quot;,
        &quot;name&quot;:&quot;Card High School&quot;
      },
      &quot;description&quot;:&quot;Pay with your card High School&quot;,
      &quot;consumers&quot;: [
        {
          &quot;id&quot;:&quot;NET&quot;,
          &quot;name&quot;:&quot;Net&quot;
        },
        {
          &quot;id&quot;:&quot;BRANCH&quot;,
          &quot;name&quot;:&quot;Branch&quot;
        }
      ]
    },
    {
      &quot;productId&quot;:&quot;5678&quot;,
      &quot;productType&quot;: {
        &quot;id&quot;:&quot;ACCOUNTS&quot;,
        &quot;name&quot;:&quot;Accounts&quot;
      },
      &quot;classification&quot;: {
        &quot;id&quot;:&quot;ACCOUNT_VISTA&quot;,
        &quot;name&quot;:&quot;Account Vista&quot;
      },
      &quot;title&quot;: {
        &quot;id&quot;:&quot;MY FAVORITE ACCOUNT&quot;,
        &quot;name&quot;:&quot;My favorite Account&quot;
      },
      &quot;description&quot;:&quot;Preferred account&quot;,
      &quot;consumers&quot;: [
        {
          &quot;id&quot;:&quot;NET&quot;,
          &quot;name&quot;:&quot;Net&quot;
        }
      ]
    }
  ]
}
</pre>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>