.api-header {


    min-width:1000px;
    position: absolute;
    background: #0065B7;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 64px;
    &.app {
        position: fixed;
        background: #0065B7;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }
    img.logo-header {
        float: left;
        width: 97px;
        margin-right: 50px;
        padding: 14px 23px;
    }
    button.menu-button {
        display: none;
        height: 100%;
        background: #FFFFFF;
        border: 0;
        color: #FAFAFA;
        float: right;
        outline: none;
        span {
            i {
                color: #BDBDBD;
                font-size: 12px;
                top: 0;
                margin-left: 5px;
            }
        }
    }
    ul.menu-container {
        display: block;
        list-style: none;
        margin: 0;
        float: right;
        li.menu-item {
            float: left;
            position: relative;
            height: 64px;
            &.right {
                float: right;
            }
            a {
                margin: 0;
                color: #FAFAFA;
                font-weight: bold;
                font-size: 16px;
                height: 100%;
                border-radius: 0;
                padding: 14px 23px;
                .md-ripple-container {
                    border-radius: 0;
                }
            }
            md-menu {
                button {
                    margin-top: 6px;
                    height: 53px;
                    width: 53px;
                    border: 3px solid #FAFAFA;
                    img {
                        width: 47px;
                    }
                }
            }
        }
    }
}
md-menu-content {
    font-size: 13px;
    md-menu-item {
        button {
            font-size: 13px !important;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        &.info-user {
            img {
                width: 40px;
                padding-right: 0;
            }
        }
    }
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 1075px) {
    .api-header {
        min-width:0px;
    }

    button.menu-button {
        display: inline-block !important;
        background: transparent !important;
        span {
            color: #FAFAFA;
        }
    }
    ul.menu-container {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        float: none;
        position: absolute;
        top: 64px;
        right: 0;
        left: 0;
        z-index: 6;
        background: #003F8D;
        display: none !important;
        &.is-visible {
            display: block !important;
            margin-top: 0;
            padding: 0;
        }
        li.menu-item {
            display: block;
            padding: 0 !important;
            top: 0 !important;
            float: none !important;
            a {
                display: block;
                float: none;
                line-height: 48px;
                text-align: left;
                font-size: 14px;
                padding: 0 40px;
                top: 0 !important;
                text-decoration: none;
                color: #FAFAFA !important;
            }
        }
    }
    .menu-lateral {
        display: none;
    }
}
