section.learn
  h1.title Learn
  h3.sub-title Welcome to PaaS: the power of BBVA delivered as an API
  div.learn-container(layout="row" layout-sm="column")
    div.learn-section(flex="50" flex-sm="100")
      div.icon
        i.material-icons extension 
      h2 What is an API ?
      p An API expresses a software component in terms of its operations, inputs, outputs, and underlying types, defining functionalities that are independent of their respective implementations. An API definition is used by "API developers" to implement the server side and also by "API Consumers" to develope mobile applications, websites, ect. As an API grows, the API is organized in "domains" to simplify the understanding, mantainance and enable specialization. More at 
          a(href="https://en.wikipedia.org/wiki/Application_programming_interface" target="_blank") Wikipedia
    div.learn-section(flex="50" flex-sm="100")
      i.material-icons language 
      h2 Why we need a PaaS ?
      p To be global! A PaaS (platform as a services) enables to access to BBVA services using the same API across all its local (country) implementations. BBVA developers would be able to develop from visual components to entire applications compatible between countries. Worldwide developers would be able to integrate BBVA services in theirs solutions.
  div.learn-container(layout="row" layout-sm="column")
    div.learn-section(flex="50" flex-sm="100")
      i.material-icons lightbulb_outline 
      h2 Build together
      p API consumers and developers interacts through a collaborative tooling suggesting new services or proposing mofications on existing ones. We embrace the open source best practices and use semantic versionning to organize changes releasing. Brose API catalog and repositories, and suscribe on to our blog to keep in touch.
    div.learn-section(flex="50" flex-sm="100")
      i.material-icons cached 
      h2 Evolutionary approach
      p The API definition is alive. All changes are versioned following <a href="http://semver.org/">Semanthic versioning 2.0.0</a> and anyone can propose a new change in any moment. The API gobernance team will manage the proposal to be revised through the history track avoiding duplicates, to ensure completeness, to enrich and filter with local architects and to ensure compliance. Finally, it will be included in a version.
  div.learn-container(layout="row" layout-sm="column")
    div.learn-section(flex="100" flex-sm="100")
      i.material-icons border_color 
      h2 How is defined the API?
      p The API is defined using <a target="_blank" href="raml.org/raml-10-spec">RAML 1.0 spec</a>: a technology independent, YAML and REST based formal language. RAML is a human- and machine-readable language for the definition of a RESTful application programming interface (API). RAML is designed to improve the specification of such interfaces by providing a format that can serve as a useful contract between the API provider and the API consumers, for example to facilitate providing user documentation and source code stubs for client and server implementations, thereby streamlining and enhancing the definition and development of interoperable applications that utilize RESTful APIs.
      p RAML introduces the innovative concept of resource types and traits for characterizing and reusing patterns of resources and methods on those resources, thereby minimizing the amount of repetition required to specify a RESTful API's design and promoting consistency within and across APIs.
      p This example shows a small part of a RAML API definition :
      ol.raml-code
        li 
          span.version '#%RAML 1.0'
        li
          span.key title:
          span.value GitHub API
        li 
          span.key version:
          span.value v3
        li 
          span.key baseUri:
          span.value https://api.github.com
        li
          span.key mediaType:
          span.value application/json
        li
          span.key securitySchemes:
          
        li 
          span.value.indent - oauth_2_0: !include securitySchemes/oauth_2_0.raml '
        li 
          span.key types:
        li
          span.key.indent Gist:
          span.value !include types/gist.raml
        li
          span.key.indent Gists:
          span.value !include types/gists.raml
        li
          span.key resourceTypes:
        li
          span.key.indent collection:
          span.value !include types/collection.raml
        li
          span.key traits:
        li
          span.key securedBy:
          span.value [ oauth_2_0 ]
        li
          span.key /search:
        li
          span.key.indent /code:
        li
          span.key.indent2 type:
          span.value collection
        li
          span.version ...
      p Learn more on RAML 1.0 at <a target="_blank" href="http://raml.org/developers/raml-100-tutorial">RAML 100 tutorial</a> and <a target="_blank" href="http://raml.org/developers/raml-200-tutorial">RAML 200 tutorial</a>.
  div.learn-container(layout="row" layout-sm="column")
    div.learn-section(flex="100" flex-sm="100")
      i.material-icons pan_tool 
      h2 How to contribute or request a feature?
      p API consumers and developers from many countries interacts through a collaborative tooling suggesting new services or proposing mofications on existing ones. 
      p We embrace the open source best practices so the process will sound familiar for most of developers:
      ol.order-list
        li
          span First at all: check if some other one had opened a similar issue searching at issue section in the domain's repository (see API Catalog)
        li 
          span Fork the domain's repository on your account and make the changes to the RAML files
        li 
          span Open an issue at the domain's repository to describe the proposal
        li 
          span From your fork, make a pull request indicating at the comment "resolves #111" in a new line, where 111 is the issue number
        li 
          span The pull request will be attended and discussed at the issue thead.
      p This process is extensively described at <a target="_blank" href="https://docs.google.com/document/d/1c4QRTDSgE6PziF7va-s5UaDzBMx3TZ7nrcFlKHPU_2Y/edit">this document</a>.
  div.learn-container(layout="row" layout-sm="column")
    div.learn-section(flex="100" flex-sm="100")
      i.material-icons track_changes 
      h2 Traceability and versioning
      p All issues has a comments thread that can be viewed later by its members to revise decissions or by other ones to understand the solution.
      p Each change to the RAML has a semantic comment composed by a prefix indicating the change kind (new feature, documentation, deprecation, etc), a description and at a new line the resolves #111 to correlate the change with its issue. Then, you can view the code changes at the issue comments thread.
      p Each released version has a changelog file including these comments. This is specially usefull for API consumers.
  div.learn-container(layout="row" layout-sm="column")
    div.learn-section(flex="100" flex-sm="100")
      i.material-icons rss_feed
      h2 Keep in touch
      p In the following days we will publish Slack channels for each API domain and also a general one. New API versions, notices and community discussions will be published at these channels. 
      p You also could suscribe to issues to be updated when someone comments at the thread or there are state changes.
