.learn {
  padding: 64px 100px;
  .title {
    text-align: center;
    color: #16366F;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    font-size: 46px;
    line-height: 28px;
    margin: 16px auto;
    padding-top: 20px;
  }
  .sub-title {
    text-align: center;
    color: #616161;
    font-size: 16px;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    line-height: 28px;
    margin: 16px auto;
  }
  .learn-container {
    a {
       font-weight: bold;
       color: #0065B7;
    }
    .learn-section {
      text-align: center;
      padding: 0px 30px;
      ol {
        text-align: initial;
        li {
          font-weight: bold;
          span {
            font-weight: normal;
            margin-left: 10px;
          }
        }
      }
      h2 {
        color: #16366F;
      }
      i {
        color: #16366F;
        font-size: 71px;
        width: auto;
      }
      p {
        text-align: initial;
      }
    }
  }
}

@media handheld and (max-width: 480px),
screen and (max-device-width: 480px),
screen and (max-width: 800px) {
  .learn {
    padding: 50px 30px;
  }
}

//utils

ol.raml-code {
  background: #25292C;
  padding: 5px 30px;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  li {
    color: #72808D;
    text-align: initial;
    span {
      &.version {
        color: #818687;
      }
      &.key {
        color: #C7AF3F;
        &.indent {
          margin-left: 20px;
        }
        &.indent2 {
          margin-left: 40px;
        }
      }
      &.value {
        color: #FAFAFA;
        margin-left: 10px;
        &.indent {
          margin-left: 20px;
        }
      }
    }
  }
}
