if (typeof(resource.is) !== 'undefined')
    .traits
        h3 Traits
        table.table-traits
            tr
                th Name
                th Default Field
                th Fields List
            each traits, index in resource.is
                tr
                    each trait, index in traits
                        td.trait-name= index
                        td= trait.defaultField
                        - var fieldsList = trait.fieldsList.split(',')
                        td
                            ul
                                each field, index in fieldsList
                                    li= field
