.api-developer {
  padding: 64px 100px;
  .slack {
    text-align: right;
    font-size: 10px;
  }
  .title {
    text-align: center;
    color: #16366F;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    font-size: 46px;
    line-height: 28px;
    margin: 16px auto;
    padding-top: 20px;
  }
  .sub-title {
    text-align: center;
    color: #616161;
    font-size: 16px;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    line-height: 28px;
    margin: 16px auto;
  }
  .api-developer-container {
    a {
       font-weight: bold;
       color: #0065B7;
    }
    .api-developer-section {
      text-align: center;
      padding: 0px 30px;
      ul {
        padding: 0px;
      }
      ol {
        text-align: initial;
        li {
          font-weight: bold;
          span {
            font-weight: normal;
            margin-left: 10px;
          }
        }
      }
      h2 {
        color: #16366F;
      }
      i {
        color: #16366F;
        font-size: 71px;
        width: auto;
      }
      p {
        text-align: initial;
      }
      .icon-container {
        text-align: center;
     }
     ol {
       margin-bottom: 100px;
     }
     .badge {
      padding: 12px 21px;
      font-size: 18.72px;
      background: #0065B7;
      color: #FAFAFA;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     }
     .badge-title {
       display: inline-block;
     }
     .example {
        padding: 0px 20px;
        margin: 30px 0px;
        img {
          height: 300px;
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        p {
          padding: 0px 20px;
        }
     }
     &.align-left {
       text-align: initial;
     }
    }
  }
}

@media handheld and (max-width: 480px),
screen and (max-device-width: 480px),
screen and (max-width: 800px) {
  .api-developer {
    padding: 50px 30px;
  }
}
