
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">SECURITY<a href="https://grapi.slack.com/" target="_blank">Security Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/security/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-security-security')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-security-security" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-security-security</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-security-security/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to security management.

Please refer to the following links for further details:
- [Software Token](software-token.md)
</p>
    <h2>RESOURCES</h2>
    <div id="/software-tokens" class="resource-table">
      <div ng-click="api.hide('/software-tokens')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/software-tokens</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing customer's software token information. A software token is a two-factor sign authentication based on an One-Time Password (OTP) generated for a customer's consumption.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: softwaretokensActiveButton === 'get'}" ng-click="api.showMethod($event, 'softwaretokens', 'get')" class="md-primary button-menu">get</button>
                <button id="post" ng-class="{active: softwaretokensActiveButton === 'post'}" ng-click="api.showMethod($event, 'softwaretokens', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="softwaretokens = 'get'; softwaretokensActiveButton = 'get'" ng-show="softwaretokens === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieve information about a software token.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">deviceIdentifier</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>It represents the device information (for example, a mobile phone device) associated to the software token.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>cdda807e-fb9c-47ad-9b0e-9407d349c912</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Software token identifier. It is the token serial number.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="deviceIdentifier display-name">deviceIdentifier</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'It represents the device information (for example, a mobile phone device) associated to the software token. If the enrollment process is done by another user (for example, a third-party with privileges), the value of this attribute will be not available, so it will be not considered as mandatory in this case. If the enrollment process is done by a customer, the value of this attribute must be mandatory.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">softTokenStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status information of the software token.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Software token status identifier.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ACTIVE: It indicates that the software token is enabled and ready for use.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING_VALIDATION: It indicates that the software token has a pending validation by the client. It is the initial status and it is setted in the new enroll process. It changes when the enroll process is invoked.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LOCKED: It indicates that the software token is locked. The software token will be locked when a wrong authentication code has been sent by several times and reach a configurated limit of attempts.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DISABLED: It indicates if the software token has been disabled.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DROPPED: It indicates if the software token has been dropped and it can be removed by a batch process.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description associated to the software token status identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="activationDate display-name">activationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Successful enrollment (activation) date of the software token.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;BB-03-BB0312345678&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;ACTIVE&quot;,
                &quot;name&quot;: &quot;Software token is enabled and ready for use&quot;
            },
            &quot;activationDate&quot;: &quot;2016-10-17T16:25:33Z&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;BB-03-BB0312345678&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;ACTIVE&quot;,
                &quot;name&quot;: &quot;Software token is enabled and ready for use&quot;
            },
            &quot;activationDate&quot;: &quot;2016-10-17T16:25:33Z&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="post" ng-show="softwaretokens === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for create a new software token. It involves the new enroll security process and creates a software token with an initial status.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="deviceIdentifier display-name">deviceIdentifier</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'It represents the device information (for example, a mobile phone device) associated to the software token.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;deviceIdentifier&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;deviceIdentifier&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>A software token has been created with the initial status PENDING_VALIDATION. An authentication code will be returned if the software token is configured to returned it.
</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/software-tokens/BB-03-BB0312345678</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Software token identifier. It is the token serial number.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">softTokenStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status information of the software token.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Software token status identifier.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ACTIVE: It indicates that the software token is enabled and ready for use.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING_VALIDATION: It indicates that the software token has a pending validation by the client. It is the initial status and it is setted in the new enroll process. It changes when the enroll process is invoked.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LOCKED: It indicates that the software token is locked. The software token will be locked when a wrong authentication code has been sent by several times and reach a configurated limit of attempts.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DISABLED: It indicates if the software token has been disabled.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DROPPED: It indicates if the software token has been dropped and it can be removed by a batch process.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description associated to the software token status identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="softwareTokenAuthCode display-name">softwareTokenAuthCode</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'This field is the OTP (or One-Time Password) or authentication code that the mobile application has to use to enroll the token. It will be returned if the software token is configured to do it. The value of this attribute will be encrypted in the response of the POST method and it will be sent as a decrypted value in the validations methods.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;BB-03-BB0312345678&quot;,
        &quot;deviceIdentifier&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;PENDING_VALIDATION&quot;,
            &quot;name&quot;: &quot;Token waiting to be enrolled by user.&quot;
        },
        &quot;softwareTokenAuthCode&quot;: &quot;67698118&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;BB-03-BB0312345678&quot;,
        &quot;deviceIdentifier&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;PENDING_VALIDATION&quot;,
            &quot;name&quot;: &quot;Token waiting to be enrolled by user.&quot;
        },
        &quot;softwareTokenAuthCode&quot;: &quot;67698118&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/software-tokens/{software-token-id}" class="resource-table">
      <div ng-click="api.hide('/software-tokens/{software-token-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/software-tokens/{software-token-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <label class="type-of-services patch">PATCH</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens/{software-token-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the information of a specific software token.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: softwaretokenssoftwaretokenidActiveButton === 'get'}" ng-click="api.showMethod($event, 'softwaretokenssoftwaretokenid', 'get')" class="md-primary button-menu">get</button>
                <button id="patch" ng-class="{active: softwaretokenssoftwaretokenidActiveButton === 'patch'}" ng-click="api.showMethod($event, 'softwaretokenssoftwaretokenid', 'patch')" class="md-primary button-menu">patch</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="softwaretokenssoftwaretokenid = 'get'; softwaretokenssoftwaretokenidActiveButton = 'get'" ng-show="softwaretokenssoftwaretokenid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens/{software-token-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the information associated to a specific software token.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">software-token-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Software token identifier. It is the token serial number.</p>
                        </td>
                        <td><span>BB-03-BB0312345678</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Software token identifier. It is the token serial number.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="deviceIdentifier display-name">deviceIdentifier</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'It represents the device information (for example, a mobile phone device) associated to the software token.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">softTokenStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status information of the software token.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Software token status identifier.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ACTIVE: It indicates that the software token is enabled and ready for use.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING_VALIDATION: It indicates that the software token has a pending validation by the client. It is the initial status and it is setted in the new enroll process. It changes when the enroll process is invoked.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LOCKED: It indicates that the software token is locked. The software token will be locked when a wrong authentication code has been sent by several times and reach a configurated limit of attempts.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DISABLED: It indicates if the software token has been disabled.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DROPPED: It indicates if the software token has been dropped and it can be removed by a batch process.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description associated to the software token status identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="activationDate display-name">activationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Successful enrollment (activation) date of the software token.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;BB-03-BB0312345678&quot;,
        &quot;deviceIdentifier&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;ACTIVE&quot;,
            &quot;name&quot;: &quot;Software token is enabled and ready for use.&quot;
        },
        &quot;activationDate&quot;: &quot;2016-10-17T16:25:33Z&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;BB-03-BB0312345678&quot;,
        &quot;deviceIdentifier&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;ACTIVE&quot;,
            &quot;name&quot;: &quot;Software token is enabled and ready for use.&quot;
        },
        &quot;activationDate&quot;: &quot;2016-10-17T16:25:33Z&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="patch" ng-show="softwaretokenssoftwaretokenid === 'patch'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens/{software-token-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='patch'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for updating the attributes of a software token. It involves the status updating of an existing software token.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">software-token-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Software token identifier. It is the token serial number.</p>
                        </td>
                        <td><span>BB-03-BB0312345678</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="status display-name">status</span><span class="type">object</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Status information of the software token.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Software token status identifier.'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">ACTIVE: It indicates that the software token is enabled and ready for use.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DISABLED: Type indicator for the disabled status. It indicates if the software token has been disabled.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DROPPED: Type indicator for the dropped status. It indicates if the software token has been dropped and it can be removed by a batch process.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;status&quot;: {
        &quot;id&quot;: &quot;DISABLED&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;status&quot;: {
        &quot;id&quot;: &quot;DISABLED&quot;
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/software-tokens/{software-token-id}/activation-data-hash/{activation-data-hash-id}" class="resource-table">
      <div ng-click="api.hide('/software-tokens/{software-token-id}/activation-data-hash/{activation-data-hash-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/software-tokens/{software-token-id}/activation-data-hash/{activation-data-hash-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services put">PUT</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens/{software-token-id}/activation-data-hash/{activation-data-hash-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the information of a specific OTP (or One-Time Password) or authentication code received as a decrypted value by the customer in the new enrollment process. This method is private and it will be consumed only by the security SDK running in the customer's mobile device.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="put" ng-class="{active: softwaretokenssoftwaretokenidactivationdatahashactivationdatahashidActiveButton === 'put'}" ng-click="api.showMethod($event, 'softwaretokenssoftwaretokenidactivationdatahashactivationdatahashid', 'put')" class="md-primary button-menu">put</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="put" ng-init="softwaretokenssoftwaretokenidactivationdatahashactivationdatahashid = 'put'; softwaretokenssoftwaretokenidactivationdatahashactivationdatahashidActiveButton = 'put'" ng-show="softwaretokenssoftwaretokenidactivationdatahashactivationdatahashid === 'put'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens/{software-token-id}/activation-data-hash/{activation-data-hash-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='put'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for validating the authentication code received by the customer in the new enroll process. The authentication code will be part of a concatenation of values as the source application identifier, the customer's reference identify, the customer's mobile number and a public key. This concatenated values will be used in the service implementation as a part of a encrypted activation data that will be sent to the Security server. If the authentication code received by the customer and sent to this endpoint is valid, the software token status will be setted as ACTIVE and it will return a response with the valid decrypted activation data received, also an encrypted seed and an encrypted set of configuration properties, that it will consumed by the customer's device. If the OTP received by the customer and sent to this endpoint is invalid, this method will return a &quot;409 - Conflicted&quot; response.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">software-token-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Software token identifier. It is the token serial number.</p>
                        </td>
                        <td><span>BB-03-BB0312345678</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">activation-data-hash-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>This field is the authentication code that the mobile application has to use to enroll the token as a result from the creation of a software token (new enroll process). The value of this attribute was received by the customer as an authentication code's encrypted value. The security SDK running in the customer's device will decrypt the authentication code received and it will send the decrypted value.
</p>
                        </td>
                        <td><span>31984786</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="authenticationCode display-name">authenticationCode</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'It is the result of the concatenation of value of the source application identifier, the customer\'s reference identify, the customer\'s mobile number and the software token\'s identifier.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="salt display-name">salt</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Value that is used as an additional input to an one-way function that &quot;hashes&quot; a password or passphrase. It is used in the derivation of the key.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="deviceIdentifier display-name">deviceIdentifier</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'It represents the device information (for example, a mobile phone device) associated to the software token.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="applicationCode display-name">applicationCode</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'It represents the application code.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Examples</h3>
                    <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                      <md-option ng-value="'Activation of a created software token from a customer with own device'">Activation of a created software token from a customer with own device</md-option>
                    </md-select>
                    <div class="example">
                      <p ng-show="selectedExample === 'Activation of a created software token from a customer with own device'">Request for activate a new software token for a logged customer, following the enrollment process done by a customer with own device. This method is private and it will be consumed only by the security SDK running in the customer's mobile device.</p>
                      <section ng-show="selectedExample === 'Activation of a created software token from a customer with own device'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'Activation of a created software token from a customer with own device'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'Activation of a created software token from a customer with own device'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'Activation of a created software token from a customer with own device' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;authenticationCode&quot;: &quot;LxKN2UtOpzAQKi5tjr&quot;,
    &quot;salt&quot;: &quot;cA27fB9EIc0=&quot;,
    &quot;deviceIdentifier&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912==&quot;,
    &quot;applicationCode&quot;: &quot;RETAILES&quot;
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'Activation of a created software token from a customer with own device' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;authenticationCode&quot;: &quot;LxKN2UtOpzAQKi5tjr&quot;,
    &quot;salt&quot;: &quot;cA27fB9EIc0=&quot;,
    &quot;deviceIdentifier&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912==&quot;,
    &quot;applicationCode&quot;: &quot;RETAILES&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="activationData display-name">activationData</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Activation data returned by the enroll process. It is the result of the concatenation of value of the source application identifier, the customer\'s reference identify, the customer\'s mobile number and the software token\'s identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="seed display-name">seed</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It is a base64-encoded value. It will be decrypted with the private key of the customer\'s device and it will be saved in the same device.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="configuration display-name">configuration</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It is a base64-encoded set of configuration properties for the software token in a XML format, that it will consumed and saved in the customer\'s device.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;activationData&quot;: &quot;RETAILES#045683235Z#0034696269030#BB-04-RE0400000014&quot;,
        &quot;seed&quot;: &quot;95474dcb8a3dd2c58e7f60aa47d3f7997e28e2c977d0363f848cdb&quot;,
        &quot;configuration&quot;: &quot;PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLT&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;activationData&quot;: &quot;RETAILES#045683235Z#0034696269030#BB-04-RE0400000014&quot;,
        &quot;seed&quot;: &quot;95474dcb8a3dd2c58e7f60aa47d3f7997e28e2c977d0363f848cdb&quot;,
        &quot;configuration&quot;: &quot;PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLT&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>