
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CERTAAS<a href="https://grapi.slack.com/" target="_blank">CERTaaS Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/certaas/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-cryptography-apis-certaas')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-cryptography-apis-certaas" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-cryptography-apis-certaas</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-cryptography-apis-certaas/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes operations to manage certificates using Certificate as a Service.</p>
    <h2>RESOURCES</h2>
    <div id="/certificates" class="resource-table">
      <div ng-click="api.hide('/certificates')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/certificates</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/certificates'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing certificates.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: certificatesActiveButton === 'post'}" ng-click="api.showMethod($event, 'certificates', 'post')" class="md-primary button-menu">post</button>
                <button id="get" ng-class="{active: certificatesActiveButton === 'get'}" ng-click="api.showMethod($event, 'certificates', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="certificates = 'post'; certificatesActiveButton = 'post'" ng-show="certificates === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/certificates'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for requesting a new certificate.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="csr display-name">csr</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Certificate Signing Request.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="days display-name">days</span><span class="type">integer</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Expiration days left. Default 100.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="algorithm display-name">algorithm</span><span class="type">enum</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Certificate algorithm. Default sha256WithRSAEncryption.'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">sha1WithRSAEncryption: SHA with RSA</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">sha256WithRSAEncryption: SHA256 with RSA</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">sha512WithRSAEncryption: SHA512 with RSA</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;csr&quot;: &quot;MIICyjCCAbICAQAwgYQxCzAJBgNVBAYTAkVTMQ8wDQYDVQQIDAZNYWRyaWQxDzANBgNVBAcMBk1hZHJpZDEPMA0GA1UECgwGQ2xpZW50MQ8wDQYDVQQLDAZDbGllbnQxEjAQBgNVBAMMCWxvY2FsaG9zdDEdMBsGCSqGSIb3DQEJARYOaW5mb0BjbGllbnQuZXMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCp0D+e0/o3zhaz9h+TjIgF5QW35LaHX18lXpP5t/x36h+hFKK+pZpgnARmQlTIUgCRpKdXznHZFZDT+Ryaw1rqdu6meFFEUQPti1X8p/Nxprprp0bZQ0ofKv4clyfKnf8HpWz+Sy9sXsPrUsSYn7E9nyqBI5OO9EhC2/jVunAgIIeeHRdAChXjtc6JRmAS9AS61sbUZ4pihUzpPAFnlE86tCHrHnuvoYCmZJPY3BOpwvmsQJgjajr5woJk4Wxxbb/Q/YzTYGpi8ZRz460NSbG3hK9NPlhIq+39JBSKof0ebK+dZNsYmgt+3LcPp9Qs4LO+a003KkMvS6Vui9AO4pP3AgMBAAGgADANBgkqhkiG9w0BAQsFAAOCAQEAgTi52hs9kh0BXaUJ0nTh08z7VMPUKNRA9G9OCz2w4j+01nlc4tUHszE28HOXwHFp+p6ZaifyEWVWK7i1mlB7ivqWZQED+5LzrWyJH4SyZC13Qh2TrIgR6LL6rPUpPkNAeNX1NxSNA/dWPC1YyYMiFIhJhCamqpdMEldMKZCMQ21nJLQo2gYH18hQWdE/squFtGHvbaaBTjOr4PGZeIR6lbrO8r4glLL1bm7zY3ifbBicdjaC7X9KRZsLiDi5SUx4/0QDxPCyL8QuBDO1F74UsugBTjRVa82V80MK+Ju+M7uQIqak0HxxwgBZuarrCoPjk5AL5UuisVp0NGX8DIMSrA==&quot;,
    &quot;algorithm&quot;: &quot;sha256WithRSAEncryption&quot;,
    &quot;days&quot;: 100
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;csr&quot;: &quot;MIICyjCCAbICAQAwgYQxCzAJBgNVBAYTAkVTMQ8wDQYDVQQIDAZNYWRyaWQxDzANBgNVBAcMBk1hZHJpZDEPMA0GA1UECgwGQ2xpZW50MQ8wDQYDVQQLDAZDbGllbnQxEjAQBgNVBAMMCWxvY2FsaG9zdDEdMBsGCSqGSIb3DQEJARYOaW5mb0BjbGllbnQuZXMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCp0D+e0/o3zhaz9h+TjIgF5QW35LaHX18lXpP5t/x36h+hFKK+pZpgnARmQlTIUgCRpKdXznHZFZDT+Ryaw1rqdu6meFFEUQPti1X8p/Nxprprp0bZQ0ofKv4clyfKnf8HpWz+Sy9sXsPrUsSYn7E9nyqBI5OO9EhC2/jVunAgIIeeHRdAChXjtc6JRmAS9AS61sbUZ4pihUzpPAFnlE86tCHrHnuvoYCmZJPY3BOpwvmsQJgjajr5woJk4Wxxbb/Q/YzTYGpi8ZRz460NSbG3hK9NPlhIq+39JBSKof0ebK+dZNsYmgt+3LcPp9Qs4LO+a003KkMvS6Vui9AO4pP3AgMBAAGgADANBgkqhkiG9w0BAQsFAAOCAQEAgTi52hs9kh0BXaUJ0nTh08z7VMPUKNRA9G9OCz2w4j+01nlc4tUHszE28HOXwHFp+p6ZaifyEWVWK7i1mlB7ivqWZQED+5LzrWyJH4SyZC13Qh2TrIgR6LL6rPUpPkNAeNX1NxSNA/dWPC1YyYMiFIhJhCamqpdMEldMKZCMQ21nJLQo2gYH18hQWdE/squFtGHvbaaBTjOr4PGZeIR6lbrO8r4glLL1bm7zY3ifbBicdjaC7X9KRZsLiDi5SUx4/0QDxPCyL8QuBDO1F74UsugBTjRVa82V80MK+Ju+M7uQIqak0HxxwgBZuarrCoPjk5AL5UuisVp0NGX8DIMSrA==&quot;,
    &quot;algorithm&quot;: &quot;sha256WithRSAEncryption&quot;,
    &quot;days&quot;: 100
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>The certificate has been created succesfully.
</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created/modified resource.</pre>
                                </td>
                                <td>true</td>
                                <td>https://www.bbvaapis.com/certaas/v0/certificates/CERT01</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="domain display-name">domain</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Common Name or certificate domain.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="email display-name">email</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Certificate owner email.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="orgUnit display-name">orgUnit</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Organizational Unit. I.E. in a X.509 certificate, this field seems to OU field.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="csr display-name">csr</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate Signing Request.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="crt display-name">crt</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate in Base64 encoding string.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate status.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">Authorized: Certificate is valid</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">Expired: Certificate has expired</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">Revoked: Certificate has been revoked</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="statusDate display-name">statusDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Date of last certificate update status in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="expirationDate display-name">expirationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate expiration date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate creation date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="updateDate display-name">updateDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate update date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="days display-name">days</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Expiration days left. Default 100.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;10358823442617732191&quot;,
        &quot;csr&quot;: &quot;-----BEGIN CERTIFICATE REQUEST-----\nMIIC3jCCAcYCAQAwgZgxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8w\nDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoMBEJCVkExJDAiBgNVBAsMG0RlcGFydGFt\nZW50byBEZSBJbmZvcm1hdGljYTEUMBIGA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkq\nhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC\nAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH\n/IqLvQHXcjN/XUtY8rVHy6zWVV7s35NgMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko\n8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFnyEt9a8oPllgVYkoG+TeoD22/DNV3Kt2Kj\nVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJ\no9ua62VFsHx+YXnXb08yzml/I8K4rGcqgo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/l\nysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IB\nAQAtk+qqFRX/E4/LkoCXAo5nC9UmOXQc9URaODgoilW4lJJTCgmXPADo2VWVzi9S\np+F/VnwZ2xOcZnRQSnovc4flpwqhULgl53q33DrdQGLVa3TMGxoR0wdccWMTVZL5\nr34BsI4IUgNrdZtwdcTKQbG9i05EWk+udSlkAqPQbgZ2Yvx7WgVVQKPYQcgQeTB7\nDt/7ezLq7s1D05yaMLdOEnVZo8nTDGf5jG82fSwxQAWgYtaIpP7zilflWSo4E3dN\nNKv+0W3vcxgBi6m7mZy/8k+o1bs6IobZbRpvg8Jn5bm7ow1+P4xssRvgukqkcTv5\ns3fTdzT124vem7CsTYa3OSXM\n-----END CERTIFICATE REQUEST-----\n&quot;,
        &quot;crt&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIID8jCCAtqgAwIBAgIJAI/B7wmkOAxhMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD\nVQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxITAfBgNV\nBAoMGElOTk9WQVRJT04gNCBTRUNVUklUWSBTTDESMBAGA1UECwwJU2VjRGV2T3Bz\nMRQwEgYDVQQDDAt3d3cuaTRzLmNvbTEbMBkGCSqGSIb3DQEJARYMaW5mb0BpNHMu\nY29tMB4XDTE2MTIwNzE2MDIxNloXDTE2MTIwNzE2MDM1NlowgZgxCzAJBgNVBAYT\nAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8wDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoM\nBEJCVkExJDAiBgNVBAsMG0RlcGFydGFtZW50byBEZSBJbmZvcm1hdGljYTEUMBIG\nA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkqhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCC\nASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E\n2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH/IqLvQHXcjN/XUtY8rVHy6zWVV7s35Ng\nMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFny\nEt9a8oPllgVYkoG+TeoD22/DNV3Kt2KjVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZ\nOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJo9ua62VFsHx+YXnXb08yzml/I8K4rGcq\ngo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/lysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUC\nAwEAAaM8MDowDAYDVR0TBAUwAwEBADALBgNVHQ8EBAMCBLAwHQYDVR0OBBYEFFzO\nHByUCrpTf9vzRkMhJDUh/vuSMA0GCSqGSIb3DQEBCwUAA4IBAQBcpCRyy2BVdzH0\nQXa+6pk5WYtqtfdCJOT1NuZgZ0Rjgkns0rmvSGTJmSIg0pDemtPmNbw1MLJiqPBH\nI226wXz6IjtlHtA6V1Z3TN6m+HwCCfdR7ikA/Xzl6IDFgZV26kZcNLwfFeG96gP1\nqAd7fXRYSpvT/Y2+ApAu+gYGa5MjdPoFaDaKEFCr8myaHlC1WhU3pbC2PplrfoEc\nqsL63ZSHYaHpRdANHAidBLsywk4rmwdrIej8D7sF9Sy3F8tW7jvnQ1kKyRKuCHSZ\n1sFv7zFCzwAU1cfrvYzNPdFw+tSjckTWRmZOvAFUlpiuDFfBBXahbhJo4RnQGhvz\nmFMiIeJO\n-----END CERTIFICATE-----\n&quot;,
        &quot;status&quot;: &quot;Authorized&quot;,
        &quot;statusDate&quot;: &quot;2016-12-07T15:16:58.507+00:00&quot;,
        &quot;expirationDate&quot;: &quot;2016-12-07T15:16:58.000+00:00&quot;,
        &quot;creationDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
        &quot;updateDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
        &quot;days&quot;: 100
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;10358823442617732191&quot;,
        &quot;csr&quot;: &quot;-----BEGIN CERTIFICATE REQUEST-----\nMIIC3jCCAcYCAQAwgZgxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8w\nDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoMBEJCVkExJDAiBgNVBAsMG0RlcGFydGFt\nZW50byBEZSBJbmZvcm1hdGljYTEUMBIGA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkq\nhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC\nAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH\n/IqLvQHXcjN/XUtY8rVHy6zWVV7s35NgMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko\n8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFnyEt9a8oPllgVYkoG+TeoD22/DNV3Kt2Kj\nVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJ\no9ua62VFsHx+YXnXb08yzml/I8K4rGcqgo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/l\nysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IB\nAQAtk+qqFRX/E4/LkoCXAo5nC9UmOXQc9URaODgoilW4lJJTCgmXPADo2VWVzi9S\np+F/VnwZ2xOcZnRQSnovc4flpwqhULgl53q33DrdQGLVa3TMGxoR0wdccWMTVZL5\nr34BsI4IUgNrdZtwdcTKQbG9i05EWk+udSlkAqPQbgZ2Yvx7WgVVQKPYQcgQeTB7\nDt/7ezLq7s1D05yaMLdOEnVZo8nTDGf5jG82fSwxQAWgYtaIpP7zilflWSo4E3dN\nNKv+0W3vcxgBi6m7mZy/8k+o1bs6IobZbRpvg8Jn5bm7ow1+P4xssRvgukqkcTv5\ns3fTdzT124vem7CsTYa3OSXM\n-----END CERTIFICATE REQUEST-----\n&quot;,
        &quot;crt&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIID8jCCAtqgAwIBAgIJAI/B7wmkOAxhMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD\nVQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxITAfBgNV\nBAoMGElOTk9WQVRJT04gNCBTRUNVUklUWSBTTDESMBAGA1UECwwJU2VjRGV2T3Bz\nMRQwEgYDVQQDDAt3d3cuaTRzLmNvbTEbMBkGCSqGSIb3DQEJARYMaW5mb0BpNHMu\nY29tMB4XDTE2MTIwNzE2MDIxNloXDTE2MTIwNzE2MDM1NlowgZgxCzAJBgNVBAYT\nAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8wDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoM\nBEJCVkExJDAiBgNVBAsMG0RlcGFydGFtZW50byBEZSBJbmZvcm1hdGljYTEUMBIG\nA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkqhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCC\nASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E\n2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH/IqLvQHXcjN/XUtY8rVHy6zWVV7s35Ng\nMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFny\nEt9a8oPllgVYkoG+TeoD22/DNV3Kt2KjVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZ\nOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJo9ua62VFsHx+YXnXb08yzml/I8K4rGcq\ngo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/lysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUC\nAwEAAaM8MDowDAYDVR0TBAUwAwEBADALBgNVHQ8EBAMCBLAwHQYDVR0OBBYEFFzO\nHByUCrpTf9vzRkMhJDUh/vuSMA0GCSqGSIb3DQEBCwUAA4IBAQBcpCRyy2BVdzH0\nQXa+6pk5WYtqtfdCJOT1NuZgZ0Rjgkns0rmvSGTJmSIg0pDemtPmNbw1MLJiqPBH\nI226wXz6IjtlHtA6V1Z3TN6m+HwCCfdR7ikA/Xzl6IDFgZV26kZcNLwfFeG96gP1\nqAd7fXRYSpvT/Y2+ApAu+gYGa5MjdPoFaDaKEFCr8myaHlC1WhU3pbC2PplrfoEc\nqsL63ZSHYaHpRdANHAidBLsywk4rmwdrIej8D7sF9Sy3F8tW7jvnQ1kKyRKuCHSZ\n1sFv7zFCzwAU1cfrvYzNPdFw+tSjckTWRmZOvAFUlpiuDFfBBXahbhJo4RnQGhvz\nmFMiIeJO\n-----END CERTIFICATE-----\n&quot;,
        &quot;status&quot;: &quot;Authorized&quot;,
        &quot;statusDate&quot;: &quot;2016-12-07T15:16:58.507+00:00&quot;,
        &quot;expirationDate&quot;: &quot;2016-12-07T15:16:58.000+00:00&quot;,
        &quot;creationDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
        &quot;updateDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
        &quot;days&quot;: 100
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="get" ng-show="certificates === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/certificates'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving information about all certificates of an application.
</p>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="domain display-name">domain</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Common Name or certificate domain.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="email display-name">email</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Certificate owner email.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="orgUnit display-name">orgUnit</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Organizational Unit. I.E. in a X.509 certificate, this field seems to OU field.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="csr display-name">csr</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate Signing Request.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="crt display-name">crt</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate in Base64 encoding string.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate status.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">Authorized: Certificate is valid</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">Expired: Certificate has expired</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">Revoked: Certificate has been revoked</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="statusDate display-name">statusDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Date of last certificate update status in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="expirationDate display-name">expirationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate expiration date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate creation date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="updateDate display-name">updateDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate update date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="days display-name">days</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Expiration days left.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;10358823442617732191.0&quot;,
            &quot;csr&quot;: &quot;-----BEGIN CERTIFICATE REQUEST-----\nMIIC3jCCAcYCAQAwgZgxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8w\nDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoMBEJCVkExJDAiBgNVBAsMG0RlcGFydGFt\nZW50byBEZSBJbmZvcm1hdGljYTEUMBIGA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkq\nhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC\nAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH\n/IqLvQHXcjN/XUtY8rVHy6zWVV7s35NgMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko\n8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFnyEt9a8oPllgVYkoG+TeoD22/DNV3Kt2Kj\nVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJ\no9ua62VFsHx+YXnXb08yzml/I8K4rGcqgo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/l\nysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IB\nAQAtk+qqFRX/E4/LkoCXAo5nC9UmOXQc9URaODgoilW4lJJTCgmXPADo2VWVzi9S\np+F/VnwZ2xOcZnRQSnovc4flpwqhULgl53q33DrdQGLVa3TMGxoR0wdccWMTVZL5\nr34BsI4IUgNrdZtwdcTKQbG9i05EWk+udSlkAqPQbgZ2Yvx7WgVVQKPYQcgQeTB7\nDt/7ezLq7s1D05yaMLdOEnVZo8nTDGf5jG82fSwxQAWgYtaIpP7zilflWSo4E3dN\nNKv+0W3vcxgBi6m7mZy/8k+o1bs6IobZbRpvg8Jn5bm7ow1+P4xssRvgukqkcTv5\ns3fTdzT124vem7CsTYa3OSXM\n-----END CERTIFICATE REQUEST-----\n&quot;,
            &quot;crt&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIID8jCCAtqgAwIBAgIJAI/B7wmkOAxhMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD\nVQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxITAfBgNV\nBAoMGElOTk9WQVRJT04gNCBTRUNVUklUWSBTTDESMBAGA1UECwwJU2VjRGV2T3Bz\nMRQwEgYDVQQDDAt3d3cuaTRzLmNvbTEbMBkGCSqGSIb3DQEJARYMaW5mb0BpNHMu\nY29tMB4XDTE2MTIwNzE2MDIxNloXDTE2MTIwNzE2MDM1NlowgZgxCzAJBgNVBAYT\nAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8wDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoM\nBEJCVkExJDAiBgNVBAsMG0RlcGFydGFtZW50byBEZSBJbmZvcm1hdGljYTEUMBIG\nA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkqhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCC\nASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E\n2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH/IqLvQHXcjN/XUtY8rVHy6zWVV7s35Ng\nMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFny\nEt9a8oPllgVYkoG+TeoD22/DNV3Kt2KjVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZ\nOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJo9ua62VFsHx+YXnXb08yzml/I8K4rGcq\ngo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/lysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUC\nAwEAAaM8MDowDAYDVR0TBAUwAwEBADALBgNVHQ8EBAMCBLAwHQYDVR0OBBYEFFzO\nHByUCrpTf9vzRkMhJDUh/vuSMA0GCSqGSIb3DQEBCwUAA4IBAQBcpCRyy2BVdzH0\nQXa+6pk5WYtqtfdCJOT1NuZgZ0Rjgkns0rmvSGTJmSIg0pDemtPmNbw1MLJiqPBH\nI226wXz6IjtlHtA6V1Z3TN6m+HwCCfdR7ikA/Xzl6IDFgZV26kZcNLwfFeG96gP1\nqAd7fXRYSpvT/Y2+ApAu+gYGa5MjdPoFaDaKEFCr8myaHlC1WhU3pbC2PplrfoEc\nqsL63ZSHYaHpRdANHAidBLsywk4rmwdrIej8D7sF9Sy3F8tW7jvnQ1kKyRKuCHSZ\n1sFv7zFCzwAU1cfrvYzNPdFw+tSjckTWRmZOvAFUlpiuDFfBBXahbhJo4RnQGhvz\nmFMiIeJO\n-----END CERTIFICATE-----\n&quot;,
            &quot;status&quot;: &quot;Expired&quot;,
            &quot;statusDate&quot;: &quot;2016-12-07T15:16:58.507+00:00&quot;,
            &quot;expirationDate&quot;: &quot;2016-12-07T15:16:58.000+00:00&quot;,
            &quot;creationDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
            &quot;updateDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
            &quot;days&quot;: 0
        },
        {
            &quot;id&quot;: &quot;10358823442617732193.0&quot;,
            &quot;csr&quot;: &quot;-----BEGIN CERTIFICATE REQUEST-----\nMIIC3jCCAcYCAQAwgZgxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8w\nDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoMBEJCVkExJDAiBgNVBAsMG0RlcGFydGFt\nZW50byBEZSBJbmZvcm1hdGljYTEUMBIGA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkq\nhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC\nAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH\n/IqLvQHXcjN/XUtY8rVHy6zWVV7s35NgMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko\n8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFnyEt9a8oPllgVYkoG+TeoD22/DNV3Kt2Kj\nVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJ\no9ua62VFsHx+YXnXb08yzml/I8K4rGcqgo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/l\nysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IB\nAQAtk+qqFRX/E4/LkoCXAo5nC9UmOXQc9URaODgoilW4lJJTCgmXPADo2VWVzi9S\np+F/VnwZ2xOcZnRQSnovc4flpwqhULgl53q33DrdQGLVa3TMGxoR0wdccWMTVZL5\nr34BsI4IUgNrdZtwdcTKQbG9i05EWk+udSlkAqPQbgZ2Yvx7WgVVQKPYQcgQeTB7\nDt/7ezLq7s1D05yaMLdOEnVZo8nTDGf5jG82fSwxQAWgYtaIpP7zilflWSo4E3dN\nNKv+0W3vcxgBi6m7mZy/8k+o1bs6IobZbRpvg8Jn5bm7ow1+P4xssRvgukqkcTv5\ns3fTdzT124vem7CsTYa3OSXM\n-----END CERTIFICATE REQUEST-----\n&quot;,
            &quot;crt&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIID8jCCAtqgAwIBAgIJAI/B7wmkOAxhMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD\nVQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxITAfBgNV\nBAoMGElOTk9WQVRJT04gNCBTRUNVUklUWSBTTDESMBAGA1UECwwJU2VjRGV2T3Bz\nMRQwEgYDVQQDDAt3d3cuaTRzLmNvbTEbMBkGCSqGSIb3DQEJARYMaW5mb0BpNHMu\nY29tMB4XDTE2MTIwNzE2MDIxNloXDTE2MTIwNzE2MDM1NlowgZgxCzAJBgNVBAYT\nAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8wDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoM\nBEJCVkExJDAiBgNVBAsMG0RlcGFydGFtZW50byBEZSBJbmZvcm1hdGljYTEUMBIG\nA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkqhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCC\nASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E\n2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH/IqLvQHXcjN/XUtY8rVHy6zWVV7s35Ng\nMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFny\nEt9a8oPllgVYkoG+TeoD22/DNV3Kt2KjVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZ\nOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJo9ua62VFsHx+YXnXb08yzml/I8K4rGcq\ngo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/lysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUC\nAwEAAaM8MDowDAYDVR0TBAUwAwEBADALBgNVHQ8EBAMCBLAwHQYDVR0OBBYEFFzO\nHByUCrpTf9vzRkMhJDUh/vuSMA0GCSqGSIb3DQEBCwUAA4IBAQBcpCRyy2BVdzH0\nQXa+6pk5WYtqtfdCJOT1NuZgZ0Rjgkns0rmvSGTJmSIg0pDemtPmNbw1MLJiqPBH\nI226wXz6IjtlHtA6V1Z3TN6m+HwCCfdR7ikA/Xzl6IDFgZV26kZcNLwfFeG96gP1\nqAd7fXRYSpvT/Y2+ApAu+gYGa5MjdPoFaDaKEFCr8myaHlC1WhU3pbC2PplrfoEc\nqsL63ZSHYaHpRdANHAidBLsywk4rmwdrIej8D7sF9Sy3F8tW7jvnQ1kKyRKuCHSZ\n1sFv7zFCzwAU1cfrvYzNPdFw+tSjckTWRmZOvAFUlpiuDFfBBXahbhJo4RnQGhvz\nmFMiIeJO\n-----END CERTIFICATE-----\n&quot;,
            &quot;status&quot;: &quot;Revoked&quot;,
            &quot;statusDate&quot;: &quot;2016-12-07T16:02:16.564+00:00&quot;,
            &quot;expirationDate&quot;: &quot;2016-12-07T16:03:56.000+00:00&quot;,
            &quot;creationDate&quot;: &quot;2016-12-07T16:02:16.575Z&quot;,
            &quot;updateDate&quot;: &quot;2016-12-07T16:02:16.575Z&quot;,
            &quot;days&quot;: 0
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;10358823442617732191.0&quot;,
            &quot;csr&quot;: &quot;-----BEGIN CERTIFICATE REQUEST-----\nMIIC3jCCAcYCAQAwgZgxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8w\nDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoMBEJCVkExJDAiBgNVBAsMG0RlcGFydGFt\nZW50byBEZSBJbmZvcm1hdGljYTEUMBIGA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkq\nhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC\nAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH\n/IqLvQHXcjN/XUtY8rVHy6zWVV7s35NgMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko\n8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFnyEt9a8oPllgVYkoG+TeoD22/DNV3Kt2Kj\nVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJ\no9ua62VFsHx+YXnXb08yzml/I8K4rGcqgo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/l\nysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IB\nAQAtk+qqFRX/E4/LkoCXAo5nC9UmOXQc9URaODgoilW4lJJTCgmXPADo2VWVzi9S\np+F/VnwZ2xOcZnRQSnovc4flpwqhULgl53q33DrdQGLVa3TMGxoR0wdccWMTVZL5\nr34BsI4IUgNrdZtwdcTKQbG9i05EWk+udSlkAqPQbgZ2Yvx7WgVVQKPYQcgQeTB7\nDt/7ezLq7s1D05yaMLdOEnVZo8nTDGf5jG82fSwxQAWgYtaIpP7zilflWSo4E3dN\nNKv+0W3vcxgBi6m7mZy/8k+o1bs6IobZbRpvg8Jn5bm7ow1+P4xssRvgukqkcTv5\ns3fTdzT124vem7CsTYa3OSXM\n-----END CERTIFICATE REQUEST-----\n&quot;,
            &quot;crt&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIID8jCCAtqgAwIBAgIJAI/B7wmkOAxhMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD\nVQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxITAfBgNV\nBAoMGElOTk9WQVRJT04gNCBTRUNVUklUWSBTTDESMBAGA1UECwwJU2VjRGV2T3Bz\nMRQwEgYDVQQDDAt3d3cuaTRzLmNvbTEbMBkGCSqGSIb3DQEJARYMaW5mb0BpNHMu\nY29tMB4XDTE2MTIwNzE2MDIxNloXDTE2MTIwNzE2MDM1NlowgZgxCzAJBgNVBAYT\nAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8wDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoM\nBEJCVkExJDAiBgNVBAsMG0RlcGFydGFtZW50byBEZSBJbmZvcm1hdGljYTEUMBIG\nA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkqhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCC\nASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E\n2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH/IqLvQHXcjN/XUtY8rVHy6zWVV7s35Ng\nMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFny\nEt9a8oPllgVYkoG+TeoD22/DNV3Kt2KjVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZ\nOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJo9ua62VFsHx+YXnXb08yzml/I8K4rGcq\ngo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/lysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUC\nAwEAAaM8MDowDAYDVR0TBAUwAwEBADALBgNVHQ8EBAMCBLAwHQYDVR0OBBYEFFzO\nHByUCrpTf9vzRkMhJDUh/vuSMA0GCSqGSIb3DQEBCwUAA4IBAQBcpCRyy2BVdzH0\nQXa+6pk5WYtqtfdCJOT1NuZgZ0Rjgkns0rmvSGTJmSIg0pDemtPmNbw1MLJiqPBH\nI226wXz6IjtlHtA6V1Z3TN6m+HwCCfdR7ikA/Xzl6IDFgZV26kZcNLwfFeG96gP1\nqAd7fXRYSpvT/Y2+ApAu+gYGa5MjdPoFaDaKEFCr8myaHlC1WhU3pbC2PplrfoEc\nqsL63ZSHYaHpRdANHAidBLsywk4rmwdrIej8D7sF9Sy3F8tW7jvnQ1kKyRKuCHSZ\n1sFv7zFCzwAU1cfrvYzNPdFw+tSjckTWRmZOvAFUlpiuDFfBBXahbhJo4RnQGhvz\nmFMiIeJO\n-----END CERTIFICATE-----\n&quot;,
            &quot;status&quot;: &quot;Expired&quot;,
            &quot;statusDate&quot;: &quot;2016-12-07T15:16:58.507+00:00&quot;,
            &quot;expirationDate&quot;: &quot;2016-12-07T15:16:58.000+00:00&quot;,
            &quot;creationDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
            &quot;updateDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
            &quot;days&quot;: 0
        },
        {
            &quot;id&quot;: &quot;10358823442617732193.0&quot;,
            &quot;csr&quot;: &quot;-----BEGIN CERTIFICATE REQUEST-----\nMIIC3jCCAcYCAQAwgZgxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8w\nDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoMBEJCVkExJDAiBgNVBAsMG0RlcGFydGFt\nZW50byBEZSBJbmZvcm1hdGljYTEUMBIGA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkq\nhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC\nAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH\n/IqLvQHXcjN/XUtY8rVHy6zWVV7s35NgMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko\n8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFnyEt9a8oPllgVYkoG+TeoD22/DNV3Kt2Kj\nVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJ\no9ua62VFsHx+YXnXb08yzml/I8K4rGcqgo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/l\nysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IB\nAQAtk+qqFRX/E4/LkoCXAo5nC9UmOXQc9URaODgoilW4lJJTCgmXPADo2VWVzi9S\np+F/VnwZ2xOcZnRQSnovc4flpwqhULgl53q33DrdQGLVa3TMGxoR0wdccWMTVZL5\nr34BsI4IUgNrdZtwdcTKQbG9i05EWk+udSlkAqPQbgZ2Yvx7WgVVQKPYQcgQeTB7\nDt/7ezLq7s1D05yaMLdOEnVZo8nTDGf5jG82fSwxQAWgYtaIpP7zilflWSo4E3dN\nNKv+0W3vcxgBi6m7mZy/8k+o1bs6IobZbRpvg8Jn5bm7ow1+P4xssRvgukqkcTv5\ns3fTdzT124vem7CsTYa3OSXM\n-----END CERTIFICATE REQUEST-----\n&quot;,
            &quot;crt&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIID8jCCAtqgAwIBAgIJAI/B7wmkOAxhMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD\nVQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxITAfBgNV\nBAoMGElOTk9WQVRJT04gNCBTRUNVUklUWSBTTDESMBAGA1UECwwJU2VjRGV2T3Bz\nMRQwEgYDVQQDDAt3d3cuaTRzLmNvbTEbMBkGCSqGSIb3DQEJARYMaW5mb0BpNHMu\nY29tMB4XDTE2MTIwNzE2MDIxNloXDTE2MTIwNzE2MDM1NlowgZgxCzAJBgNVBAYT\nAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8wDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoM\nBEJCVkExJDAiBgNVBAsMG0RlcGFydGFtZW50byBEZSBJbmZvcm1hdGljYTEUMBIG\nA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkqhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCC\nASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E\n2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH/IqLvQHXcjN/XUtY8rVHy6zWVV7s35Ng\nMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFny\nEt9a8oPllgVYkoG+TeoD22/DNV3Kt2KjVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZ\nOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJo9ua62VFsHx+YXnXb08yzml/I8K4rGcq\ngo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/lysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUC\nAwEAAaM8MDowDAYDVR0TBAUwAwEBADALBgNVHQ8EBAMCBLAwHQYDVR0OBBYEFFzO\nHByUCrpTf9vzRkMhJDUh/vuSMA0GCSqGSIb3DQEBCwUAA4IBAQBcpCRyy2BVdzH0\nQXa+6pk5WYtqtfdCJOT1NuZgZ0Rjgkns0rmvSGTJmSIg0pDemtPmNbw1MLJiqPBH\nI226wXz6IjtlHtA6V1Z3TN6m+HwCCfdR7ikA/Xzl6IDFgZV26kZcNLwfFeG96gP1\nqAd7fXRYSpvT/Y2+ApAu+gYGa5MjdPoFaDaKEFCr8myaHlC1WhU3pbC2PplrfoEc\nqsL63ZSHYaHpRdANHAidBLsywk4rmwdrIej8D7sF9Sy3F8tW7jvnQ1kKyRKuCHSZ\n1sFv7zFCzwAU1cfrvYzNPdFw+tSjckTWRmZOvAFUlpiuDFfBBXahbhJo4RnQGhvz\nmFMiIeJO\n-----END CERTIFICATE-----\n&quot;,
            &quot;status&quot;: &quot;Revoked&quot;,
            &quot;statusDate&quot;: &quot;2016-12-07T16:02:16.564+00:00&quot;,
            &quot;expirationDate&quot;: &quot;2016-12-07T16:03:56.000+00:00&quot;,
            &quot;creationDate&quot;: &quot;2016-12-07T16:02:16.575Z&quot;,
            &quot;updateDate&quot;: &quot;2016-12-07T16:02:16.575Z&quot;,
            &quot;days&quot;: 0
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/certificates/update-status" class="resource-table">
      <div ng-click="api.hide('/certificates/update-status')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/certificates/update-status</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/certificates/update-status'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for updating status of all certificates of an application
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: certificatesupdatestatusActiveButton === 'post'}" ng-click="api.showMethod($event, 'certificatesupdatestatus', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="certificatesupdatestatus = 'post'; certificatesupdatestatusActiveButton = 'post'" ng-show="certificatesupdatestatus === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/certificates/update-status'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for updating status of all certificates of an application
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Certificate status'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">Authorized: Certificate is valid</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">Expired: Certificate has expired</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">Revoked: Certificate has been revoked</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;status&quot;: &quot;Revoked&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;status&quot;: &quot;Revoked&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Certificates updated successfully.
</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/certificates/{certificate-id}" class="resource-table">
      <div ng-click="api.hide('/certificates/{certificate-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/certificates/{certificate-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <label class="type-of-services patch">PATCH</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/certificates/{certificate-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for getting information about a certificate from its identifier.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: certificatescertificateidActiveButton === 'get'}" ng-click="api.showMethod($event, 'certificatescertificateid', 'get')" class="md-primary button-menu">get</button>
                <button id="patch" ng-class="{active: certificatescertificateidActiveButton === 'patch'}" ng-click="api.showMethod($event, 'certificatescertificateid', 'patch')" class="md-primary button-menu">patch</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="certificatescertificateid = 'get'; certificatescertificateidActiveButton = 'get'" ng-show="certificatescertificateid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/certificates/{certificate-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for getting information of determined certificate.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">certificate-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Certificate identifier.</p>
                        </td>
                        <td><span>CERT01</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="domain display-name">domain</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Common Name or certificate domain.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="email display-name">email</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Certificate owner email.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="orgUnit display-name">orgUnit</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Organizational Unit. I.E. in a X.509 certificate, this field seems to OU field.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="csr display-name">csr</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate Signing Request.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="crt display-name">crt</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate in Base64 encoding string.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate status.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">Authorized: Certificate is valid</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">Expired: Certificate has expired</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">Revoked: Certificate has been revoked</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="statusDate display-name">statusDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Date of last certificate update status in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="expirationDate display-name">expirationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate expiration date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate creation date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="updateDate display-name">updateDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Certificate update date in yyyy-mm-ddT23:59:60Z (RFC3339) format.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="days display-name">days</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Expiration days left. Default 100.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;10358823442617732191.0&quot;,
        &quot;csr&quot;: &quot;-----BEGIN CERTIFICATE REQUEST-----\nMIIC3jCCAcYCAQAwgZgxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8w\nDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoMBEJCVkExJDAiBgNVBAsMG0RlcGFydGFt\nZW50byBEZSBJbmZvcm1hdGljYTEUMBIGA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkq\nhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC\nAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH\n/IqLvQHXcjN/XUtY8rVHy6zWVV7s35NgMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko\n8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFnyEt9a8oPllgVYkoG+TeoD22/DNV3Kt2Kj\nVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJ\no9ua62VFsHx+YXnXb08yzml/I8K4rGcqgo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/l\nysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IB\nAQAtk+qqFRX/E4/LkoCXAo5nC9UmOXQc9URaODgoilW4lJJTCgmXPADo2VWVzi9S\np+F/VnwZ2xOcZnRQSnovc4flpwqhULgl53q33DrdQGLVa3TMGxoR0wdccWMTVZL5\nr34BsI4IUgNrdZtwdcTKQbG9i05EWk+udSlkAqPQbgZ2Yvx7WgVVQKPYQcgQeTB7\nDt/7ezLq7s1D05yaMLdOEnVZo8nTDGf5jG82fSwxQAWgYtaIpP7zilflWSo4E3dN\nNKv+0W3vcxgBi6m7mZy/8k+o1bs6IobZbRpvg8Jn5bm7ow1+P4xssRvgukqkcTv5\ns3fTdzT124vem7CsTYa3OSXM\n-----END CERTIFICATE REQUEST-----\n&quot;,
        &quot;crt&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIID8jCCAtqgAwIBAgIJAI/B7wmkOAxhMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD\nVQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxITAfBgNV\nBAoMGElOTk9WQVRJT04gNCBTRUNVUklUWSBTTDESMBAGA1UECwwJU2VjRGV2T3Bz\nMRQwEgYDVQQDDAt3d3cuaTRzLmNvbTEbMBkGCSqGSIb3DQEJARYMaW5mb0BpNHMu\nY29tMB4XDTE2MTIwNzE2MDIxNloXDTE2MTIwNzE2MDM1NlowgZgxCzAJBgNVBAYT\nAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8wDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoM\nBEJCVkExJDAiBgNVBAsMG0RlcGFydGFtZW50byBEZSBJbmZvcm1hdGljYTEUMBIG\nA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkqhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCC\nASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E\n2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH/IqLvQHXcjN/XUtY8rVHy6zWVV7s35Ng\nMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFny\nEt9a8oPllgVYkoG+TeoD22/DNV3Kt2KjVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZ\nOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJo9ua62VFsHx+YXnXb08yzml/I8K4rGcq\ngo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/lysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUC\nAwEAAaM8MDowDAYDVR0TBAUwAwEBADALBgNVHQ8EBAMCBLAwHQYDVR0OBBYEFFzO\nHByUCrpTf9vzRkMhJDUh/vuSMA0GCSqGSIb3DQEBCwUAA4IBAQBcpCRyy2BVdzH0\nQXa+6pk5WYtqtfdCJOT1NuZgZ0Rjgkns0rmvSGTJmSIg0pDemtPmNbw1MLJiqPBH\nI226wXz6IjtlHtA6V1Z3TN6m+HwCCfdR7ikA/Xzl6IDFgZV26kZcNLwfFeG96gP1\nqAd7fXRYSpvT/Y2+ApAu+gYGa5MjdPoFaDaKEFCr8myaHlC1WhU3pbC2PplrfoEc\nqsL63ZSHYaHpRdANHAidBLsywk4rmwdrIej8D7sF9Sy3F8tW7jvnQ1kKyRKuCHSZ\n1sFv7zFCzwAU1cfrvYzNPdFw+tSjckTWRmZOvAFUlpiuDFfBBXahbhJo4RnQGhvz\nmFMiIeJO\n-----END CERTIFICATE-----\n&quot;,
        &quot;status&quot;: &quot;Expired&quot;,
        &quot;statusDate&quot;: &quot;2016-12-07T15:16:58.507+00:00&quot;,
        &quot;expirationDate&quot;: &quot;2016-12-07T15:16:58.000+00:00&quot;,
        &quot;creationDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
        &quot;updateDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
        &quot;days&quot;: 0
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;10358823442617732191.0&quot;,
        &quot;csr&quot;: &quot;-----BEGIN CERTIFICATE REQUEST-----\nMIIC3jCCAcYCAQAwgZgxCzAJBgNVBAYTAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8w\nDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoMBEJCVkExJDAiBgNVBAsMG0RlcGFydGFt\nZW50byBEZSBJbmZvcm1hdGljYTEUMBIGA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkq\nhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC\nAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH\n/IqLvQHXcjN/XUtY8rVHy6zWVV7s35NgMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko\n8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFnyEt9a8oPllgVYkoG+TeoD22/DNV3Kt2Kj\nVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJ\no9ua62VFsHx+YXnXb08yzml/I8K4rGcqgo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/l\nysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IB\nAQAtk+qqFRX/E4/LkoCXAo5nC9UmOXQc9URaODgoilW4lJJTCgmXPADo2VWVzi9S\np+F/VnwZ2xOcZnRQSnovc4flpwqhULgl53q33DrdQGLVa3TMGxoR0wdccWMTVZL5\nr34BsI4IUgNrdZtwdcTKQbG9i05EWk+udSlkAqPQbgZ2Yvx7WgVVQKPYQcgQeTB7\nDt/7ezLq7s1D05yaMLdOEnVZo8nTDGf5jG82fSwxQAWgYtaIpP7zilflWSo4E3dN\nNKv+0W3vcxgBi6m7mZy/8k+o1bs6IobZbRpvg8Jn5bm7ow1+P4xssRvgukqkcTv5\ns3fTdzT124vem7CsTYa3OSXM\n-----END CERTIFICATE REQUEST-----\n&quot;,
        &quot;crt&quot;: &quot;-----BEGIN CERTIFICATE-----\nMIID8jCCAtqgAwIBAgIJAI/B7wmkOAxhMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD\nVQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxITAfBgNV\nBAoMGElOTk9WQVRJT04gNCBTRUNVUklUWSBTTDESMBAGA1UECwwJU2VjRGV2T3Bz\nMRQwEgYDVQQDDAt3d3cuaTRzLmNvbTEbMBkGCSqGSIb3DQEJARYMaW5mb0BpNHMu\nY29tMB4XDTE2MTIwNzE2MDIxNloXDTE2MTIwNzE2MDM1NlowgZgxCzAJBgNVBAYT\nAkVTMRAwDgYDVQQIDAdWaXpjYXlhMQ8wDQYDVQQHDAZCaWxiYW8xDTALBgNVBAoM\nBEJCVkExJDAiBgNVBAsMG0RlcGFydGFtZW50byBEZSBJbmZvcm1hdGljYTEUMBIG\nA1UEAwwLd3d3LmJidmEuZXMxGzAZBgkqhkiG9w0BCQEWDGluZm9AYmJ2YS5lczCC\nASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3s+fZR7GG4d9KVfrr5Jd3E\n2yAWEsLys8YQVyRXG9dTgr4EiQXihJxH/IqLvQHXcjN/XUtY8rVHy6zWVV7s35Ng\nMiXOqrYPxwFjMtIiSeKPiu89pKIUH3Ko8Xf1nG0rK5DZBBoSTf7MgDkyvFYtcFny\nEt9a8oPllgVYkoG+TeoD22/DNV3Kt2KjVI6JCJejmTBFDB+5UDStd1b6MmXnB8EZ\nOOd0uIyl5AMogG/xsQI0mE6G2msjzcQJo9ua62VFsHx+YXnXb08yzml/I8K4rGcq\ngo0o0dJrb2q9Tg+XOeZcZHLFdrtMS2/lysNQdF+LJUbc9yGc8hJwHYLkzDzl6VUC\nAwEAAaM8MDowDAYDVR0TBAUwAwEBADALBgNVHQ8EBAMCBLAwHQYDVR0OBBYEFFzO\nHByUCrpTf9vzRkMhJDUh/vuSMA0GCSqGSIb3DQEBCwUAA4IBAQBcpCRyy2BVdzH0\nQXa+6pk5WYtqtfdCJOT1NuZgZ0Rjgkns0rmvSGTJmSIg0pDemtPmNbw1MLJiqPBH\nI226wXz6IjtlHtA6V1Z3TN6m+HwCCfdR7ikA/Xzl6IDFgZV26kZcNLwfFeG96gP1\nqAd7fXRYSpvT/Y2+ApAu+gYGa5MjdPoFaDaKEFCr8myaHlC1WhU3pbC2PplrfoEc\nqsL63ZSHYaHpRdANHAidBLsywk4rmwdrIej8D7sF9Sy3F8tW7jvnQ1kKyRKuCHSZ\n1sFv7zFCzwAU1cfrvYzNPdFw+tSjckTWRmZOvAFUlpiuDFfBBXahbhJo4RnQGhvz\nmFMiIeJO\n-----END CERTIFICATE-----\n&quot;,
        &quot;status&quot;: &quot;Expired&quot;,
        &quot;statusDate&quot;: &quot;2016-12-07T15:16:58.507+00:00&quot;,
        &quot;expirationDate&quot;: &quot;2016-12-07T15:16:58.000+00:00&quot;,
        &quot;creationDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
        &quot;updateDate&quot;: &quot;2016-12-07T15:16:58.543Z&quot;,
        &quot;days&quot;: 0
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="patch" ng-show="certificatescertificateid === 'patch'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/certificates/{certificate-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='patch'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for updating status of determined certificate.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">certificate-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Certificate identifier.</p>
                        </td>
                        <td><span>CERT01</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Certificate status.'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">Authorized: Certificate is valid</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">Expired: Certificate has expired</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">Revoked: Certificate has been revoked</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;status&quot;: &quot;Revoked&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;status&quot;: &quot;Revoked&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Certificate updated successfully.
</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>