div(id="login-container")
    .login-card.md-whiteframe-z1
        .header
            img(src="assets/icons/dashboardLogo2.png" alt="logo-bbva")
        .body(layout="column")
            md-input-container
                label BBVA User
                input(ng-model="login.user")
            md-input-container
                label Password
                input(type="password" ng-model="login.password")
        .mail
            a(id="text-message") May we help you?
        .footer-login
            md-button(type="button" name="button" ng-click="login.login()") LOG IN