
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">RELOADS<a href="https://grapi.slack.com/" target="_blank">Reloads Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/reloads/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-paymentmethods-reloads')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-paymentmethods-reloads" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-paymentmethods-reloads</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-paymentmethods-reloads/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to Reloads. A reload is the action to add or deposit cash to a product. This product belongs to a third-party. The operative covers a specific functionality that involves this third-party.
</p>
    <h2>RESOURCES</h2>
    <div id="/reloads" class="resource-table">
      <div ng-click="api.hide('/reloads')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/reloads</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/reloads'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the reloads of a third-party product. For example, BIM(a third-party mobile wallet) is a third-party product that has its own platform.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: reloadsActiveButton === 'post'}" ng-click="api.showMethod($event, 'reloads', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="reloads = 'post'; reloadsActiveButton = 'post'" ng-show="reloads === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/reloads'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a reload. This reload takes the money from a contract of the client to transfer the amount to the product or contract selected.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="reference display-name">reference</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Is a description for the reload that is used as reference.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sentMoney display-name">sentMoney</span><span class="type">sentMoney</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Money that is sent to reload the product.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sentMoney.amount display-name">sentMoney.amount</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Amount of the money that the client has reloaded in the product.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sentMoney.currency display-name">sentMoney.currency</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount. It\'s the currency used in the reload transaction. Currently it only supports PEN currency.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender display-name">sender</span><span class="type">sender</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Is the contract or product that will be charged with the amount of the reload.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender.contractId display-name">sender.contractId</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Unique sender contract identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver display-name">receiver</span><span class="type">receiver</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Is the contract that will receive the amount of the reload. The currency always is the local for the country.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver.productId display-name">receiver.productId</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Unique receiver product identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">BIM: Third-party mobile wallet. The reloads for BIM have the paticularity that in a first time the amount of the reloads goes to an intermediate account of the bank that was created only for this purpose, in the same way, this functionality was created for cover this specific part of a BIM reload.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="exchangeRate display-name">exchangeRate</span><span class="type">exchangeRate</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Exchange rate used in the reload. It represents a preferential exchange rate for a product.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="exchangeRate.code display-name">exchangeRate.code</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Exchange rate code. This code represents a scpecial exchange rate for the product.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;reference&quot;: &quot;BIM reload&quot;,
    &quot;sentMoney&quot;: {
        &quot;currency&quot;: &quot;PEN&quot;,
        &quot;amount&quot;: 200
    },
    &quot;sender&quot;: {
        &quot;contractId&quot;: &quot;12345678901234567890&quot;
    },
    &quot;receiver&quot;: {
        &quot;productId&quot;: &quot;BIM&quot;
    },
    &quot;exchangeRate&quot;: {
        &quot;code&quot;: &quot;1234&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;reference&quot;: &quot;BIM reload&quot;,
    &quot;sentMoney&quot;: {
        &quot;currency&quot;: &quot;PEN&quot;,
        &quot;amount&quot;: 200
    },
    &quot;sender&quot;: {
        &quot;contractId&quot;: &quot;12345678901234567890&quot;
    },
    &quot;receiver&quot;: {
        &quot;productId&quot;: &quot;BIM&quot;
    },
    &quot;exchangeRate&quot;: {
        &quot;code&quot;: &quot;1234&quot;
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/reloads/4567</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique reload identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601(2017-03-17T13:18:05Z) for specifying the date and time when the reload was created.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="reference display-name">reference</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Is a description for the reload that is used as reference.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sentMoney display-name">sentMoney</span><span class="type">sentMoney</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Money that is sent to reload the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sentMoney.amount display-name">sentMoney.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Amount of the money that the client has reloaded in the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sentMoney.currency display-name">sentMoney.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount. It\'s the currency used in the reload transaction. Currently it only supports PEN currency.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sender display-name">sender</span><span class="type">sender</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Is the contract or product that will be charged with the amount of the reload.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sender.contractId display-name">sender.contractId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique sender contract identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sender.reloadAmount display-name">sender.reloadAmount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The amount of cash that the client has reloaded, this amount is represented in the sender\'s currency.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sender.totalAmountCharged display-name">sender.totalAmountCharged</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Is the total amount charged in the sender contract. It includes fees plus the amount of the reload represented in the sender\'s currency.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sender.currency display-name">sender.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount. It\'s the sender\'s currency. Currently it only supports PEN currency.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="receiver display-name">receiver</span><span class="type">receiver</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Is the contract that will receive the amount of the reload. The currency always is the local for the country.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="receiver.contractId display-name">receiver.contractId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique receiver contract identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="receiver.depositedAmount display-name">receiver.depositedAmount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The amount of cash that the receiver contract has received in the reload operation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="exchangeRate display-name">exchangeRate</span><span class="type">exchangeRate</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Exchange rate used in the reload. It represents a preferential exchange rate for a product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="exchangeRate.code display-name">exchangeRate.code</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Exchange rate code. This code represents a scpecial exchange rate for the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="exchangeRate.value display-name">exchangeRate.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Exchange rate value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0123456789&quot;,
        &quot;creationDate&quot;: &quot;2017-03-03T22:08:41Z&quot;,
        &quot;reference&quot;: &quot;BIM reload&quot;,
        &quot;sentMoney&quot;: {
            &quot;amount&quot;: 200,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;sender&quot;: {
            &quot;contractId&quot;: &quot;12345678901234567890&quot;,
            &quot;reloadAmount&quot;: 200,
            &quot;totalAmountCharged&quot;: 205,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;receiver&quot;: {
            &quot;contractId&quot;: &quot;55555678901234567890&quot;,
            &quot;depositedAmount&quot;: 200
        },
        &quot;exchangeRate&quot;: {
            &quot;code&quot;: &quot;1234&quot;,
            &quot;value&quot;: 3.45
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0123456789&quot;,
        &quot;creationDate&quot;: &quot;2017-03-03T22:08:41Z&quot;,
        &quot;reference&quot;: &quot;BIM reload&quot;,
        &quot;sentMoney&quot;: {
            &quot;amount&quot;: 200,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;sender&quot;: {
            &quot;contractId&quot;: &quot;12345678901234567890&quot;,
            &quot;reloadAmount&quot;: 200,
            &quot;totalAmountCharged&quot;: 205,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;receiver&quot;: {
            &quot;contractId&quot;: &quot;55555678901234567890&quot;,
            &quot;depositedAmount&quot;: 200
        },
        &quot;exchangeRate&quot;: {
            &quot;code&quot;: &quot;1234&quot;,
            &quot;value&quot;: 3.45
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>