table.table-properties
    tr
        th Name
        th Description
        th Properties
    each dataType, index in type.properties
        tr
            td.type-name= index
                span.type= dataType.type
            td.type-description= dataType.description
            if (typeof(dataType.items) !== 'undefined')
                td.sub-properties
                    table
                        each subPro, index in dataType.items.properties
                            tr
                                td.sub-propertie-name= index
                                    span.type= subPro.type
                                    if (subPro.required === true)
                                        i.required (required)
                                td= subPro.description
            else
                td -
