each dataType, index in type.properties.data.properties
    tr
        td.type-name= index
            span.type= dataType.type
        td.type-description= dataType.description
        if (typeof(dataType.properties) !== 'undefined')
            td.sub-properties
                table
                    each subPro, index in dataType.properties
                        tr
                            td.sub-propertie-name= index
                                span.type= subPro.type
                                if (subPro.required === true)
                                    i.required (required)
                            td= subPro.description
        else
            td -
