
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">INSURANCES<a href="https://grapi.slack.com/" target="_blank">Insurances Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/insurances/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-insurances')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-insurances" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-insurances</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-insurances/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to Insurances. An Insurance is a Risk-transfer mechanism that ensures full or partial financial compensation for the loss or damage caused by event(s) beyond the control of the insured party. Under an insurance contract, a party (the insurer) indemnifies the other party (the insured) against a specified amount of loss, occurring from specified eventualities within a specified period.
</p>
    <h2>RESOURCES</h2>
    <div id="/insurances" class="resource-table">
      <div ng-click="api.hide('/insurances')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/insurances</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/insurances'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the insurances of a customer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: insurancesActiveButton === 'post'}" ng-click="api.showMethod($event, 'insurances', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="insurances = 'post'; insurancesActiveButton = 'post'" ng-show="insurances === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/insurances'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a new insurance related to one or more beneficiaries.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="relatedContract display-name">relatedContract</span><span class="type">relatedContract</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Related contracts of the insurance. An insurance can have several related contracts.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="relatedContract.contractId display-name">relatedContract.contractId</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier associated to the contract.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="policy display-name">policy</span><span class="type">policy</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Indicates the policy associated to the insurance.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="policy.id display-name">policy.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier for the policy.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">JOINT: This policy insures two persons.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SINGLE: This policy insures one person.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants display-name">participants</span><span class="type">participant [ ]</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'The Participants of the insurance.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants.participant display-name">participants.participant.participantType</span><span class="type">participantType</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Role of the participant in the insurance.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants.participant display-name">participants.participant.participantType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Role identifier. Always declare a holder.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">HOLDER: It refers to the insurance owner.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">BENEFICIARY: It refers to the insurance partner.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants.participant display-name">participants.participant.identityDocument</span><span class="type">identityDocument</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document information related to the participant.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants.participant display-name">participants.participant.identityDocument.documentNumber</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document number.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants.participant display-name">participants.participant.identityDocument.documentType</span><span class="type">documentType</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Document identity type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants.participant display-name">participants.participant.identityDocument.documentType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier document type identity.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">DNI: Identifier national identity document.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants.participant display-name">participants.participant.identityDocument.country</span><span class="type">country</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Country of origin of the document.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="participants.participant display-name">participants.participant.identityDocument.country.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-3166-1 for specifying the country related to the identity document.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="insuranceType display-name">insuranceType</span><span class="type">insuranceType</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Description of insuranceType of the insurance.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="insuranceType.id display-name">insuranceType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Indicator for Credit life insurance.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">CREDIT_LIFE_INSURANCE: Is a life insurance designed to pay off a debt if the borrower dies.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;relatedContract&quot;: {
        &quot;contractId&quot;: &quot;1234567&quot;
    },
    &quot;policy&quot;: {
        &quot;id&quot;: &quot;JOINT&quot;
    },
    &quot;participants&quot;: [
        {
            &quot;participantType&quot;: {
                &quot;id&quot;: &quot;HOLDER&quot;
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;DNI&quot;
                },
                &quot;country&quot;: {
                    &quot;id&quot;: &quot;PE&quot;
                },
                &quot;documentNumber&quot;: &quot;12345678&quot;
            }
        },
        {
            &quot;participantType&quot;: {
                &quot;id&quot;: &quot;BENEFICIARY&quot;
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;DNI&quot;
                },
                &quot;country&quot;: {
                    &quot;id&quot;: &quot;PE&quot;
                },
                &quot;documentNumber&quot;: &quot;12345678&quot;
            }
        }
    ],
    &quot;insuranceType&quot;: {
        &quot;id&quot;: &quot;CREDIT_LIFE_INSURANCE&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;relatedContract&quot;: {
        &quot;contractId&quot;: &quot;1234567&quot;
    },
    &quot;policy&quot;: {
        &quot;id&quot;: &quot;JOINT&quot;
    },
    &quot;participants&quot;: [
        {
            &quot;participantType&quot;: {
                &quot;id&quot;: &quot;HOLDER&quot;
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;DNI&quot;
                },
                &quot;country&quot;: {
                    &quot;id&quot;: &quot;PE&quot;
                },
                &quot;documentNumber&quot;: &quot;12345678&quot;
            }
        },
        {
            &quot;participantType&quot;: {
                &quot;id&quot;: &quot;BENEFICIARY&quot;
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;DNI&quot;
                },
                &quot;country&quot;: {
                    &quot;id&quot;: &quot;PE&quot;
                },
                &quot;documentNumber&quot;: &quot;12345678&quot;
            }
        }
    ],
    &quot;insuranceType&quot;: {
        &quot;id&quot;: &quot;CREDIT_LIFE_INSURANCE&quot;
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/insurances/4567</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Unique insurance identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="paymentMethod display-name">paymentMethod</span><span class="type">paymentMethod</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Payment method selected for the insurance.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="paymentMethod.period display-name">paymentMethod.period</span><span class="type">period</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Assigned period to pay the insurance.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="paymentMethod.period display-name">paymentMethod.period.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Period identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ANNUALLY: Will be paid annually.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MONTHLY: Will be paid monthly.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">QUATERLY: Will be paid quaterly.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">HALF-YEAR: Will be paid half-year.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;1234&quot;,
        &quot;paymentMethod&quot;: {
            &quot;period&quot;: {
                &quot;id&quot;: &quot;ANNUALLY&quot;
            }
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;1234&quot;,
        &quot;paymentMethod&quot;: {
            &quot;period&quot;: {
                &quot;id&quot;: &quot;ANNUALLY&quot;
            }
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/insurances/{insurance-id}" class="resource-table">
      <div ng-click="api.hide('/insurances/{insurance-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/insurances/{insurance-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services delete">DELETE</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/insurances/{insurance-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service to manage a particular insurance.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="delete" ng-class="{active: insurancesinsuranceidActiveButton === 'delete'}" ng-click="api.showMethod($event, 'insurancesinsuranceid', 'delete')" class="md-primary button-menu">delete</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="delete" ng-init="insurancesinsuranceid = 'delete'; insurancesinsuranceidActiveButton = 'delete'" ng-show="insurancesinsuranceid === 'delete'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/insurances/{insurance-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='delete'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for canceling a insurance. Once an insurance has been canceled it cannot be reactivated.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">insurance-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique insurance identifier</p>
                        </td>
                        <td><span>1234</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>