<h2 id="the-new-version-of-api-cards-0-5-0-is-available-">The new version of API cards 0.5.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-343">GABI1-343</a>] - Documentación de enumerados en Cards</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-544">GABI1-544</a>] - Añadir el estado BLOCKED a la lista de estados disponibles de una tarjeta</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-545">GABI1-545</a>] - Permitir la consulta de una activación concreta</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>Added the structure to the status and substatus cards. GABI1-485 (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/857b95c">857b95c</a>)</li>
<li><strong>descriptions:</strong> Changed descriptions in transactions (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/a2e7623">a2e7623</a>)</li>
<li><strong>descriptions:</strong> Fixed some descriptions in blocks (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/f6d03ff">f6d03ff</a>)</li>
<li><strong>descriptions:</strong> Fixed some descriptions in cards and blocks (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/deb89a7">deb89a7</a>)</li>
<li><strong>values:</strong> Added internal as one of the possible kind of blocks. (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/73de2b5">73de2b5</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>repositories:</strong> renames repositories (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/b553c44">b553c44</a>)</li>
<li><strong>view:</strong> Dynamic routing (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/d264534">d264534</a>)       </li>
</ul>
