<h2 id="the-new-version-of-api-catalogs-0-1-0-is-available-">The new version of API catalogs 0.1.0 is available.</h2>
<p>An API to get global catalogs info.</p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-530">GABI1-530</a>] - Consulta tablas corporativas - Ocupaciones-Oficios</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>examples:</strong> add example (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/901ca3f">901ca3f</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/7b9ab5c">7b9ab5c</a>)</li>
<li><strong>rename:</strong> trait (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/7ca502d">7ca502d</a>)</li>
<li><strong>revision:</strong> revision pull request GABI1-530 (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/a0fded5">a0fded5</a>)</li>
<li><strong>trait:</strong> rename trait (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/6643ee8">6643ee8</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>all:</strong> First version for catalogs.raml (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/be6cb71">be6cb71</a>)</li>
<li><strong>all:</strong> First version for catalogs.raml (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/6a548b3">6a548b3</a>)</li>
<li><strong>all:</strong> First version for catalogs.raml (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/e2c93f0">e2c93f0</a>)</li>
<li><strong>all:</strong> First version for catalogs.raml (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/6ae61da">6ae61da</a>)</li>
</ul>
