<h2 id="the-new-version-of-api-transactions-0-3-0-is-available-">The new version of API transactions 0.3.0 is available.</h2>
<h3 id="changes-in-get-transactions">Changes in GET /transactions</h3>
<ul>
<li>New attribute additionalInformation: shows additional information related to this transaction.</li>
</ul>
<h3 id="changes-in-get-transactions-transactions-id">Changes in GET /transactions/transactions-id</h3>
<ul>
<li>New attribute additionalInformation: shows additional information related to this transaction.</li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-655">GABI1-655</a>] - Consulta de Saldo y Movimientos de cuentas</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>character:</strong> scape (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/583a677">583a677</a>)</li>
<li><strong>enum:</strong> add pan (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/a42d91c">a42d91c</a>)</li>
<li><strong>refactor:</strong> delete queryparams from to amount (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/1fd6815">1fd6815</a>)</li>
<li><strong>rename:</strong> rename contractID (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/377c28f">377c28f</a>)</li>
<li><strong>traits:</strong> add traits (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/e7dc6e6">e7dc6e6</a>)</li>
</ul>
