<h2 id="the-new-version-of-api-accounts-0-8-0-is-available-">The new version of API accounts 0.8.0 is available.</h2>
<h3 id="changes-in-get-accounts-accounts-id-indicators">Changes in GET /accounts/accounts-id/indicators</h3>
<ul>
<li>Remove unnecessary indicatorId.</li>
</ul>
<h3 id="changes-in-get-balances">Changes in GET /balances</h3>
<ul>
<li>Add filter balances by account type.</li>
</ul>
<p><br></p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1240">GABI1-1240</a>] - Eliminar indicador innecesario</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1241">GABI1-1241</a>] - Agregar filtro a los balances por el tipo de cuenta</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>delete:</strong> delete indicator (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/6f76172">6f76172</a>)</li>
<li><strong>filter:</strong> add balance filter (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/93ca34b">93ca34b</a>)</li>
<li><strong>json:</strong> minor changes (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/17978d7">17978d7</a>)</li>
<li><strong>warnings:</strong> remove warnings api.raml (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/420d1ce">420d1ce</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>raml:</strong> added PARTICIPANT role to accounts GABI1-1154 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/d3ca2f0">d3ca2f0</a>)</li>
</ul>
