<h2 id="the-new-version-of-api-accounts-0-6-0-is-available-">The new version of API accounts 0.6.0 is available.</h2>
<p>Adds a new service to create a digital account and a new service to manage &#39;Saldo salvo buen cobro&#39; as a hold.</p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-715">GABI1-715</a>] - Alta de cuenta digital</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1109">GABI1-1109</a>] - Soporte Saldo salvo buen cobro del día de hoy en Accounts</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>account:</strong> method POST GABI1-503 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/f4cfbcd">f4cfbcd</a>)</li>
<li><strong>account:</strong> method POST GABI1-503 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/f6234a7">f6234a7</a>)</li>
<li><strong>account:</strong> method POST GABI1-503 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/6f63231">6f63231</a>)</li>
<li><strong>account:</strong> method POST GABI1-503. (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/94b0a9d">94b0a9d</a>)</li>
<li><strong>accounts:</strong> review GABI1-503 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/09be909">09be909</a>)</li>
<li><strong>accounts:</strong> review GABI1-503 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/e4cae98">e4cae98</a>)</li>
<li><strong>accounts:</strong> review GABI1-566 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/21aeb3c">21aeb3c</a>)</li>
<li><strong>delete:</strong> remove enum (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/084f7b4">084f7b4</a>)</li>
<li><strong>expand:</strong> Removed queryParams related to expandable subresources. Fixed typo in expand exa (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/dd74132">dd74132</a>)</li>
<li><strong>refactor:</strong> changes mandatories (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/25f7422">25f7422</a>)</li>
<li><strong>rename:</strong> rename facT (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/5eecc0f">5eecc0f</a>)</li>
<li><strong>rename:</strong> rename queryParam expand (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/13a7a4c">13a7a4c</a>)</li>
<li><strong>revision:</strong> add modifications of post account (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/123891c">123891c</a>)</li>
<li><strong>sortable:</strong> change name (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/3b447d6">3b447d6</a>)</li>
<li><strong>sortable:</strong> change name (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/64c89f7">64c89f7</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>fields:</strong> add fiels parameter (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/95cc8f2">95cc8f2</a>)</li>
<li><strong>fields:</strong> add fiels parameter (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/829b051">829b051</a>)</li>
<li><strong>merge:</strong> Merge branch &#39;develop&#39; into GABI1-556 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/5997128">5997128</a>)</li>
</ul>
