<h2 id="the-new-version-of-api-cards-0-7-0-is-available-">The new version of API cards 0.7.0 is available.</h2>
<h3 id="changes-in-get-balances">Changes in GET /balances</h3>
<ul>
<li>Add filter balances by the type of card.</li>
</ul>
<p><br></p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1242">GABI1-1242</a>] - Agregar filtro a los balances por el tipo de tarjeta</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>cards:</strong> remove description (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/7780555">7780555</a>)</li>
<li><strong>filter:</strong> add balance filter (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/ffc906a">ffc906a</a>)</li>
<li><strong>rever:</strong> description (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/ce4d4fa">ce4d4fa</a>)</li>
</ul>
