<h2 id="the-new-version-of-api-investmentfunds-0-3-0-is-available-">The new version of API investmentFunds 0.3.0 is available.</h2>
<h3 id="changes-in-get-investment-funds">Changes in GET /investment-funds</h3>
<ul>
<li>alias attribute added.</li>
</ul>
<h3 id="new-methods-added">New methods added</h3>
<ul>
<li><p>GET /investment-funds/{investment-fund-id}</p>
</li>
<li><p>PATCH /investment-funds/{investment-fund-id}</p>
</li>
<li><p>GET /investment-funds/{investment-fund-id}/funds</p>
</li>
<li><p>GET /investment-funds/{investment-fund-id}/funds/{fund-id}</p>
</li>
<li><p>PATCH /investment-funds/{investment-fund-id}/funds/{fund-id}</p>
</li>
<li><p>GET /investment-funds/{investment-fund-id}/funds/{fund-id}/conditions</p>
</li>
<li><p>GET /investment-funds/{investment-fund-id}/funds/{fund-id}/indicators</p>
</li>
<li><p>GET /investment-funds/{investment-fund-id}/limits</p>
</li>
<li><p>GET /investment-funds/{investment-fund-id}/participants</p>
</li>
<li><p>GET /investment-funds/{investment-fund-id}/related-contracts</p>
</li>
<li><p>POST /investment-funds/{investment-fund-id}/related-contracts</p>
</li>
<li><p>PATCH /investment-funds/{investment-fund-id}/related-contracts/{related-contract-id}</p>
</li>
<li><p>DELETE /investment-funds/{investment-fund-id}/related-contracts/{related-contract-id}</p>
</li>
<li><p>GET /balances</p>
</li>
</ul>
<p><br></p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-772">GABI1-772</a>] - Consulta de los participantes de un fondo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-773">GABI1-773</a>] - Consulta de las condiciones de un fondo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-774">GABI1-774</a>] - Consulta de los contratos relacionados de un fondo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-776">GABI1-776</a>] - Consulta listado de fondos</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-777">GABI1-777</a>] - Consulta detalle de un fondo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-778">GABI1-778</a>] - Modificación del alias de un fondo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-779">GABI1-779</a>] - Consulta de indicadores de un fondo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-780">GABI1-780</a>] - Consulta de los importes agregados de un fondo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-914">GABI1-914</a>] - Consulta de límites de un fondo</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>api:</strong> Changes due to new fund requirements (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/314e396">314e396</a>)</li>
<li><strong>character:</strong> scape (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/e8c928c">e8c928c</a>)</li>
<li><strong>funds:</strong> Added conditions and balances structure. Changes in fund and funds (alias and cl (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/b6e6ea0">b6e6ea0</a>)</li>
<li><strong>funds:</strong> Changed baseFundCurrency attribute name to currency (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/0773b02">0773b02</a>)</li>
<li><strong>investmentFunds:</strong> Changed alias from required to optional in GET output (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/88716ef">88716ef</a>)</li>
<li><strong>limits:</strong> Removed PUT limit-id. Added more info about how limits work in fund. (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/2fb8bcc">2fb8bcc</a>)</li>
<li><strong>traits:</strong> add traits (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/51174b6">51174b6</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>api:</strong> update patch fund (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/4ab9dbd">4ab9dbd</a>)</li>
<li><strong>api:</strong> update patch fund (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/dc89151">dc89151</a>)</li>
<li><strong>api:</strong> update patch fund (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/f0b3bc2">f0b3bc2</a>)</li>
<li><strong>conditions:</strong> Added a few conditions to the enum (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/d76d152">d76d152</a>)</li>
<li><strong>funds:</strong> Added patch method for changing the alias attribute. (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/fa7b0a5">fa7b0a5</a>)</li>
<li><strong>funds:</strong> Changes in fund structure (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/5c7ff43">5c7ff43</a>)</li>
<li><strong>funds:</strong> Changes in structure for funds, related contracts, limits and participants. (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/9d85dc6">9d85dc6</a>)</li>
<li><strong>funds:</strong> Examples, queryParameters and other minor changes (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/b19dcc4">b19dcc4</a>)</li>
<li><strong>funds:</strong> Refactor and cleaning tasks. (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/d4671f4">d4671f4</a>)</li>
<li><strong>indicators:</strong> Added indicators.raml (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/1e3fb7b">1e3fb7b</a>)</li>
<li><strong>refactor:</strong> add examples related-contract (<a href="https://bitbucket.org/apisbbva/global-apis-products-investmentfunds-v0.git/commits/49a85d6">49a85d6</a>)</li>
</ul>
