<h2 id="the-new-api-api-aggregator-0-1-0-is-available-">The new API api-aggregator 0.1.0 is available.</h2>
<p>This API includes one service that manage several API requests.</p>
<p><br></p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-542">GABI1-542</a>] - Servicio API Aggregator</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>api:</strong> initial commit (<a href="https://bitbucket.org/apisbbva/global-apis-technical-apiaggregator-v0.git/commits/8a50921">8a50921</a>)</li>
<li><strong>api:</strong> review (<a href="https://bitbucket.org/apisbbva/global-apis-technical-apiaggregator-v0.git/commits/67367fc">67367fc</a>)</li>
<li><strong>description:</strong> change description of api (<a href="https://bitbucket.org/apisbbva/global-apis-technical-apiaggregator-v0.git/commits/15ea198">15ea198</a>)</li>
<li><strong>error:</strong> 207 (<a href="https://bitbucket.org/apisbbva/global-apis-technical-apiaggregator-v0.git/commits/e48f68f">e48f68f</a>)</li>
<li><strong>html:</strong> add view (<a href="https://bitbucket.org/apisbbva/global-apis-technical-apiaggregator-v0.git/commits/43f0a9f">43f0a9f</a>)</li>
<li><strong>rename:</strong> api name (<a href="https://bitbucket.org/apisbbva/global-apis-technical-apiaggregator-v0.git/commits/8c2944e">8c2944e</a>)</li>
<li><strong>view:</strong> change view name (<a href="https://bitbucket.org/apisbbva/global-apis-technical-apiaggregator-v0.git/commits/ffc28fd">ffc28fd</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>repo:</strong> initial commit (<a href="https://bitbucket.org/apisbbva/global-apis-technical-apiaggregator-v0.git/commits/bf0b21d">bf0b21d</a>)</li>
</ul>
