<h2 id="the-new-version-of-api-accounts-0-9-0-is-available-">The new version of API accounts 0.9.0 is available.</h2>
<h3 id="changes-in-">Changes in:</h3>
<ul>
<li>GET /accounts/{account-id}</li>
<li>POST /accounts</li>
<li>PATCH /accounts/{account-id}/participants</li>
</ul>
<h3 id="new-methods-added">New methods added</h3>
<ul>
<li>GET /accounts/{account-id}/customized-formats</li>
<li>GET /accounts/{account-id}/customized-formats/{customized-format-id}
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1070">GABI1-1070</a>] - Establecer cuenta SPEI</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1253">GABI1-1253</a>] - modificaiones creación de una cuenta</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>account:</strong> add point (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/258329b">258329b</a>)</li>
<li><strong>api:</strong> reminderCode deleted GABI1-1070 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/58e2d80">58e2d80</a>)</li>
<li><strong>currency:</strong> delete type currency (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/4a34e11">4a34e11</a>)</li>
<li><strong>customizedFormat:</strong> add get (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/7acb039">7acb039</a>)</li>
<li><strong>example:</strong> indicators (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/10e8614">10e8614</a>)</li>
<li><strong>put:</strong> customizedFormats (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/393bd24">393bd24</a>)</li>
<li><strong>put:</strong> customizedFormats (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/7ad7883">7ad7883</a>)</li>
<li><strong>put:</strong> customizedFormats (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/7c4f5bc">7c4f5bc</a>)</li>
<li><strong>put:</strong> http 201 created (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/76ad7aa">76ad7aa</a>)</li>
<li><strong>revert:</strong> headers (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/e6ecf65">e6ecf65</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>api:</strong> GABI1-1070 create digital account (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/cabf2f4">cabf2f4</a>)</li>
<li><strong>customizedFormat:</strong>  customizedFormat type created  and  types associated to the Account updated GAB (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/52906dd">52906dd</a>)</li>
</ul>
