<h2 id="the-new-version-of-api-accounts-0-10-0-is-available-">The new version of API accounts 0.10.0 is available.</h2>
<h3 id="new-methods-added">New methods added</h3>
<ul>
<li>DELETE /accounts/{account-id}/customized-formats/{customized-format-id}</li>
<li>GET /accounts/{account-id}/activations</li>
<li>GET /accounts/{account-id}/activations/{activation-id}</li>
<li>PATCH /accounts/{account-id}/activations/{activation-id}
<br></li>
</ul>
<h3 id="modified-methods">Modified methods</h3>
<ul>
<li>GET /accounts</li>
<li>GET /accounts/{account-id}</li>
<li>GET /balances</li>
<li>GET /cards/{card-id}/blocks/{block-id}</li>
<li>PATCH /accounts/{account-id}</li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1292">GABI1-1292</a>] - Increase or improve some attributes related to account entity</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1338">GABI1-1338</a>] - Cambios de los filtros</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1368">GABI1-1368</a>] - Increase statuses from the accounts lifecycle</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1369">GABI1-1369</a>] - Delete or close accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1370">GABI1-1370</a>] - Add endpoint to managing account&#39;s activations</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>raml:</strong> error view participants (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/f7b5490">f7b5490</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>raml:</strong> new endpoint payment methods (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/e6e6061">e6e6061</a>)</li>
</ul>
