<h2 id="the-new-api-stores-0-1-0-is-available-">The new API Stores 0.1.0 is available.</h2>
<p>This API includes any service related to insurance to exchange rate.</p>
<h3 id="new-methods">New methods</h3>
<ul>
<li>GET /exchange-rate-vouchers
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1312">GABI1-1312</a>] - Boletas de seguros de cambio de divisa</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li>agregados cambios del pull request 5 (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/a8cda78">a8cda78</a>)</li>
<li>agregados required a objetos raiz y modificado ticket -&gt; voucher (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/13f2870">13f2870</a>)</li>
<li>arreglo tipo id, Required correcciones, Añadido createDate para alinear con ASO (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/651ce9d">651ce9d</a>)</li>
<li>correcciones de Jorge y eliminada paginación (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/f2c69ff">f2c69ff</a>)</li>
<li>correcciones de nombres y url (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/9e9bd8f">9e9bd8f</a>)</li>
<li>correcciones indicadas (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/fc0edbb">fc0edbb</a>)</li>
<li><strong>exchangeRateVouchers:</strong> changed example url to meet standard. (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/3acdffc">3acdffc</a>)</li>
<li><strong>exchangeRateVouchers:</strong> fixed title and base url. (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/7c3f57d">7c3f57d</a>)</li>
<li><strong>raml:</strong> review (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/b7c06df">b7c06df</a>)</li>
<li>eliminados verbos de description sobrantes (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/8705e6c">8705e6c</a>)</li>
<li>pullrequest comments (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/ac84780">ac84780</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>exchangeratevouchers:</strong> add ENUM (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/cea0dd6">cea0dd6</a>)</li>
<li><strong>exchangeratevouchers:</strong> correction object type commit (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/3cfa79b">3cfa79b</a>)</li>
<li><strong>exchangeratevouchers:</strong> correction type commit (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/3019a29">3019a29</a>)</li>
<li><strong>exchangeratevouchers:</strong> correction type commit (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/ce1d481">ce1d481</a>)</li>
<li><strong>exchangeratevouchers:</strong> initial commit (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/b5e83ec">b5e83ec</a>)</li>
<li><strong>exchangeratevouchers:</strong> initial commit (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/6cfe877">6cfe877</a>)</li>
<li><strong>exchangeRateVouchers:</strong> Criterio unificado tipos de atributos (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/11c7e46">11c7e46</a>)</li>
<li>Correciones de clases y llamada (<a href="https://bitbucket.org/apisbbva/global-apis-products-exchangeratevouchers-v0.git/commits/2aaf6e4">2aaf6e4</a>)</li>
</ul>
