
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CATALOGS<a href="https://grapi.slack.com/" target="_blank">Catalogs Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/catalogs/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('clapi-cl-apis-data-catalogs')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/clapi/repos/clapi-cl-apis-data-catalogs" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/clapi/repos/clapi-cl-apis-data-catalogs</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/clapi/repos/clapi-cl-apis-data-catalogs/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service for managing Chilean-specific data catalogs. A data catalog is a closed list of possible values for a specific functional data type. There may be several services, each one for a specific kind of information with its specific structure.
</p>
    <h2>RESOURCES</h2>
    <div id="/non-governmental-organizations" class="resource-table">
      <div ng-click="api.hide('/non-governmental-organizations')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/non-governmental-organizations</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/non-governmental-organizations'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the list of available non-govermental organizations to support by performing a transfer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: nongovernmentalorganizationsActiveButton === 'get'}" ng-click="api.showMethod($event, 'nongovernmentalorganizations', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="nongovernmentalorganizations = 'get'; nongovernmentalorganizationsActiveButton = 'get'" ng-show="nongovernmentalorganizations === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/non-governmental-organizations'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving a list of non-governmental organizations.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">orderBy</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Order by selected fields: name of the non-governmental-organization
                            <p> <i>Default value: name</i></p>
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">order</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Ascending or descending order.
                            <p> <i>Default value: desc</i></p>
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">desc</span></li>
                            <li><span class="value">asc</span></li>
                          </ul>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>OK</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the non-governmental-organization.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the non-governmental-organization.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation display-name">bankInformation</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Bank information of the non-governmental organization.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.number display-name">bankInformation.number</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Account number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.numberType display-name">bankInformation.numberType</span><span class="type">numberType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Account number type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.numberType display-name">bankInformation.numberType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Account type identifer.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CCC: Código Cuenta Cliente. This code is a 20-digit length used to number accounts in BBVA Chile.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LIC: Local Internal Code. This code refers to other Chilean bank's account number.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.numberType display-name">bankInformation.numberType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Account type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.bank display-name">bankInformation.bank</span><span class="type">bank</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Information about the account's bank.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.bank display-name">bankInformation.bank.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique bank identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.bank display-name">bankInformation.bank.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Bank name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.accountType display-name">bankInformation.accountType</span><span class="type">accountType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of the account.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.accountType display-name">bankInformation.accountType.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the financial product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.accountType display-name">bankInformation.accountType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the financial product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument display-name">identityDocument</span><span class="type">identityDocument</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identity document of the non-governmental organization.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType</span><span class="type">documentType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identity document type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Document type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">RUT: Rol Único Tributario.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Document type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument.documentNumber display-name">identityDocument.documentNumber</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identity document number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;123&quot;,
            &quot;name&quot;: &quot;Hogar de Cristo&quot;,
            &quot;bankInformation&quot;: {
                &quot;number&quot;: &quot;ES90 0182 1642 0302 0153 5555&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0182&quot;,
                    &quot;name&quot;: &quot;Banco Santander&quot;
                },
                &quot;accountType&quot;: {
                    &quot;id&quot;: &quot;CUENTA_CORRIENTE&quot;,
                    &quot;name&quot;: &quot;Cuenta Corriente&quot;
                }
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;RUT&quot;,
                    &quot;name&quot;: &quot;Rol Único Tributario&quot;
                },
                &quot;documentNumber&quot;: &quot;134568749&quot;
            }
        },
        {
            &quot;id&quot;: &quot;693&quot;,
            &quot;name&quot;: &quot;COANIQUEM&quot;,
            &quot;bankInformation&quot;: {
                &quot;number&quot;: &quot;1600 8717 4513 2685&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;02&quot;,
                    &quot;name&quot;: &quot;Banco Estado&quot;
                },
                &quot;accountType&quot;: {
                    &quot;id&quot;: &quot;CUENTA_AHORRO&quot;,
                    &quot;name&quot;: &quot;Cuenta de Ahorro&quot;
                }
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;RUT&quot;,
                    &quot;name&quot;: &quot;Rol Único Tributario&quot;
                },
                &quot;documentNumber&quot;: &quot;164579879&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;123&quot;,
            &quot;name&quot;: &quot;Hogar de Cristo&quot;,
            &quot;bankInformation&quot;: {
                &quot;number&quot;: &quot;ES90 0182 1642 0302 0153 5555&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0182&quot;,
                    &quot;name&quot;: &quot;Banco Santander&quot;
                },
                &quot;accountType&quot;: {
                    &quot;id&quot;: &quot;CUENTA_CORRIENTE&quot;,
                    &quot;name&quot;: &quot;Cuenta Corriente&quot;
                }
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;RUT&quot;,
                    &quot;name&quot;: &quot;Rol Único Tributario&quot;
                },
                &quot;documentNumber&quot;: &quot;134568749&quot;
            }
        },
        {
            &quot;id&quot;: &quot;693&quot;,
            &quot;name&quot;: &quot;COANIQUEM&quot;,
            &quot;bankInformation&quot;: {
                &quot;number&quot;: &quot;1600 8717 4513 2685&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;02&quot;,
                    &quot;name&quot;: &quot;Banco Estado&quot;
                },
                &quot;accountType&quot;: {
                    &quot;id&quot;: &quot;CUENTA_AHORRO&quot;,
                    &quot;name&quot;: &quot;Cuenta de Ahorro&quot;
                }
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;RUT&quot;,
                    &quot;name&quot;: &quot;Rol Único Tributario&quot;
                },
                &quot;documentNumber&quot;: &quot;164579879&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Partial Content
</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the non-governmental-organization.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the non-governmental-organization.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation display-name">bankInformation</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Bank information of the non-governmental organization.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.number display-name">bankInformation.number</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Account number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.numberType display-name">bankInformation.numberType</span><span class="type">numberType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Account number type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.numberType display-name">bankInformation.numberType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Account type identifer.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CCC: Código Cuenta Cliente. This code is a 20-digit length used to number accounts in BBVA Chile.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LIC: Local Internal Code. This code refers to other Chilean bank's account number.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.numberType display-name">bankInformation.numberType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Account type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.bank display-name">bankInformation.bank</span><span class="type">bank</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Information about the account's bank.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.bank display-name">bankInformation.bank.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique bank identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.bank display-name">bankInformation.bank.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Bank name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.accountType display-name">bankInformation.accountType</span><span class="type">accountType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of the account.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.accountType display-name">bankInformation.accountType.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the financial product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bankInformation.accountType display-name">bankInformation.accountType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the financial product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument display-name">identityDocument</span><span class="type">identityDocument</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identity document of the non-governmental organization.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType</span><span class="type">documentType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identity document type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Document type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">RUT: Rol Único Tributario.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Document type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocument.documentNumber display-name">identityDocument.documentNumber</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identity document number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;123&quot;,
            &quot;name&quot;: &quot;Hogar de Cristo&quot;,
            &quot;bankInformation&quot;: {
                &quot;number&quot;: &quot;ES90 0182 1642 0302 0153 5555&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0182&quot;,
                    &quot;name&quot;: &quot;Banco Santander&quot;
                },
                &quot;accountType&quot;: {
                    &quot;id&quot;: &quot;CUENTA_CORRIENTE&quot;,
                    &quot;name&quot;: &quot;Cuenta Corriente&quot;
                }
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;RUT&quot;,
                    &quot;name&quot;: &quot;Rol Único Tributario&quot;
                },
                &quot;documentNumber&quot;: &quot;134568749&quot;
            }
        },
        {
            &quot;id&quot;: &quot;693&quot;,
            &quot;name&quot;: &quot;COANIQUEM&quot;,
            &quot;bankInformation&quot;: {
                &quot;number&quot;: &quot;1600 8717 4513 2685&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;02&quot;,
                    &quot;name&quot;: &quot;Banco Estado&quot;
                },
                &quot;accountType&quot;: {
                    &quot;id&quot;: &quot;CUENTA_AHORRO&quot;,
                    &quot;name&quot;: &quot;Cuenta de Ahorro&quot;
                }
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;RUT&quot;,
                    &quot;name&quot;: &quot;Rol Único Tributario&quot;
                },
                &quot;documentNumber&quot;: &quot;164579879&quot;
            }
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/catalogs/v0/non-governmental-organizations?paginationKey=bb8e91d6-789b-469e-8ad4-ccfd6047b6dd&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/catalogs/v0/non-governmental-organizations?paginationKey=2d67b513-7ed3-4a42-b8a3-708cf87b5b7b&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/catalogs/v0/non-governmental-organizations?paginationKey=74681eb0-c43b-4118-b9bd-482081fac6c4&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/catalogs/v0/non-governmental-organizations?paginationKey=fbeb025f-20da-47d6-84ff-843d700d83c0&quot;
        },
        &quot;page&quot;: 3,
        &quot;totalPages&quot;: 7,
        &quot;totalElements&quot;: 100,
        &quot;pageSize&quot;: 2
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;123&quot;,
            &quot;name&quot;: &quot;Hogar de Cristo&quot;,
            &quot;bankInformation&quot;: {
                &quot;number&quot;: &quot;ES90 0182 1642 0302 0153 5555&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0182&quot;,
                    &quot;name&quot;: &quot;Banco Santander&quot;
                },
                &quot;accountType&quot;: {
                    &quot;id&quot;: &quot;CUENTA_CORRIENTE&quot;,
                    &quot;name&quot;: &quot;Cuenta Corriente&quot;
                }
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;RUT&quot;,
                    &quot;name&quot;: &quot;Rol Único Tributario&quot;
                },
                &quot;documentNumber&quot;: &quot;134568749&quot;
            }
        },
        {
            &quot;id&quot;: &quot;693&quot;,
            &quot;name&quot;: &quot;COANIQUEM&quot;,
            &quot;bankInformation&quot;: {
                &quot;number&quot;: &quot;1600 8717 4513 2685&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;02&quot;,
                    &quot;name&quot;: &quot;Banco Estado&quot;
                },
                &quot;accountType&quot;: {
                    &quot;id&quot;: &quot;CUENTA_AHORRO&quot;,
                    &quot;name&quot;: &quot;Cuenta de Ahorro&quot;
                }
            },
            &quot;identityDocument&quot;: {
                &quot;documentType&quot;: {
                    &quot;id&quot;: &quot;RUT&quot;,
                    &quot;name&quot;: &quot;Rol Único Tributario&quot;
                },
                &quot;documentNumber&quot;: &quot;164579879&quot;
            }
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/catalogs/v0/non-governmental-organizations?paginationKey=bb8e91d6-789b-469e-8ad4-ccfd6047b6dd&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/catalogs/v0/non-governmental-organizations?paginationKey=2d67b513-7ed3-4a42-b8a3-708cf87b5b7b&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/catalogs/v0/non-governmental-organizations?paginationKey=74681eb0-c43b-4118-b9bd-482081fac6c4&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/catalogs/v0/non-governmental-organizations?paginationKey=fbeb025f-20da-47d6-84ff-843d700d83c0&quot;
        },
        &quot;page&quot;: 3,
        &quot;totalPages&quot;: 7,
        &quot;totalElements&quot;: 100,
        &quot;pageSize&quot;: 2
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>