
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">SECURITY<a href="https://grapi.slack.com/" target="_blank">Security Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/security/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('mxapi-mx-apis-security-security')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/mxapi/repos/mxapi-mx-apis-security-security" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/mxapi/repos/mxapi-mx-apis-security-security</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/mxapi/repos/mxapi-mx-apis-security-security/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to security management.
</p>
    <h2>RESOURCES</h2>
    <div id="/software-tokens/register" class="resource-table">
      <div ng-click="api.hide('/software-tokens/register')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/software-tokens/register</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens/register'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing customer's software token information. A software token is a two-factor sign authentication based on an One-Time Password (OTP) generated for a customer's consumption.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: softwaretokensregisterActiveButton === 'post'}" ng-click="api.showMethod($event, 'softwaretokensregister', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="softwaretokensregister = 'post'; softwaretokensregisterActiveButton = 'post'" ng-show="softwaretokensregister === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/software-tokens/register'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for performing a register of a software token.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Software token identifier. It is the token serial number.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="customerId display-name">customerId</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier of customer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contract display-name">contract</span><span class="type">contract</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Contract of the financial product of a customer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contract.number display-name">contract.number</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Contract number related to the customer (Card number for this case).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contract.numberType display-name">contract.numberType</span><span class="type">contractNumberType</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Contract number type based on the financial product type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contract.numberType display-name">contract.numberType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Contract number type identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">PAN: Primary Account Number. It consists of 14, 15 or 16 digit numbers that are embossed and/or encoded on a plastic card that identifies the issuer and the particular cardholder account.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="registerType display-name">registerType</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Indicates the type of operation to be performed with the software token, this can do activation, substitution, reactivation of the software token.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="registerType.id display-name">registerType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Registry operation type identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">ACTIVATION: Indicates the activation of a software token.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">REACTIVATION: Indicates the reactivation of a software token.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SUBSTITUTION: Indicates the substitution of a software token.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contactDetail display-name">contactDetail</span><span class="type">contactDetail</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Contact information associated to the mobile device.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contactDetail.contact display-name">contactDetail.contact</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Contact information value associated to the customer (cell phone number for this case).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contactDetail.contactType display-name">contactDetail.contactType</span><span class="type">contactType</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Contact information type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contactDetail.contactType display-name">contactDetail.contactType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Contact information type identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">MOBILE_NUMBER: Mobile number contact.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="device display-name">device</span><span class="type">device</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Mobile device enrolled.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="device.id display-name">device.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier of device.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;id&quot;: &quot;BB-03-BB0312345678&quot;,
    &quot;customerId&quot;: &quot;73yuhe-fjn48y-tog3lf-qqodho&quot;,
    &quot;contract&quot;: {
        &quot;number&quot;: &quot;4152313189305741&quot;,
        &quot;numberType&quot;: {
            &quot;id&quot;: &quot;PAN&quot;
        }
    },
    &quot;registerType&quot;: {
        &quot;id&quot;: &quot;ACTIVATION&quot;
    },
    &quot;contactDetail&quot;: {
        &quot;contact&quot;: &quot;5578960014&quot;,
        &quot;contactType&quot;: {
            &quot;id&quot;: &quot;MOBILE_NUMBER&quot;
        }
    },
    &quot;device&quot;: {
        &quot;id&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;id&quot;: &quot;BB-03-BB0312345678&quot;,
    &quot;customerId&quot;: &quot;73yuhe-fjn48y-tog3lf-qqodho&quot;,
    &quot;contract&quot;: {
        &quot;number&quot;: &quot;4152313189305741&quot;,
        &quot;numberType&quot;: {
            &quot;id&quot;: &quot;PAN&quot;
        }
    },
    &quot;registerType&quot;: {
        &quot;id&quot;: &quot;ACTIVATION&quot;
    },
    &quot;contactDetail&quot;: {
        &quot;contact&quot;: &quot;5578960014&quot;,
        &quot;contactType&quot;: {
            &quot;id&quot;: &quot;MOBILE_NUMBER&quot;
        }
    },
    &quot;device&quot;: {
        &quot;id&quot;: &quot;cdda807e-fb9c-47ad-9b0e-9407d349c912&quot;
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Conflict</p>
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Error in the register process'">Error in the register process</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Error in the register process'">The request could not be completed due to an error in the register process.</p>
                              <section ng-show="selectedExample === 'Error in the register process'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Error in the register process'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Error in the register process'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Error in the register process' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Error in the register process'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;REGISTER_FAILURE&quot;,
            &quot;message&quot;: &quot;The request could not be completed due to an error.&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Error in the register process' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;REGISTER_FAILURE&quot;,
            &quot;message&quot;: &quot;The request could not be completed due to an error.&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/tokens" class="resource-table">
      <div ng-click="api.hide('/tokens')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/tokens</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/tokens'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing that customers who are not enrolled have a type of token contracted; if they have a token contracted the serial, model, type and status will be informed.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: tokensActiveButton === 'get'}" ng-click="api.showMethod($event, 'tokens', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="tokens = 'get'; tokensActiveButton = 'get'" ng-show="tokens === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/tokens'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for verifying that customers who are not enrolled have a type of token contracted; if they have a token contracted the serial, model, type and status will be informed.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">customer.customerId</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique customer identifier.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>73yuhe-fjn48y-tog3lf-qqodho</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">contactDetail.contact</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Contact information value associated to the customer (cell phone number for this case).

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>5264689456</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Token identifier. It is the token serial number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="tokenType display-name">tokenType</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Customer\'s related tokens type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="tokenType.id display-name">tokenType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of token's type.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">HARDWARE_TOKEN: Physical token security that facilitates the authentication process.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SOFTWARE_TOKEN: Logical token security that facilitates the authentication process.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="tokenType.name display-name">tokenType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of token\'s type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="model display-name">model</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of token\'s model related to the customer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="model.id display-name">model.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of token\'s model related to the customer.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">D3: GO3</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">S1: SOF1</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">S2: SOF2</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">TV: OTP X SMS</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">T1: GO3</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">T2: SIN ASIGNAR</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">T3: P271</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">T4: P110</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">T5: EZIO</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">T6: OCRA</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="model.name display-name">model.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of token\'s model.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status information of the token\'s customer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Software status identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description associated to the software status identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;BN-16-NB0987654321&quot;,
            &quot;tokenType&quot;: {
                &quot;id&quot;: &quot;HARDWARE_TOKEN&quot;,
                &quot;name&quot;: &quot;Physical token security that facilitates the authentication process.&quot;
            },
            &quot;model&quot;: {
                &quot;id&quot;: &quot;D3&quot;,
                &quot;name&quot;: &quot;GO3&quot;
            },
            &quot;status&quot;: {
                &quot;id&quot;: &quot;ACTIVE&quot;,
                &quot;name&quot;: &quot;It indicates that the software token is enabled and ready for use.&quot;
            }
        },
        {
            &quot;id&quot;: &quot;BN-16-NB012345678&quot;,
            &quot;tokenType&quot;: {
                &quot;id&quot;: &quot;SOFTWARE_TOKEN&quot;,
                &quot;name&quot;: &quot;Physical token security that facilitates the authentication process.&quot;
            },
            &quot;model&quot;: {
                &quot;id&quot;: &quot;T4&quot;,
                &quot;name&quot;: &quot;P110&quot;
            },
            &quot;status&quot;: {
                &quot;id&quot;: &quot;LOCKED&quot;,
                &quot;name&quot;: &quot;It indicates that the software token is locked. The software token will be locked when a wrong authentication code has been sent by several times and reach a configurated limit of attempts.&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;BN-16-NB0987654321&quot;,
            &quot;tokenType&quot;: {
                &quot;id&quot;: &quot;HARDWARE_TOKEN&quot;,
                &quot;name&quot;: &quot;Physical token security that facilitates the authentication process.&quot;
            },
            &quot;model&quot;: {
                &quot;id&quot;: &quot;D3&quot;,
                &quot;name&quot;: &quot;GO3&quot;
            },
            &quot;status&quot;: {
                &quot;id&quot;: &quot;ACTIVE&quot;,
                &quot;name&quot;: &quot;It indicates that the software token is enabled and ready for use.&quot;
            }
        },
        {
            &quot;id&quot;: &quot;BN-16-NB012345678&quot;,
            &quot;tokenType&quot;: {
                &quot;id&quot;: &quot;SOFTWARE_TOKEN&quot;,
                &quot;name&quot;: &quot;Physical token security that facilitates the authentication process.&quot;
            },
            &quot;model&quot;: {
                &quot;id&quot;: &quot;T4&quot;,
                &quot;name&quot;: &quot;P110&quot;
            },
            &quot;status&quot;: {
                &quot;id&quot;: &quot;LOCKED&quot;,
                &quot;name&quot;: &quot;It indicates that the software token is locked. The software token will be locked when a wrong authentication code has been sent by several times and reach a configurated limit of attempts.&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Conflict</p>
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'JSON example get_409_noDataFound.'">JSON example get_409_noDataFound.</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'JSON example get_409_noDataFound.'">The data does not match.</p>
                              <section ng-show="selectedExample === 'JSON example get_409_noDataFound.'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'JSON example get_409_noDataFound.'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'JSON example get_409_noDataFound.'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'JSON example get_409_noDataFound.' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'JSON example get_409_noDataFound.'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;NO_DATA_FOUND&quot;,
            &quot;message&quot;: &quot;The data does not match.&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'JSON example get_409_noDataFound.' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;NO_DATA_FOUND&quot;,
            &quot;message&quot;: &quot;The data does not match.&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/tokens-statuses" class="resource-table">
      <div ng-click="api.hide('/tokens-statuses')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/tokens-statuses</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/tokens-statuses'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the different types of statuses.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: tokensstatusesActiveButton === 'get'}" ng-click="api.showMethod($event, 'tokensstatuses', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="tokensstatuses = 'get'; tokensstatusesActiveButton = 'get'" ng-show="tokensstatuses === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/tokens-statuses'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of statuses for tokens.
</p>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok.</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Software status identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description associated to the software status identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;ACTIVE&quot;,
            &quot;name&quot;: &quot;It indicates that the software token is enabled and ready for use.&quot;
        },
        {
            &quot;id&quot;: &quot;LOCKED&quot;,
            &quot;name&quot;: &quot;It indicates that the software token is locked. The software token will be locked when a wrong authentication code has been sent by several times and reach a configurated limit of attempts.&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;ACTIVE&quot;,
            &quot;name&quot;: &quot;It indicates that the software token is enabled and ready for use.&quot;
        },
        {
            &quot;id&quot;: &quot;LOCKED&quot;,
            &quot;name&quot;: &quot;It indicates that the software token is locked. The software token will be locked when a wrong authentication code has been sent by several times and reach a configurated limit of attempts.&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>