
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">OFFERS<a href="https://grapi.slack.com/" target="_blank">Offers Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/offers/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-offers')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-offers" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-offers</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-offers/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to Offers. An offer is a formal proposal of a product that the bank wants to sell to a person. The Offer includes the characteristics and conditions related to the offered product. The offer can be related to a formal contract. 
</p>
    <h2>RESOURCES</h2>
    <div id="/offers" class="resource-table">
      <div ng-click="api.hide('/offers')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/offers</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/offers'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the offers for a person.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: offersActiveButton === 'post'}" ng-click="api.showMethod($event, 'offers', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="offers = 'post'; offersActiveButton = 'post'" ng-show="offers === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/offers'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a new offer for a person.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="customerId display-name">customerId</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identifier for the customer who is the owner of the offer. This field is required only if identityDocument is not used.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="internalCode display-name">internalCode</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Offer internal code. Code to identify the internal sub-product type associated to the offer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument display-name">identityDocument</span><span class="type">identityDocument</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identity document information related to the person who is the owner of the offer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType</span><span class="type">documentType</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Document identity type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier document type identity.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">PASSPORT: Identifier document passport.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DNI: Identifier national identity document.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">RUC: Identifier document single tax registration.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DIPLOMATIC: Identifier document issued to members of diplomatic missions residing in.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">FOREIGNERS: Identifier card for foreign residents.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">MILITARY: Identifier document that accredits the military situation.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument.documentNumber display-name">identityDocument.documentNumber</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document number.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product display-name">product</span><span class="type">product</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product related with the offer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.title display-name">product.title</span><span class="type">title</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Title of the product.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.title display-name">product.title.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Title identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.productType display-name">product.productType</span><span class="type">productType</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.productType display-name">product.productType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product type identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">CARDS: Product type identifier cards.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">LOANS: Product type identifier loans.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.classification display-name">product.classification</span><span class="type">classification</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Classification related to the product type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.classification display-name">product.classification.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Classification identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">USED_CAR_LOAN: The financial product is a Used Car Loan.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SUBROGATED: The financial product is a SR Subrogated.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">RENOVATED_CONSUMER_LOAN: The financial product is a Renewed Loan for Consumption.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CREDIT_CARD: The financial product is a Credit Card.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">LOAN_FREE_AVAILABILITY: The financial product is a Free disponibility Loan.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">VEHICLE_LOAN: The financial product is a Vehicle Loan.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SUBROGATED_PLUS: The financial product is a Plus Subrogated.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CASH_PLUS: The financial product is a Plus Cash Loan.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">LINE_INCREMENT: The financial product is a Line increment.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.bin display-name">product.bin</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'The bank identification number associated to the product, it\'s a general identifier that is used by different bank departments. It only applies to CARDS.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions display-name">conditions</span><span class="type">condition [ ]</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Conditions related with the offer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Condition identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">INITIAL_EAR: Initial Effective Annual Rate for the offered product.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.period</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Periodical information of the condition.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.period.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Fact period identification.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">MONTHLY: Monthly identifier.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.period.value</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Lenght value of the period.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.outcomes</span><span class="type">array</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Outcome or result of applying the condition.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.outcomes.outcomeType</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Outcome type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.outcomes.outcomeType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Outcome type identification.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">FEE_AMOUNT: Fee amount identifier.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.outcomes.feePercentage</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Outcome percental value.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.outcomes.feeAmount</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Outcome amount.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.outcomes.feeAmount.value</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Outcome amount value.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="conditions.condition display-name">conditions.condition.outcomes.feeAmount.currency</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the outcome amount.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="limits display-name">limits</span><span class="type">limit [ ]</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'List of limits associated to the offer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="limits.limit display-name">limits.limit.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Limit identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">CARD_LIMIT: Credit line Limit for the Card.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">LOAN_LIMIT: Maximum amount of the Loan.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="limits.limit display-name">limits.limit.amounts</span><span class="type">array</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Monetary restriction related to the current limit. The amounts may be provided in several currencies (depending on the country).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="limits.limit display-name">limits.limit.amounts.value</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Monetary amount related to the limit.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="limits.limit display-name">limits.limit.amounts.currency</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the amount limit.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;customerId&quot;: &quot;123456&quot;,
    &quot;internalCode&quot;: &quot;AS26&quot;,
    &quot;identityDocument&quot;: {
        &quot;documentType&quot;: {
            &quot;id&quot;: &quot;DNI&quot;
        },
        &quot;documentNumber&quot;: &quot;12345678912&quot;
    },
    &quot;product&quot;: {
        &quot;productType&quot;: {
            &quot;id&quot;: &quot;CARDS&quot;
        },
        &quot;classification&quot;: {
            &quot;id&quot;: &quot;CREDIT_CARD&quot;
        },
        &quot;title&quot;: {
            &quot;id&quot;: &quot;F7&quot;
        },
        &quot;bin&quot;: &quot;455001&quot;
    },
    &quot;conditions&quot;: [
        {
            &quot;id&quot;: &quot;INITIAL_EAR&quot;,
            &quot;period&quot;: {
                &quot;id&quot;: &quot;MONTHLY&quot;,
                &quot;value&quot;: &quot;36&quot;
            },
            &quot;outcomes&quot;: [
                {
                    &quot;outcomeType&quot;: {
                        &quot;id&quot;: &quot;FEE_AMOUNT&quot;
                    },
                    &quot;feePercentage&quot;: 10.34,
                    &quot;feeAmount&quot;: {
                        &quot;currency&quot;: &quot;PEN&quot;,
                        &quot;value&quot;: 800
                    }
                }
            ]
        }
    ],
    &quot;limits&quot;: [
        {
            &quot;id&quot;: &quot;CARD_LIMIT&quot;,
            &quot;amounts&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;value&quot;: 800
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;customerId&quot;: &quot;123456&quot;,
    &quot;internalCode&quot;: &quot;AS26&quot;,
    &quot;identityDocument&quot;: {
        &quot;documentType&quot;: {
            &quot;id&quot;: &quot;DNI&quot;
        },
        &quot;documentNumber&quot;: &quot;12345678912&quot;
    },
    &quot;product&quot;: {
        &quot;productType&quot;: {
            &quot;id&quot;: &quot;CARDS&quot;
        },
        &quot;classification&quot;: {
            &quot;id&quot;: &quot;CREDIT_CARD&quot;
        },
        &quot;title&quot;: {
            &quot;id&quot;: &quot;F7&quot;
        },
        &quot;bin&quot;: &quot;455001&quot;
    },
    &quot;conditions&quot;: [
        {
            &quot;id&quot;: &quot;INITIAL_EAR&quot;,
            &quot;period&quot;: {
                &quot;id&quot;: &quot;MONTHLY&quot;,
                &quot;value&quot;: &quot;36&quot;
            },
            &quot;outcomes&quot;: [
                {
                    &quot;outcomeType&quot;: {
                        &quot;id&quot;: &quot;FEE_AMOUNT&quot;
                    },
                    &quot;feePercentage&quot;: 10.34,
                    &quot;feeAmount&quot;: {
                        &quot;currency&quot;: &quot;PEN&quot;,
                        &quot;value&quot;: 800
                    }
                }
            ]
        }
    ],
    &quot;limits&quot;: [
        {
            &quot;id&quot;: &quot;CARD_LIMIT&quot;,
            &quot;amounts&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;value&quot;: 800
                }
            ]
        }
    ]
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/offers/4567</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Unique offer identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;12345678&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;12345678&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/offers/{offer-id}" class="resource-table">
      <div ng-click="api.hide('/offers/{offer-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/offers/{offer-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services delete">DELETE</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the details of the specified Offer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="delete" ng-class="{active: offersofferidActiveButton === 'delete'}" ng-click="api.showMethod($event, 'offersofferid', 'delete')" class="md-primary button-menu">delete</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="delete" ng-init="offersofferid = 'delete'; offersofferidActiveButton = 'delete'" ng-show="offersofferid === 'delete'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='delete'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for canceling an offer. Once an offer has been canceled it cannot be reused.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">offer-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique offer identifier</p>
                        </td>
                        <td><span>123456</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/offers/{offer-id}/related-contracts" class="resource-table">
      <div ng-click="api.hide('/offers/{offer-id}/related-contracts')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/offers/{offer-id}/related-contracts</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}/related-contracts'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the related contracts of an offer. An offer can have several related contracts.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: offersofferidrelatedcontractsActiveButton === 'post'}" ng-click="api.showMethod($event, 'offersofferidrelatedcontracts', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="offersofferidrelatedcontracts = 'post'; offersofferidrelatedcontractsActiveButton = 'post'" ng-show="offersofferidrelatedcontracts === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}/related-contracts'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for adding a new related contract to an offer.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">offer-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique offer identifier</p>
                        </td>
                        <td><span>123456</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contractId display-name">contractId</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier associated to the contract.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product display-name">product</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Financial product associated to the contract.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.id display-name">product.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Financial product identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">ACCOUNTS: An account as the financial product associated to the contract</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CARDS: A card as the financial product associated to the contract</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;contractId&quot;: &quot;8989898&quot;,
    &quot;product&quot;: {
        &quot;id&quot;: &quot;CARDS&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;contractId&quot;: &quot;8989898&quot;,
    &quot;product&quot;: {
        &quot;id&quot;: &quot;CARDS&quot;
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/offers/1234/related-contracts/4567</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the relationship between the card and the contract.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;12345678&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;12345678&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>