button.menu-button(id="develop" ng-click="goTo('develop')")
  i.material-icons code
  span Develop
button.menu-button(id="versioned" ng-click="goTo('versioned')")
  i.material-icons present_to_all
  span Versioned
button.menu-button(id="documentation" ng-click="goTo('documentation')")
  i.material-icons chrome_reader_mode
  span Documentation
