
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CREDIT APPROVALS<a href="https://grapi.slack.com/" target="_blank">Credit Approvals Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/credit-approvals/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-creditapprovals')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-creditapprovals" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-creditapprovals</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-creditapprovals/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to Credit Approvals. A Credit approval is the process that an individual must go through to become eligible for a loan or to pay for goods and services over an extended period.
</p>
    <h2>RESOURCES</h2>
    <div id="/credit-approvals" class="resource-table">
      <div ng-click="api.hide('/credit-approvals')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/credit-approvals</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/credit-approvals'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the Credit approvals for a person. This approval evaluates if the person is in Ineligible or Penalized situation and the classification for the bank and the SBS(Superintendency of Banking, Insurance and Private Pension Fund Administrators).
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: creditapprovalsActiveButton === 'get'}" ng-click="api.showMethod($event, 'creditapprovals', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="creditapprovals = 'get'; creditapprovalsActiveButton = 'get'" ng-show="creditapprovals === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/credit-approvals'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the credit approval of a person.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">documentType</span><span class="type">enum</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Filters the credit approval by document type
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">DNI: Identifier national identity document.</span></li>
                          </ul>
                        </td>
                        <td><span>DNI</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">documentNumber</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Filters the credit approval by document number
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>12345678</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="qualification display-name">qualification</span><span class="type">qualification</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Obtained qualification in the credit approval process.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="qualification.result display-name">qualification.result</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Result of the qualification.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">APPROVED: The person has been approved.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">REJECTED: The person has been rejected.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="qualification.reason display-name">qualification.reason</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Reason of the granted qualification.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PASSED: The person has passed the credit approval process.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INELIGIBLE: The person is Ineligible for the bank. It includes the politically exposed person.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">BBVA_CLASSIFICATION: BBVA Classification. Internal calification of the person for the bank. In this case the person is a customer.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SBS_CLASSIFICATION: SBS Classification. Calification of the person in the financial system.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENALIZED: The person is Penalized for the bank. It is related with the behavior of person with the bank. In this case the person is a customer.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;qualification&quot;: {
            &quot;result&quot;: &quot;REJECTED&quot;,
            &quot;reason&quot;: &quot;INELIGIBLE&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;qualification&quot;: {
            &quot;result&quot;: &quot;REJECTED&quot;,
            &quot;reason&quot;: &quot;INELIGIBLE&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>