/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700,700italic,400italic);
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("/assets/fonts/MaterialIcons-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Thin'), local('RobotoThin'), url("/assets/fonts/Roboto.ttf") format('ttf');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

html {
    font-family: 'Roboto Slab', serif;
}

.mono {
    font-family: 'Roboto Slab', monospace;
}

ul {
    li {
        list-style: none;
    }
    &.list {
        li {
            list-style: inherit;
        }
    }
    &.padding {
        padding: 0 40px !important;
    }
}

[ng-view] {
    margin: 0;
    &.padding-blog {
        padding: 150px 200px !important;
    }
}

.app-container {
    margin-top: 64px;
}

[layout=row] {
    flex-direction: row;
}

.paas-footer {
    background: #37474F;
    color: #FAFAFA;
    .footer-container {
        .logo-bbva {
            img {
                width: 200px;
                padding: 50px;
            }
        }
        .footer-section {
            h3 {
                text-transform: uppercase;
            }
            ul {
                padding: 0;
                list-style: none;
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.md-open-menu-container.md-active {
    z-index: 9999;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    caption {
        text-align: left;
        padding: 12px 10px;
        border: 1px solid #DDDDDD;
        border-bottom: none;
        background: #E3F2FD;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #1E2021;
    }
    tr {
        height: 45px;
        border-bottom: 1px solid #DDDDDD;
        &:nth-child(odd) {
            background: #F1F1F1;
        }
        th,
        td {
            padding: 0px 10px;
            border-right: 1px solid #DDDDDD;
        }
        th {
            text-align: left;
            background: #E0E0E0;
        }
        td {
            font-size: 14px;
            ul {
                padding: 0 20px;
                margin: 0px;
                li {
                    list-style: inherit;
                }
            }
            pre {
                font-family: inherit;
            }
            span.display-name {
                display: block !important;
                padding: 0 !important;
                text-align: initial !important;
                text-transform: none !important;
                background: none !important;
                font-size: inherit !important;
                color: inherit !important;
            }
            span.type {
                padding: 0px 5px;
                border-radius: 3px;
                font-size: 12px;
                background: #C5E1A5;
                color: #616161;
                display: inline-flex;
            }
            strong.type {
                border-radius: 3px;
                font-size: 12px;
                background: #C5E1A5;
                color: #000000;
                margin-right: -4px;
                z-index: 1;
                position: relative;
            }
            .enum {
                ul {
                    li {
                        list-style: inherit;
                    }
                }
            }
            i {
                &.required {
                    display: block;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .annotation {
                .annotation-description {
                    p {
                        margin-left: 20px !important;
                    }
                }
            }
        }
    }
}

@media handheld and (max-width: 480px),
screen and (max-device-width: 480px),
screen and (max-width: 800px) {
    .paas-footer {
        .footer-container {
            padding: 0 50px;
            .logo-bbva {
                img {
                    display: none;
                }
            }
            .footer-section {
                ul {
                    li {
                        background: #27343A;
                        border-radius: 5px;
                        margin-bottom: 10px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        padding: 5px;
                    }
                }
            }
        }
    }
}

#login-container {
    background: url("/assets/images/login-background.jpg") bottom center no-repeat;
    background-size: 100%;
    height: 100%;
    .login-card {
        width: 540px;
        height: 430px;
        position: absolute;
        left: 50%;
        top: 40%;
        margin-left: -260px;
        margin-top: -166px;
        background: rgba(255, 255, 255, 0.4);
        &.error {
            height: 510px;
            top: 35%;
        }
        .header {
            height: 95px;
            h1 {
                margin: 0;
                font-size: 25px;
                padding: 55px;
                color: #0065B7;
                text-align: center;
            }
            img {
                width: 150px;
                top: 30px;
                position: relative;
                left: -5px;
            }
        }
        .body {
            height: 175px;
            .button,
            .button button,
            .input,
            .input .spin,
            .input input,
            .input label {
                width: 100%;
                float: left;
            }
            .message {
                position: relative;
                margin-top: 10px;
                height: 70px;
                width: 80%;
                margin-left: 50px;
            }
            .input {
                width: 80%;
                margin-left: 50px;
            }
            .button,
            .input {
                margin-top: 10px;
                height: 70px;
            }
            .button,
            .button button,
            .input,
            .input input {
                position: relative;
            }
            .input input {
                height: 85px;
                top: 10px;
                border: none;
                background: transparent;
            }
            .button button,
            .input input,
            .input label {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                color: #407BC1;
                font-weight: 400;
                outline: none;
            }
            .input .spin,
            .input:before {
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .input:before {
                content: "";
                background: rgba(0, 0, 0, 0.1);
                z-index: 3;
            }
            .input .spin {
                background: #ED2553;
                z-index: 4;
                width: 0;
            }
            .overbox .input .spin {
                background: rgba(255, 255, 255, 1);
            }
            .overbox .input:before {
                background: rgba(255, 255, 255, 0.5);
            }
            .input label {
                position: absolute;
                left: 0;
                z-index: 2;
                cursor: pointer;
                line-height: 60px;
                font-size: 18px;
                font-weight: bold;
                top: 23px;
                transition: 300ms cubic-bezier(.4, 0, .2, 1);
                -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
                -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
                &.animate {
                    line-height: 18px;
                    font-size: 18px;
                    font-weight: bold;
                    top: 0;
                    color: #255DA0;
                }
            }
        }
        .mail {
            text-align: center;
            margin: 10px 0 20px;
            cursor: pointer;
            #text-message {
                color: #407BC1;
                text-align: center;
                font-weight: bold;
                text-decoration: none;
            }
        }
        .message {
            display: none;
            padding: 0 40px;
            cursor: default;
            &.show {
                display: inherit;
                #text-message {
                    text-align: center;
                    padding: 13px;
                    background: rgba(255, 255, 255, 0.3);
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
                    &.error {
                        color: #dd2c00;
                        border: 1px solid #D33814;
                    }
                    &.help {
                        color: #407BC1;
                        border: 1px solid #407BC1;
                    }
                }
            }
        }
        .footer-login {
            position: relative;
            top: 30px;
            text-align: center;
            button {
                width: 150px;
                height: 45px;
                color: #9E9E9E;
                background: rgba(255, 255, 255, 0.4);
                font-weight: bold;
                border: 2px solid #9E9E9E;
                &:hover {
                    border: 2px solid #3B76BC;
                    color: #3B76BC;
                }
            }
        }
    }
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
