h3 Examples
md-select(ng-model="selectedExample" aria-label="example" placeholder="Select a example...")
    each example in method.body['application/json'].examples
        md-option(ng-value="'#{example.displayName}'")= example.displayName
each example in method.body['application/json'].examples
    .example
        p(ng-show="selectedExample === '#{example.displayName}'")= example.description
        section.container-buttons(ng-show="selectedExample === '#{example.displayName}'" layout="row" layout-align="left center")
            button(ng-show="selectedExample === '#{example.displayName}'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}") Object
            button(ng-show="selectedExample === '#{example.displayName}'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}") JSON
        .example-viewer(ng-show="selectedExample === '#{example.displayName}' && api.showTypeExample === 'object'")
            if (typeof(example.structuredValue.data) !== 'undefined')
                json-formatter.json-formatter-dark(json="#{JSON.stringify(example.structuredValue.data, null, 4)}" open="3")
            else
                json-formatter.json-formatter-dark(json="#{JSON.stringify(example.structuredValue, null, 4)}" open="3")                
        .example-viewer.json(ng-show="selectedExample === '#{example.displayName}' && api.showTypeExample === 'json'")
            if (typeof(example.structuredValue.data) !== 'undefined')
                pre= JSON.stringify(example.structuredValue.data, null, 4)
            else
                pre= JSON.stringify(example.structuredValue, null, 4)                
