h3 Example
.example
    section(layout="row" layout-align="left center")
        button(ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}") Object
        button(ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}") JSON
    .example-viewer(ng-show="api.showTypeExample === 'object'")
        json-formatter.json-formatter-dark(json="#{method.body['application/json'].example}" open="3")
    .example-viewer.json(ng-show="api.showTypeExample === 'json'")
        pre= method.body['application/json'].example
