table
    caption Properties
    tr
        th Name
        th Required
        th Description
    - var key = ''
    - if (method.body['application/json']) {
        - key = 'application/json';
    - } else if (method.body['multipart/form-data']) {
        - key = 'multipart/form-data';
    - } else {
        - console.log("error")
    - }
    - var globalUnionTypes = []
    each property, index in method.body[key].properties
        include ../requestResponseMethod
