
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">NOTIFICATIONS<a href="https://grapi.slack.com/" target="_blank">Notifications Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/notifications/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('clapi-cl-apis-products-notifications')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/clapi/repos/clapi-cl-apis-products-notifications" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/clapi/repos/clapi-cl-apis-products-notifications</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/clapi/repos/clapi-cl-apis-products-notifications/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>Managing of information required to send a notice originating from a sender to a set of receivers. The sender may be a person, process, application, promotion, etc. and receivers can be a set of persons (which may o may not be customers), or products related with them.
</p>
    <h2>RESOURCES</h2>
    <div id="/enrollments" class="resource-table">
      <div ng-click="api.hide('/enrollments')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/enrollments</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/enrollments'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for enrolling a new user and associating it with a device.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: enrollmentsActiveButton === 'post'}" ng-click="api.showMethod($event, 'enrollments', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="enrollments = 'post'; enrollmentsActiveButton = 'post'" ng-show="enrollments === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/enrollments'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method to enrolling a new user.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="deviceId display-name">deviceId</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Unique identifier of the Device.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="platform display-name">platform</span><span class="type">platform</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Operating system of the Device.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="platform.id display-name">platform.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Device operating system identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">ANDROID: ANDROID.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">IOS: IOS.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="platform.name display-name">platform.name</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Name of the device operating system.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="version display-name">version</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Version of the application with which the user will be associated.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;deviceId&quot;: &quot;54665465465&quot;,
    &quot;platform&quot;: {
        &quot;id&quot;: &quot;ANDROID&quot;
    },
    &quot;version&quot;: &quot;1.2.2&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;deviceId&quot;: &quot;54665465465&quot;,
    &quot;platform&quot;: {
        &quot;id&quot;: &quot;ANDROID&quot;
    },
    &quot;version&quot;: &quot;1.2.2&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/notifications" class="resource-table">
      <div ng-click="api.hide('/notifications')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/notifications</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/notifications'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the notifications related to a user.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: notificationsActiveButton === 'get'}" ng-click="api.showMethod($event, 'notifications', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="notifications = 'get'; notificationsActiveButton = 'get'" ng-show="notifications === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/notifications'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of notifications related to a user.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">notificationType.id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filter notification type by identifier.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>PAYMENT_REMUNERATION</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Date of creation of the notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="sentDate display-name">sentDate</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Hour of dispatch of the notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isRead display-name">isRead</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Flag indicating that the notification has been read.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="message display-name">message</span><span class="type">message</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Contained in the notification message.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="message.title display-name">message.title</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Title of the message shown in the notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="message.body display-name">message.body</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the message displayed in the notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="notificationType display-name">notificationType</span><span class="type">notificationType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="notificationType.id display-name">notificationType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the type of notification.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PAYMENT_REMUNERATION: Payment remuneration</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DEPOSIT_AND_CHECK_CASHING: Deposit and check cashing</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">KEY_CHANGE: Key change</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">AAP_REGISTER_NOTIFICATION: AAP Register Notification (Automatic account payment AAP) (PAC in spanish)</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">APP_CANCELLATION_NOTIFICATION: AAP Cancellation Notification (Automatic account payment AAP) (PAC in spanish)</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">APP_CHARGE_PAYMENT_NOTIFICATION: AAP Charge payment notification (Automatic account payment AAP) (PAC in spanish)</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">APP_NOTIFICATION_RETURN: AAP notification return (Automatic account payment AAP) (PAC in spanish)</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PROTEST_CHECK: Check protest</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">APPROVED_CREDIT_OFFER: Approved credit offer</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SERVICE_PAYMENT: Service payment</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">OPPORTUNITIES_AND_PROMOTIONS: Opportunities and promotions</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CREDIT_CARD_INCREASE: Credit card increase</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CREDIT_LINE_INCREASE: Credit line increase</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">HIGH_AMOUNT_WITHDRAW: Draft bank due great amounts (security)</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="notificationType.name display-name">notificationType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the type of notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="deviceId display-name">deviceId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the Device.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="platform display-name">platform</span><span class="type">platform</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operating system of the Device.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="platform.id display-name">platform.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Device operating system identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ANDROID: ANDROID.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">IOS: IOS.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="platform.name display-name">platform.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the device operating system.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="remainingAttempts display-name">remainingAttempts</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of remaining attempts to postpone notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;7428765&quot;,
            &quot;creationDate&quot;: &quot;2017-06-05T18:59:19&quot;,
            &quot;sentDate&quot;: &quot;2017-06-05T18:59:19&quot;,
            &quot;isRead&quot;: true,
            &quot;message&quot;: {
                &quot;title&quot;: &quot;HA SIDO DEPOSITADO UN ABONO DE REMUNERACION&quot;,
                &quot;body&quot;: &quot;23 09 16 HA SIDO DEPOSITADO UN ABONO DE REMUNERACION CONSULTAR CARTOLA.&quot;
            },
            &quot;notificationType&quot;: {
                &quot;id&quot;: &quot;PAYMENT_REMUNERATION&quot;
            },
            &quot;deviceId&quot;: &quot;54665465465&quot;,
            &quot;platform&quot;: {
                &quot;id&quot;: &quot;ANDROID&quot;
            }
        },
        {
            &quot;id&quot;: &quot;7428764&quot;,
            &quot;creationDate&quot;: &quot;2017-06-05T18:44:10&quot;,
            &quot;sentDate&quot;: &quot;2017-06-05T18:44:10&quot;,
            &quot;isRead&quot;: false,
            &quot;message&quot;: {
                &quot;title&quot;: &quot;Cambio Clave&quot;,
                &quot;body&quot;: &quot;LE INFORMAMOS QUE HA EFECTUADO UN CAMBIO DE CLAVE. 2015-07-06&quot;
            },
            &quot;notificationType&quot;: {
                &quot;id&quot;: &quot;KEY_CHANGE&quot;
            },
            &quot;deviceId&quot;: &quot;54665465465&quot;,
            &quot;platform&quot;: {
                &quot;id&quot;: &quot;IOS&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;7428765&quot;,
            &quot;creationDate&quot;: &quot;2017-06-05T18:59:19&quot;,
            &quot;sentDate&quot;: &quot;2017-06-05T18:59:19&quot;,
            &quot;isRead&quot;: true,
            &quot;message&quot;: {
                &quot;title&quot;: &quot;HA SIDO DEPOSITADO UN ABONO DE REMUNERACION&quot;,
                &quot;body&quot;: &quot;23 09 16 HA SIDO DEPOSITADO UN ABONO DE REMUNERACION CONSULTAR CARTOLA.&quot;
            },
            &quot;notificationType&quot;: {
                &quot;id&quot;: &quot;PAYMENT_REMUNERATION&quot;
            },
            &quot;deviceId&quot;: &quot;54665465465&quot;,
            &quot;platform&quot;: {
                &quot;id&quot;: &quot;ANDROID&quot;
            }
        },
        {
            &quot;id&quot;: &quot;7428764&quot;,
            &quot;creationDate&quot;: &quot;2017-06-05T18:44:10&quot;,
            &quot;sentDate&quot;: &quot;2017-06-05T18:44:10&quot;,
            &quot;isRead&quot;: false,
            &quot;message&quot;: {
                &quot;title&quot;: &quot;Cambio Clave&quot;,
                &quot;body&quot;: &quot;LE INFORMAMOS QUE HA EFECTUADO UN CAMBIO DE CLAVE. 2015-07-06&quot;
            },
            &quot;notificationType&quot;: {
                &quot;id&quot;: &quot;KEY_CHANGE&quot;
            },
            &quot;deviceId&quot;: &quot;54665465465&quot;,
            &quot;platform&quot;: {
                &quot;id&quot;: &quot;IOS&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/notifications/toggle" class="resource-table">
      <div ng-click="api.hide('/notifications/toggle')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/notifications/toggle</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/notifications/toggle'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for marking all notifications as read.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: notificationstoggleActiveButton === 'post'}" ng-click="api.showMethod($event, 'notificationstoggle', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="notificationstoggle = 'post'; notificationstoggleActiveButton = 'post'" ng-show="notificationstoggle === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/notifications/toggle'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for marking all notifications as read.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="isRead display-name">isRead</span><span class="type">boolean</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Flag indicating that all notifications has been read.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;isRead&quot;: true
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;isRead&quot;: true
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/notifications/{notification-id}" class="resource-table">
      <div ng-click="api.hide('/notifications/{notification-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/notifications/{notification-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services patch">PATCH</label>
          <label class="type-of-services delete">DELETE</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/notifications/{notification-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing notification details.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="patch" ng-class="{active: notificationsnotificationidActiveButton === 'patch'}" ng-click="api.showMethod($event, 'notificationsnotificationid', 'patch')" class="md-primary button-menu">patch</button>
                <button id="delete" ng-class="{active: notificationsnotificationidActiveButton === 'delete'}" ng-click="api.showMethod($event, 'notificationsnotificationid', 'delete')" class="md-primary button-menu">delete</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="patch" ng-init="notificationsnotificationid = 'patch'; notificationsnotificationidActiveButton = 'patch'" ng-show="notificationsnotificationid === 'patch'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/notifications/{notification-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='patch'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Service for updating notification, the notification can be marked as read or delay sending it.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">notification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique notification identifier</p>
                        </td>
                        <td><span>7428765</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="isRead display-name">isRead</span><span class="type">boolean</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Indicates if notification has been read. Default value is false, if you want to mark notification as read you will have to change this attribute to true.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sentDate display-name">sentDate</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Deadline on which the customer notification is displayed. Only postponed for one day and this can be done until the deadline.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;isRead&quot;: false,
    &quot;sentDate&quot;: &quot;2017-06-07T18:59:19&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;isRead&quot;: false,
    &quot;sentDate&quot;: &quot;2017-06-07T18:59:19&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="delete" ng-show="notificationsnotificationid === 'delete'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/notifications/{notification-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='delete'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for delete a notification.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">notification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique notification identifier</p>
                        </td>
                        <td><span>7428765</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/notification-types" class="resource-table">
      <div ng-click="api.hide('/notification-types')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/notification-types</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <label class="type-of-services patch">PATCH</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/notification-types'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing list of types of notifications and their status in relation to a user.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: notificationtypesActiveButton === 'get'}" ng-click="api.showMethod($event, 'notificationtypes', 'get')" class="md-primary button-menu">get</button>
                <button id="patch" ng-class="{active: notificationtypesActiveButton === 'patch'}" ng-click="api.showMethod($event, 'notificationtypes', 'patch')" class="md-primary button-menu">patch</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="notificationtypes = 'get'; notificationtypesActiveButton = 'get'" ng-show="notificationtypes === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/notification-types'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of types of notifications and their status.
</p>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the type of notification.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PAYMENT_REMUNERATION: Payment remuneration</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DEPOSIT_AND_CHECK_CASHING: Deposit and check cashing</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">KEY_CHANGE: Key change</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">REGISTER_AND_CANCELLATION_NOTIFICATION: Notification of Register and Cancellation of Automatic account payment</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CHARGE_PAYMENT_AND_RETURN_NOTIFICATION: Notification of Charge and Return of Automatic account payment</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PROTEST_CHECK: Check protest</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">APPROVED_CREDIT_OFFER: Approved credit offer</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SERVICE_PAYMENT: Service payment</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">OPPORTUNITIES_AND_PROMOTIONS: Opportunities and promotions</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CREDIT_CARD_INCREASE: Credit card increase</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CREDIT_LINE_INCREASE: Credit line increase</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">HIGH_AMOUNT_WITHDRAW: Draft bank due great amounts (security)</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the type of notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="duration display-name">duration</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Duration in hours that notification will be available.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="startDate display-name">startDate</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Hour of dispatch of the notification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isEnabled display-name">isEnabled</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Indicating that the notification is activated.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;PAYMENT_REMUNERATION&quot;,
            &quot;name&quot;: &quot;Payment remuneration&quot;,
            &quot;duration&quot;: 100,
            &quot;startDate&quot;: &quot;01-01-2001 8:00:00&quot;,
            &quot;isEnabled&quot;: false
        },
        {
            &quot;id&quot;: &quot;KEY_CHANGE&quot;,
            &quot;name&quot;: &quot;Key change&quot;,
            &quot;duration&quot;: 100,
            &quot;startDate&quot;: &quot;01-01-2001 1:15:00&quot;,
            &quot;isEnabled&quot;: true
        },
        {
            &quot;id&quot;: &quot;SERVICE_PAYMENT&quot;,
            &quot;name&quot;: &quot;Service payment&quot;,
            &quot;duration&quot;: 100,
            &quot;startDate&quot;: &quot;01-01-2001 8:15:00&quot;,
            &quot;isEnabled&quot;: true
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;PAYMENT_REMUNERATION&quot;,
            &quot;name&quot;: &quot;Payment remuneration&quot;,
            &quot;duration&quot;: 100,
            &quot;startDate&quot;: &quot;01-01-2001 8:00:00&quot;,
            &quot;isEnabled&quot;: false
        },
        {
            &quot;id&quot;: &quot;KEY_CHANGE&quot;,
            &quot;name&quot;: &quot;Key change&quot;,
            &quot;duration&quot;: 100,
            &quot;startDate&quot;: &quot;01-01-2001 1:15:00&quot;,
            &quot;isEnabled&quot;: true
        },
        {
            &quot;id&quot;: &quot;SERVICE_PAYMENT&quot;,
            &quot;name&quot;: &quot;Service payment&quot;,
            &quot;duration&quot;: 100,
            &quot;startDate&quot;: &quot;01-01-2001 8:15:00&quot;,
            &quot;isEnabled&quot;: true
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="patch" ng-show="notificationtypes === 'patch'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/notification-types'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='patch'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for updating the notification types status throw a list of them. The list not necessary has to include all of them, only those that are going to be updated.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="notificationTypeConfigurations display-name">notificationTypeConfigurations</span><span class="type">notificationTypeConfigurations</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Operating system of the Device.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="notificationTypeConfigurations.id display-name">notificationTypeConfigurations.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier of the type of notification.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">PAYMENT_REMUNERATION: Payment remuneration</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DEPOSIT_AND_CHECK_CASHING: Deposit and check cashing</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">KEY_CHANGE: Key change</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">REGISTER_AND_CANCELLATION_NOTIFICATION: Notification of Register and Cancellation of Automatic account payment</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CHARGE_PAYMENT_AND_RETURN_NOTIFICATION: Notification of Charge and Return of Automatic account payment</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">PROTEST_CHECK: Check protest</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">APPROVED_CREDIT_OFFER: Approved credit offer</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SERVICE_PAYMENT: Service payment</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">OPPORTUNITIES_AND_PROMOTIONS: Opportunities and promotions</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CREDIT_CARD_INCREASE: Credit card increase</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CREDIT_LINE_INCREASE: Credit line increase</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">HIGH_AMOUNT_WITHDRAW: Draft bank due great amounts (security)</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="isEnabled display-name">isEnabled</span><span class="type">boolean</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Indicating that the notification is activated.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;notificationTypeConfigurations&quot;: [
        {
            &quot;id&quot;: &quot;PAYMENT_REMUNERATION&quot;
        },
        {
            &quot;id&quot;: &quot;KEY_CHANGE&quot;
        },
        {
            &quot;id&quot;: &quot;SERVICE_PAYMENT&quot;
        }
    ],
    &quot;isEnabled&quot;: true
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;notificationTypeConfigurations&quot;: [
        {
            &quot;id&quot;: &quot;PAYMENT_REMUNERATION&quot;
        },
        {
            &quot;id&quot;: &quot;KEY_CHANGE&quot;
        },
        {
            &quot;id&quot;: &quot;SERVICE_PAYMENT&quot;
        }
    ],
    &quot;isEnabled&quot;: true
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/notification-types/{notification-type-id}" class="resource-table">
      <div ng-click="api.hide('/notification-types/{notification-type-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/notification-types/{notification-type-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services patch">PATCH</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/notification-types/{notification-type-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing notification type activation.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="patch" ng-class="{active: notificationtypesnotificationtypeidActiveButton === 'patch'}" ng-click="api.showMethod($event, 'notificationtypesnotificationtypeid', 'patch')" class="md-primary button-menu">patch</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="patch" ng-init="notificationtypesnotificationtypeid = 'patch'; notificationtypesnotificationtypeidActiveButton = 'patch'" ng-show="notificationtypesnotificationtypeid === 'patch'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/notification-types/{notification-type-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='patch'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for managing notification type activation (Enable or disable it).
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">notification-type-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filter notification type by identifier.</p>
                        </td>
                        <td><span>KEY_CHANGE</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="isEnabled display-name">isEnabled</span><span class="type">boolean</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Indicating that the notification is activated.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;isEnabled&quot;: true
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;isEnabled&quot;: true
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>