
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CONFIG MANAGER<a href="https://grapi.slack.com/" target="_blank">Config Manager Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/config-manager/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-platform-apis-configmanager')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-platform-apis-configmanager" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-platform-apis-configmanager</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-platform-apis-configmanager/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>can not resolve docs/api-description.md</p>
    <h2>RESOURCES</h2>
    <div id="/items/{item-id}/configs" class="resource-table">
      <div ng-click="api.hide('/items/{item-id}/configs')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/items/{item-id}/configs</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for interacting with the configs from this path.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: itemsitemidconfigsActiveButton === 'get'}" ng-click="api.showMethod($event, 'itemsitemidconfigs', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="itemsitemidconfigs = 'get'; itemsitemidconfigsActiveButton = 'get'" ng-show="itemsitemidconfigs === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for obtaining the list of configs.
</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">vnd.bbva.backend-type</span></td>
                        <td>
                          <pre>Type of backend.</pre>
                        </td>
                        <td>true</td>
                        <td>etcd</td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">item-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component. Ether will create this value. One item identifies a component who belongs to a parent Application and this Application belongs to a parent Project in ETHER platform context.</p>
                        </td>
                        <td><span>serviceConfig</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Config identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;cron-executor&quot;
        },
        {
            &quot;id&quot;: &quot;api-service&quot;
        },
        {
            &quot;id&quot;: &quot;executions-mongodb&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;cron-executor&quot;
        },
        {
            &quot;id&quot;: &quot;api-service&quot;
        },
        {
            &quot;id&quot;: &quot;executions-mongodb&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/items/{item-id}/configs/{config-id}" class="resource-table">
      <div ng-click="api.hide('/items/{item-id}/configs/{config-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/items/{item-id}/configs/{config-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services delete">DELETE</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs/{config-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for operating on a specific config. The identifier of the template is received as a path variable.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="delete" ng-class="{active: itemsitemidconfigsconfigidActiveButton === 'delete'}" ng-click="api.showMethod($event, 'itemsitemidconfigsconfigid', 'delete')" class="md-primary button-menu">delete</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="delete" ng-init="itemsitemidconfigsconfigid = 'delete'; itemsitemidconfigsconfigidActiveButton = 'delete'" ng-show="itemsitemidconfigsconfigid === 'delete'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs/{config-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='delete'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for deleting an existing config.</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">vnd.bbva.backend-type</span></td>
                        <td>
                          <pre>Type of backend.</pre>
                        </td>
                        <td>true</td>
                        <td>etcd</td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">item-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component. Ether will create this value. One item identifies a component who belongs to a parent Application and this Application belongs to a parent Project in ETHER platform context.</p>
                        </td>
                        <td><span>serviceConfig</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">config-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component configuration.</p>
                        </td>
                        <td><span>database</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/items/{item-id}/configs/{config-id}/keys" class="resource-table">
      <div ng-click="api.hide('/items/{item-id}/configs/{config-id}/keys')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/items/{item-id}/configs/{config-id}/keys</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs/{config-id}/keys'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for interacting with the keys from this path.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: itemsitemidconfigsconfigidkeysActiveButton === 'get'}" ng-click="api.showMethod($event, 'itemsitemidconfigsconfigidkeys', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="itemsitemidconfigsconfigidkeys = 'get'; itemsitemidconfigsconfigidkeysActiveButton = 'get'" ng-show="itemsitemidconfigsconfigidkeys === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs/{config-id}/keys'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for obtaining the list of configs.
</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">vnd.bbva.backend-type</span></td>
                        <td>
                          <pre>Type of backend.</pre>
                        </td>
                        <td>true</td>
                        <td>etcd</td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">item-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component. Ether will create this value. One item identifies a component who belongs to a parent Application and this Application belongs to a parent Project in ETHER platform context.</p>
                        </td>
                        <td><span>serviceConfig</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">config-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component configuration.</p>
                        </td>
                        <td><span>database</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="value display-name">value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;country&quot;,
            &quot;value&quot;: &quot;Spain&quot;
        },
        {
            &quot;id&quot;: &quot;language&quot;,
            &quot;value&quot;: &quot;es_ES&quot;
        },
        {
            &quot;id&quot;: &quot;theme&quot;,
            &quot;value&quot;: &quot;bbva_blue&quot;
        },
        {
            &quot;id&quot;: &quot;environment&quot;,
            &quot;value&quot;: &quot;production&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;country&quot;,
            &quot;value&quot;: &quot;Spain&quot;
        },
        {
            &quot;id&quot;: &quot;language&quot;,
            &quot;value&quot;: &quot;es_ES&quot;
        },
        {
            &quot;id&quot;: &quot;theme&quot;,
            &quot;value&quot;: &quot;bbva_blue&quot;
        },
        {
            &quot;id&quot;: &quot;environment&quot;,
            &quot;value&quot;: &quot;production&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/items/{item-id}/configs/{config-id}/keys/{key-id}" class="resource-table">
      <div ng-click="api.hide('/items/{item-id}/configs/{config-id}/keys/{key-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/items/{item-id}/configs/{config-id}/keys/{key-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <label class="type-of-services put">PUT</label>
          <label class="type-of-services delete">DELETE</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs/{config-id}/keys/{key-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for operating on a specific key. The key identifier is received as a path variable.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: itemsitemidconfigsconfigidkeyskeyidActiveButton === 'get'}" ng-click="api.showMethod($event, 'itemsitemidconfigsconfigidkeyskeyid', 'get')" class="md-primary button-menu">get</button>
                <button id="put" ng-class="{active: itemsitemidconfigsconfigidkeyskeyidActiveButton === 'put'}" ng-click="api.showMethod($event, 'itemsitemidconfigsconfigidkeyskeyid', 'put')" class="md-primary button-menu">put</button>
                <button id="delete" ng-class="{active: itemsitemidconfigsconfigidkeyskeyidActiveButton === 'delete'}" ng-click="api.showMethod($event, 'itemsitemidconfigsconfigidkeyskeyid', 'delete')" class="md-primary button-menu">delete</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="itemsitemidconfigsconfigidkeyskeyid = 'get'; itemsitemidconfigsconfigidkeyskeyidActiveButton = 'get'" ng-show="itemsitemidconfigsconfigidkeyskeyid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs/{config-id}/keys/{key-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for obtaining the detail for an existing key.
</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">vnd.bbva.backend-type</span></td>
                        <td>
                          <pre>Type of backend.</pre>
                        </td>
                        <td>true</td>
                        <td>etcd</td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">item-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component. Ether will create this value. One item identifies a component who belongs to a parent Application and this Application belongs to a parent Project in ETHER platform context.</p>
                        </td>
                        <td><span>serviceConfig</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">config-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component configuration.</p>
                        </td>
                        <td><span>database</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">key-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier per configuration.</p>
                        </td>
                        <td><span>port</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="value display-name">value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;country&quot;,
        &quot;value&quot;: &quot;Spain&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;country&quot;,
        &quot;value&quot;: &quot;Spain&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="put" ng-show="itemsitemidconfigsconfigidkeyskeyid === 'put'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs/{config-id}/keys/{key-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='put'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a new property.</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">vnd.bbva.backend-type</span></td>
                        <td>
                          <pre>Type of backend.</pre>
                        </td>
                        <td>true</td>
                        <td>etcd</td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">item-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component. Ether will create this value. One item identifies a component who belongs to a parent Application and this Application belongs to a parent Project in ETHER platform context.</p>
                        </td>
                        <td><span>serviceConfig</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">config-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component configuration.</p>
                        </td>
                        <td><span>database</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">key-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier per configuration.</p>
                        </td>
                        <td><span>port</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="value display-name">value</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Key value.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;value&quot;: &quot;es_ES&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;value&quot;: &quot;es_ES&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="delete" ng-show="itemsitemidconfigsconfigidkeyskeyid === 'delete'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/items/{item-id}/configs/{config-id}/keys/{key-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='delete'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for deleting an existing key.</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">vnd.bbva.backend-type</span></td>
                        <td>
                          <pre>Type of backend.</pre>
                        </td>
                        <td>true</td>
                        <td>etcd</td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">item-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component. Ether will create this value. One item identifies a component who belongs to a parent Application and this Application belongs to a parent Project in ETHER platform context.</p>
                        </td>
                        <td><span>serviceConfig</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">config-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier for each component configuration.</p>
                        </td>
                        <td><span>database</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">key-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier per configuration.</p>
                        </td>
                        <td><span>port</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>