.api-documentation
  .api-head
    h1.api-name Status Codes
    h4.version HTTP Response Codes indicate whether a specific HTTP requests has been successfully completed. Responses are grouped in five classes: informational responses, successful responses, redirections, client errors, and servers errors.
  .table-status
    table
      caption(ng-click="api.showStatus200 = !api.showStatus200") 200
        i.material-icons play_circle_outline
      tbody(ng-show="api.showStatus200 === true")
        tr
          th Name
          th Description
        tr(ng-repeat="status in api.statusCodes['200']")
          td {{status.name}}
          td {{status.description}}
  .table-status
    table
      caption(ng-click="api.showStatus300 = !api.showStatus300") 300
        i.material-icons play_circle_outline
      tbody(ng-show="api.showStatus300 === true")
        tr
          th Name
          th Description
        tr(ng-repeat="status in api.statusCodes['300']")
          td {{status.name}}
          td {{status.description}}
  .table-status
    table
      caption(ng-click="api.showStatus400 = !api.showStatus400") 400
        i.material-icons play_circle_outline
      tbody(ng-show="api.showStatus400 === true")
        tr
          th Name
          th Description
        tr(ng-repeat="status in api.statusCodes['400']")
          td {{status.name}}
          td {{status.description}}
  .table-status
    table
      caption(ng-click="api.showStatus500 = !api.showStatus500") 500
        i.material-icons play_circle_outline
      tbody(ng-show="api.showStatus500 === true")
        tr
          th Name
          th Description
        tr(ng-repeat="status in api.statusCodes['500']")
          td {{status.name}}
          td {{status.description}}