if (typeof(annotation.structuredValue) !== 'undefined' && (annotation.name === 'countrySpecific' || annotation.name === 'annotations.countrySpecific'))
    each annotationType in annotation.structuredValue
        .annotation(layout="row")
            .country-flag(flex="10")
                img(src='assets/flags/#{annotationType.country.toLowerCase()}.png')
            .annotation-description(flex="90")
                p= annotationType.description
