
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">NON-CUSTOMERS<a href="https://grapi.slack.com/" target="_blank">Non-Customers Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/non-customers/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-people-noncustomers')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-noncustomers" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-noncustomers</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-people-noncustomers/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>The register flow is modeled in a first stage in which the client is requested to enter the minimum data to register (which will generally be a user, email and password). This first stage ends with the registration of the said user in the bank systems and the sending of a confirmation email to the client so that the registration is correctly executed.

The second stage occurs on the client's side in which, through an email sent by the bank, the client is asked for the validation of the email or contact provided and therefore the confirmation of their desire to register on the corresponding platform. This email or message will contain a single-use url in which it will validate the generated token with the encrypted information corresponding to the user's registration.</p>
    <h2>RESOURCES</h2>
    <div id="/non-customers" class="resource-table">
      <div ng-click="api.hide('/non-customers')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/non-customers</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/non-customers'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing register of non-customers.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: noncustomersActiveButton === 'post'}" ng-click="api.showMethod($event, 'noncustomers', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="noncustomers = 'post'; noncustomersActiveButton = 'post'" ng-show="noncustomers === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/non-customers'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for register a non-customer in the platform.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'User identification that is going to be used for operating in the platform or service.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="userType display-name">userType</span><span class="type">userType</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'User type identification.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="userType.id display-name">userType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'User type identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">EMAIL: Email user type.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">MOBILE_NUMBER: Mobile number user type.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">IDENTITY_DOCUMENT: Identity document user type.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="userType.name display-name">userType.name</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'User type identifier description. More descriptive and expanded definition than id property.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="firstName display-name">firstName</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Name of the person.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="middleName display-name">middleName</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Name of a person occurring between the first and family names, as a second given name or a maternal surname.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="lastName display-name">lastName</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Name(s) written after the &quot;given names&quot; and could be the main name.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="password display-name">password</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'User password.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="email display-name">email</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'User contact email. This email will be used as contact information (Notifications, reset password etc.)
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Examples</h3>
                    <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                      <md-option ng-value="'UserType Mail'">UserType Mail</md-option>
                      <md-option ng-value="'UserType Mobile'">UserType Mobile</md-option>
                    </md-select>
                    <div class="example">
                      <p ng-show="selectedExample === 'UserType Mail'">JSON input example for non-customer creation with mail</p>
                      <section ng-show="selectedExample === 'UserType Mail'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'UserType Mail'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'UserType Mail'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'UserType Mail' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;id&quot;: &quot;manuelserranolopez@gmail.com&quot;,
    &quot;userType&quot;: {
        &quot;id&quot;: &quot;EMAIL&quot;,
        &quot;name&quot;: &quot;Identificación de usuario mediante correo elestrónico&quot;
    },
    &quot;firstName&quot;: &quot;manuel&quot;,
    &quot;middleName&quot;: &quot;Serrano&quot;,
    &quot;lastName&quot;: &quot;López&quot;,
    &quot;password&quot;: &quot;M@nu3l53rr@n0&quot;,
    &quot;email&quot;: &quot;manuelserranolopez@gmail.com&quot;
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'UserType Mail' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;id&quot;: &quot;manuelserranolopez@gmail.com&quot;,
    &quot;userType&quot;: {
        &quot;id&quot;: &quot;EMAIL&quot;,
        &quot;name&quot;: &quot;Identificación de usuario mediante correo elestrónico&quot;
    },
    &quot;firstName&quot;: &quot;manuel&quot;,
    &quot;middleName&quot;: &quot;Serrano&quot;,
    &quot;lastName&quot;: &quot;López&quot;,
    &quot;password&quot;: &quot;M@nu3l53rr@n0&quot;,
    &quot;email&quot;: &quot;manuelserranolopez@gmail.com&quot;
}</pre>
                      </div>
                    </div>
                    <div class="example">
                      <p ng-show="selectedExample === 'UserType Mobile'">JSON input example for non-customer creation with mobile</p>
                      <section ng-show="selectedExample === 'UserType Mobile'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'UserType Mobile'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'UserType Mobile'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'UserType Mobile' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;id&quot;: &quot;666700800&quot;,
    &quot;userType&quot;: {
        &quot;id&quot;: &quot;MOBILE&quot;,
        &quot;name&quot;: &quot;Identificación de usuario mediante número de teléfono&quot;
    },
    &quot;firstName&quot;: &quot;manuel&quot;,
    &quot;middleName&quot;: &quot;Serrano&quot;,
    &quot;lastName&quot;: &quot;López&quot;,
    &quot;password&quot;: &quot;M@nu3l53rr@n0&quot;,
    &quot;email&quot;: &quot;manuelserranolopez@gmail.com&quot;
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'UserType Mobile' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;id&quot;: &quot;666700800&quot;,
    &quot;userType&quot;: {
        &quot;id&quot;: &quot;MOBILE&quot;,
        &quot;name&quot;: &quot;Identificación de usuario mediante número de teléfono&quot;
    },
    &quot;firstName&quot;: &quot;manuel&quot;,
    &quot;middleName&quot;: &quot;Serrano&quot;,
    &quot;lastName&quot;: &quot;López&quot;,
    &quot;password&quot;: &quot;M@nu3l53rr@n0&quot;,
    &quot;email&quot;: &quot;manuelserranolopez@gmail.com&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Created</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/non-customers/1234</td>
                              </tr>
                            </table>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>