.api-documentation
    .api-head
        h1.api-name #{title.toUpperCase()}
            a(href="https://grapi.slack.com/" target="_blank") #{title} Slack
                img(src="/assets/images/slack.png")
        h4.base-uri Base URI:
            span /#{title.replace(/ /g, '-').toLowerCase()}/#{version.toLowerCase().substring('.', version.indexOf('\.'))}
        h4.version Version:
            //- span #{version}
            md-select(ng-init="api.getTags('#{gitRepoTags}')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest")
                md-option(ng-repeat="(key, tag) in api.tags" value="{{tag}}") {{tag}}
        h4.version GIT Repository:
            a(ng-href="https://globaldevtools.bbva.com" + "#{gitRepo}" target="_blank") https://globaldevtools.bbva.com#{gitRepo}
        h4.version Download:
            a(href="https://globaldevtools.bbva.com" + "#{gitRepoDown}" + "/archive?format=zip")
                i.material-icons.iconCloud &#xE2C0;
    include resources/resource
