doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description" content="RAML to View")
    title apisTeamGloblal
    include styles
  body
    include apiView
    include scripts
