each annotation, index in method.annotations
    each annotationType in annotation.structuredValue
        .annotation(layout="row")
            md-tooltip(md-direction="left")= index
            .country-flag(flex="5")
                img(src='assets/flags/#{annotationType.country.toLowerCase()}.png')
            .annotation-description(flex="95")
                p= annotationType.description