if(typeof(response.body['application/json'].properties.pagination) !== 'undefined')	
	table
		caption Properties
		tr
			th Name
			th Provided
			th Description
		each property, index in response.body['application/json'].properties.pagination.properties
			tr
				td.mono
					span.display-name= property.displayName.replace(/^(\w+)./g, "")
					if (typeof(property.enum) !== 'undefined')
						span.type= 'enum'
					else
						if (typeof(property.type) !== 'undefined')
							span.type= property.type
				td
					if (property.required === true)
						span Mandatory
					else
						span Optional

				td
					if (typeof(property.description) === 'string')
						span(ng-bind-html="'#{property.description}'")
						div.enum
							if (typeof(property.annotations['annotations.enumDescription']) !== 'undefined')
								strong Possible values:
								each typeEnum in property.annotations['annotations.enumDescription'].structuredValue
									ul
										each value, index in typeEnum
											li
												span.value #{index}: #{value}
							else
								if (typeof(property.enum) !== 'undefined')
									ul
										each value in property.enum
											li
												span.value= value
					else
						span= property.description
						div.enum
							if (typeof(property['(enumDescription)']) !== 'undefined')
								strong Possible values:
								each typeEnum in property['(enumDescription)']
									ul
										each value, index in typeEnum
											li
												span.value #{index}: #{value}
							else
								if (typeof(property.enum) !== 'undefined')
									ul
										each value in property.enum
											li
												span.value= value
