
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">EXCHANGE RATES<a href="https://grapi.slack.com/" target="_blank">Exchange Rates Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/exchange-rates/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-exchangerates')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-exchangerates" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-exchangerates</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-exchangerates/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API offers services related to the exchange rates for the business of Perú.
</p>
    <h2>RESOURCES</h2>
    <div id="/exchange-rates-channels" class="resource-table">
      <div ng-click="api.hide('/exchange-rates-channels')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/exchange-rates-channels</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/exchange-rates-channels'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service that allows to consult the different types of exchange change according to each channel.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: exchangerateschannelsActiveButton === 'get'}" ng-click="api.showMethod($event, 'exchangerateschannels', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="exchangerateschannels = 'get'; exchangerateschannelsActiveButton = 'get'" ng-show="exchangerateschannels === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/exchange-rates-channels'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for querying exchange rate by attention  channel.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">date</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Date of exchange rate factor quotation. This date is used to obtain exchange rates from dates prior to the current day, value in ISO 2047 format.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>2017-03-28T16:41:41.090Z</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">channel.id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Channels of attention that manage their own factors of exchange rate quotation.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>001</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">type.id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Value to identify different factors / exchange rates.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>01</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">targetCurrency.id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Base currency code in ISO 4217 format, default is USD (US Dollar)
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>USD</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="channel display-name">channel</span><span class="type">channel</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Channel of attention
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="channel.id display-name">channel.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Attention channel identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="channel.name display-name">channel.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of attention channel.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="type display-name">type</span><span class="type">type</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of different factors / exchange rates.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="type.id display-name">type.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type identifier of factors / exchange rates.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="type.name display-name">type.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the identifier the factor / exchange rate.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetCurrency display-name">targetCurrency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Currency target, if not receive a value by default will take Dollars (USD), based in ISO 4217.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="date display-name">date</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Date of exchange rate factor quotation. This date is used to obtain exchange rates from dates prior to the current day, value in ISO 2047 format.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="exchangeRates display-name">exchangeRates</span><span class="type">array</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Exchange rate conversion factors for each channel and type requested.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="exchangeRates.operationType display-name">exchangeRates.operationType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Operation type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">SALE: Identifier of exchange rate for sales.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PURCHASE: Identifier of exchange rate for purchase.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="exchangeRates.operationType display-name">exchangeRates.operationType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Operation type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="exchangeRates.value display-name">exchangeRates.value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Currency conversion factor, between the base currency and the destination currency.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;channel&quot;: {
                &quot;id&quot;: &quot;001&quot;,
                &quot;name&quot;: &quot;BANCA POR INTERNET&quot;
            },
            &quot;type&quot;: {
                &quot;id&quot;: &quot;01&quot;,
                &quot;name&quot;: &quot;CUENTA VIP &quot;
            },
            &quot;targetCurrency&quot;: &quot;USD&quot;,
            &quot;date&quot;: &quot;2002-10-02T10:00:00-05:00&quot;,
            &quot;exchangeRates&quot;: [
                {
                    &quot;operationType&quot;: {
                        &quot;id&quot;: &quot;SALE&quot;,
                        &quot;name&quot;: &quot;SALE&quot;
                    },
                    &quot;value&quot;: &quot;3.40&quot;
                },
                {
                    &quot;operationType&quot;: {
                        &quot;id&quot;: &quot;PURCHASE&quot;,
                        &quot;name&quot;: &quot;PURCHASE&quot;
                    },
                    &quot;value&quot;: &quot;3.99&quot;
                }
            ]
        },
        {
            &quot;channel&quot;: {
                &quot;id&quot;: &quot;002&quot;,
                &quot;name&quot;: &quot;CAJERO&quot;
            },
            &quot;type&quot;: {
                &quot;id&quot;: &quot;01&quot;,
                &quot;name&quot;: &quot;CUENTA VIP &quot;
            },
            &quot;targetCurrency&quot;: &quot;USD&quot;,
            &quot;date&quot;: &quot;2002-10-02T10:00:00-05:00&quot;,
            &quot;exchangeRates&quot;: [
                {
                    &quot;operationType&quot;: {
                        &quot;id&quot;: &quot;SALE&quot;,
                        &quot;name&quot;: &quot;SALE&quot;
                    },
                    &quot;value&quot;: &quot;3.30&quot;
                },
                {
                    &quot;operationType&quot;: {
                        &quot;id&quot;: &quot;PURCHASE&quot;,
                        &quot;name&quot;: &quot;PURCHASE&quot;
                    },
                    &quot;value&quot;: &quot;3.39&quot;
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;channel&quot;: {
                &quot;id&quot;: &quot;001&quot;,
                &quot;name&quot;: &quot;BANCA POR INTERNET&quot;
            },
            &quot;type&quot;: {
                &quot;id&quot;: &quot;01&quot;,
                &quot;name&quot;: &quot;CUENTA VIP &quot;
            },
            &quot;targetCurrency&quot;: &quot;USD&quot;,
            &quot;date&quot;: &quot;2002-10-02T10:00:00-05:00&quot;,
            &quot;exchangeRates&quot;: [
                {
                    &quot;operationType&quot;: {
                        &quot;id&quot;: &quot;SALE&quot;,
                        &quot;name&quot;: &quot;SALE&quot;
                    },
                    &quot;value&quot;: &quot;3.40&quot;
                },
                {
                    &quot;operationType&quot;: {
                        &quot;id&quot;: &quot;PURCHASE&quot;,
                        &quot;name&quot;: &quot;PURCHASE&quot;
                    },
                    &quot;value&quot;: &quot;3.99&quot;
                }
            ]
        },
        {
            &quot;channel&quot;: {
                &quot;id&quot;: &quot;002&quot;,
                &quot;name&quot;: &quot;CAJERO&quot;
            },
            &quot;type&quot;: {
                &quot;id&quot;: &quot;01&quot;,
                &quot;name&quot;: &quot;CUENTA VIP &quot;
            },
            &quot;targetCurrency&quot;: &quot;USD&quot;,
            &quot;date&quot;: &quot;2002-10-02T10:00:00-05:00&quot;,
            &quot;exchangeRates&quot;: [
                {
                    &quot;operationType&quot;: {
                        &quot;id&quot;: &quot;SALE&quot;,
                        &quot;name&quot;: &quot;SALE&quot;
                    },
                    &quot;value&quot;: &quot;3.30&quot;
                },
                {
                    &quot;operationType&quot;: {
                        &quot;id&quot;: &quot;PURCHASE&quot;,
                        &quot;name&quot;: &quot;PURCHASE&quot;
                    },
                    &quot;value&quot;: &quot;3.39&quot;
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>