
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">DOCUMENT VERIFICATION<a href="https://grapi.slack.com/" target="_blank">Document Verification Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/document-verification/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-security-apis-documentsverifications')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-security-apis-documentsverifications" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-security-apis-documentsverifications</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-security-apis-documentsverifications/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>Api to perform document verifications on a onboarding online process.
</p>
    <h2>RESOURCES</h2>
    <div id="/verifications" class="resource-table">
      <div ng-click="api.hide('/verifications')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for creating a new document verification.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: verificationsActiveButton === 'post'}" ng-click="api.showMethod($event, 'verifications', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="verifications = 'post'; verificationsActiveButton = 'post'" ng-show="verifications === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a new document verification. Once it is created attachments
should be added to the verification. After adding all the required attachments
the verification could be executed. To fulfill verification process execution,
both back &amp; front side of the identity document and selfie images must be provided
Security service for Business.
</p>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Created.</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/verifications/550e8400-1ee7-beea-f0f4-446655440000</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">verificationStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State of the verification.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">OPEN: The verification has been created but needs more data to be processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ERROR: The verifications has been processed with errors.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PROCESSING: The verification is being processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DONE: The verification has been processed successfully.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.description display-name">status.description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Date of creation of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;OPEN&quot;,
            &quot;description&quot;: &quot;The verification has been created but needs more data to be processed.&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;OPEN&quot;,
            &quot;description&quot;: &quot;The verification has been created but needs more data to be processed.&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/verifications/{verification-id}" class="resource-table">
      <div ng-click="api.hide('/verifications/{verification-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications/{verification-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing a verification.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: verificationsverificationidActiveButton === 'get'}" ng-click="api.showMethod($event, 'verificationsverificationid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="verificationsverificationid = 'get'; verificationsverificationidActiveButton = 'get'" ng-show="verificationsverificationid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the data of the requested verification. Security service for Business.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">verification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Verification ID.</p>
                        </td>
                        <td><span>b6a3ba16-f633-41b8-9ada-ced24a90865d</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">verificationStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State of the verification.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">OPEN: The verification has been created but needs more data to be processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ERROR: The verifications has been processed with errors.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PROCESSING: The verification is being processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DONE: The verification has been processed successfully.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.description display-name">status.description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.internalCode display-name">status.internalCode</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Descriptive code of the state when some error occurs. Only applies to ERROR state.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Date of creation of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="urlCallBack display-name">urlCallBack</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Callback where the service should notify via POST message once the verification is processed.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="attachments display-name">attachments</span><span class="type">attachment [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'List of attachments of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="attachments.attachment display-name">attachments.attachment.attachmentType</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of the attachment.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="attachments.attachment display-name">attachments.attachment.attachmentType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Attachment type code.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">OBVERSE_IMAGE: Document's front side image.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">OBVERSE_FLASH_IMAGE: Document's front side image with flash.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">REVERSE_IMAGE: Document's back side image.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">REVERSE_FLASH_IMAGE: Document's back side image with flash.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SELFIE_IMAGE: Document holder's face image.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SELFIE_VIDEO: Document holder's face video.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="attachments.attachment display-name">attachments.attachment.attachmentType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Human readable description of the attachment type.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="attachments.attachment display-name">attachments.attachment.href</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'URL where the attachment could be found.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scores display-name">scores</span><span class="type">score [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'List of scores of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scores.score display-name">scores.score.scoreType</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of socore.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scores.score display-name">scores.score.scoreType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of score code.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">DOCUMENT_VERIFICATION: Score related with the verification of the document itself and its veracity.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SELFIE_VERIFICATION: Score related with the biometric matching between selfie and document photo.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PROOF_OF_LIFE: Score related with the proof of life performed on the video selfie.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scores.score display-name">scores.score.scoreType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'An human readable description of the type of score.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scores.score display-name">scores.score.isValid</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Nominal score. If true the score is considered as an OK, if false as a KO.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scores.score display-name">scores.score</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Numeric puntuation. One is the best score. (min 0.0, max 1.0).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityChecks display-name">securityChecks</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Checks performed on the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityChecks.isOverEightTeen display-name">securityChecks.isOverEightTeen</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Check to determine if the document holder is over eight teen years old.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityChecks.isOverTwentyOne display-name">securityChecks.isOverTwentyOne</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Check to determine if the document holder is over twenty one years old.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityChecks.isUnexpired display-name">securityChecks.isUnexpired</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Check to determine if the document is unexpired. If true the document is valid, else the document is expired.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData display-name">documentExtractedData</span><span class="type">documentData</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Extracted data from the document.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.documentNumber display-name">documentExtractedData.documentNumber</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the document (e.g. DNI number in spain).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.birthDate display-name">documentExtractedData.birthDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Birth date from the document\'s holder.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.expirationDate display-name">documentExtractedData.expirationDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Document\'s expiration date.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.expeditionDate display-name">documentExtractedData.expeditionDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Document\'s expdition date.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.nationality display-name">documentExtractedData.nationality</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Document holder\'s nationality (as ISO 3166-1).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.permanentAddress display-name">documentExtractedData.permanentAddress</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Permanent address from the document\'s holder.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.firstName display-name">documentExtractedData.firstName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Document holder\'s first name.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.lastName display-name">documentExtractedData.lastName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Document holder\'s last name.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.fullName display-name">documentExtractedData.fullName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Document holder\'s full name.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.gender display-name">documentExtractedData.gender</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Document holder\'s gender.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.gender display-name">documentExtractedData.gender.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Gender type code.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">MALE: Of the masculine sex. The sex opposed to the female.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">FEMALE: Of the femenine sex. The sex opposed to the male.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="documentExtractedData.gender display-name">documentExtractedData.gender.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Human readable description of the gender type.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Done'">Done</md-option>
                              <md-option ng-value="'Error'">Error</md-option>
                              <md-option ng-value="'Open'">Open</md-option>
                              <md-option ng-value="'Processing'">Processing</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Done'">The verification has been processed successfully.</p>
                              <section ng-show="selectedExample === 'Done'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Done'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Done'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Done' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Done'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;DONE&quot;,
            &quot;description&quot;: &quot;The verification has been processed successfully.&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;,
        &quot;urlCallBack&quot;: &quot;http://example.com/callback&quot;,
        &quot;attachments&quot;: [
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;OBVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document oberse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/obverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;REVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document reverse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/reverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Selfie image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_VIDEO&quot;,
                    &quot;name&quot;: &quot;Selfie video.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-video&quot;
            }
        ],
        &quot;scores&quot;: [
            {
                &quot;scoreType&quot;: {
                    &quot;id&quot;: &quot;DOCUMENT_VERIFICATION&quot;,
                    &quot;name&quot;: &quot;Score of the verification of the document.&quot;
                },
                &quot;isValid&quot;: true,
                &quot;score&quot;: 0.89
            },
            {
                &quot;scoreType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_VERIFICATION&quot;,
                    &quot;name&quot;: &quot;Score of the verification of the biometric matching between selfie and document face image.&quot;
                },
                &quot;isValid&quot;: true,
                &quot;score&quot;: 0.9
            },
            {
                &quot;scoreType&quot;: {
                    &quot;id&quot;: &quot;PROOF_OF_LIFE&quot;,
                    &quot;name&quot;: &quot;Score of the proof of life verification of the video selfie.&quot;
                },
                &quot;isValid&quot;: false,
                &quot;score&quot;: 0.25
            }
        ],
        &quot;securityChecks&quot;: {
            &quot;isOverEightTeen&quot;: true,
            &quot;isOverTwentyOne&quot;: true,
            &quot;isUnexpired&quot;: true
        },
        &quot;documentExtractedData&quot;: {
            &quot;documentNumber&quot;: &quot;00000000T&quot;,
            &quot;birthDate&quot;: &quot;1999-01-01&quot;,
            &quot;expirationDate&quot;: &quot;2020-01-01&quot;,
            &quot;expeditionDate&quot;: &quot;2009-01-01&quot;,
            &quot;nationality&quot;: &quot;ES&quot;,
            &quot;permanentAddress&quot;: &quot;CALLE FALSA, 123, 3 A, MADRID, MADRID&quot;,
            &quot;firstName&quot;: &quot;JUAN CARLOS&quot;,
            &quot;lastName&quot;: &quot;SANCHEZ SANCHEZ&quot;,
            &quot;fullName&quot;: &quot;JUAN CARLOS SANCHEZ SANCHEZ&quot;,
            &quot;gender&quot;: {
                &quot;id&quot;: &quot;MALE&quot;,
                &quot;name&quot;: &quot;Of the masculine sex. The sex opposed to the female.&quot;
            }
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Done' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;DONE&quot;,
            &quot;description&quot;: &quot;The verification has been processed successfully.&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;,
        &quot;urlCallBack&quot;: &quot;http://example.com/callback&quot;,
        &quot;attachments&quot;: [
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;OBVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document oberse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/obverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;REVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document reverse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/reverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Selfie image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_VIDEO&quot;,
                    &quot;name&quot;: &quot;Selfie video.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-video&quot;
            }
        ],
        &quot;scores&quot;: [
            {
                &quot;scoreType&quot;: {
                    &quot;id&quot;: &quot;DOCUMENT_VERIFICATION&quot;,
                    &quot;name&quot;: &quot;Score of the verification of the document.&quot;
                },
                &quot;isValid&quot;: true,
                &quot;score&quot;: 0.89
            },
            {
                &quot;scoreType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_VERIFICATION&quot;,
                    &quot;name&quot;: &quot;Score of the verification of the biometric matching between selfie and document face image.&quot;
                },
                &quot;isValid&quot;: true,
                &quot;score&quot;: 0.9
            },
            {
                &quot;scoreType&quot;: {
                    &quot;id&quot;: &quot;PROOF_OF_LIFE&quot;,
                    &quot;name&quot;: &quot;Score of the proof of life verification of the video selfie.&quot;
                },
                &quot;isValid&quot;: false,
                &quot;score&quot;: 0.25
            }
        ],
        &quot;securityChecks&quot;: {
            &quot;isOverEightTeen&quot;: true,
            &quot;isOverTwentyOne&quot;: true,
            &quot;isUnexpired&quot;: true
        },
        &quot;documentExtractedData&quot;: {
            &quot;documentNumber&quot;: &quot;00000000T&quot;,
            &quot;birthDate&quot;: &quot;1999-01-01&quot;,
            &quot;expirationDate&quot;: &quot;2020-01-01&quot;,
            &quot;expeditionDate&quot;: &quot;2009-01-01&quot;,
            &quot;nationality&quot;: &quot;ES&quot;,
            &quot;permanentAddress&quot;: &quot;CALLE FALSA, 123, 3 A, MADRID, MADRID&quot;,
            &quot;firstName&quot;: &quot;JUAN CARLOS&quot;,
            &quot;lastName&quot;: &quot;SANCHEZ SANCHEZ&quot;,
            &quot;fullName&quot;: &quot;JUAN CARLOS SANCHEZ SANCHEZ&quot;,
            &quot;gender&quot;: {
                &quot;id&quot;: &quot;MALE&quot;,
                &quot;name&quot;: &quot;Of the masculine sex. The sex opposed to the female.&quot;
            }
        }
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Error'">The verifications has been processed with errors.</p>
                              <section ng-show="selectedExample === 'Error'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Error'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Error'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Error' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Error'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;ERROR&quot;,
            &quot;description&quot;: &quot;Service could not determine the type of the document from the images.&quot;,
            &quot;internalCode&quot;: &quot;documentNotFound&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;,
        &quot;urlCallBack&quot;: &quot;http://example.com/callback&quot;,
        &quot;attachments&quot;: [
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;OBVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document oberse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/obverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;REVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document reverse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/reverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Selfie image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-image&quot;
            }
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Error' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;ERROR&quot;,
            &quot;description&quot;: &quot;Service could not determine the type of the document from the images.&quot;,
            &quot;internalCode&quot;: &quot;documentNotFound&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;,
        &quot;urlCallBack&quot;: &quot;http://example.com/callback&quot;,
        &quot;attachments&quot;: [
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;OBVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document oberse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/obverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;REVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document reverse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/reverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Selfie image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-image&quot;
            }
        ]
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Open'">The verification has been created but needs more data to be processed.</p>
                              <section ng-show="selectedExample === 'Open'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Open'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Open'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Open' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Open'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;OPEN&quot;,
            &quot;description&quot;: &quot;The verification has been created but needs more data to be processed.&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;,
        &quot;attachments&quot;: [
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;OBVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document oberse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/obverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;REVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document reverse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/reverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Selfie image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_VIDEO&quot;,
                    &quot;name&quot;: &quot;Selfie video.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-video&quot;
            }
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Open' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;OPEN&quot;,
            &quot;description&quot;: &quot;The verification has been created but needs more data to be processed.&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;,
        &quot;attachments&quot;: [
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;OBVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document oberse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/obverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;REVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document reverse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/reverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Selfie image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_VIDEO&quot;,
                    &quot;name&quot;: &quot;Selfie video.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-video&quot;
            }
        ]
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Processing'">The verification is being processed.</p>
                              <section ng-show="selectedExample === 'Processing'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Processing'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Processing'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Processing' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Processing'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;PROCESSING&quot;,
            &quot;description&quot;: &quot;The verification is being processed.&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;,
        &quot;urlCallBack&quot;: &quot;http://example.com/callback&quot;,
        &quot;attachments&quot;: [
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;OBVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document oberse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/obverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;REVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document reverse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/reverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Selfie image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_VIDEO&quot;,
                    &quot;name&quot;: &quot;Selfie video.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-video&quot;
            }
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Processing' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;PROCESSING&quot;,
            &quot;description&quot;: &quot;The verification is being processed.&quot;
        },
        &quot;creationDate&quot;: &quot;2017-09-11T09:20:17+00:00&quot;,
        &quot;urlCallBack&quot;: &quot;http://example.com/callback&quot;,
        &quot;attachments&quot;: [
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;OBVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document oberse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/obverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;REVERSE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Document reverse image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/reverse-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_IMAGE&quot;,
                    &quot;name&quot;: &quot;Selfie image.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-image&quot;
            },
            {
                &quot;attachmentType&quot;: {
                    &quot;id&quot;: &quot;SELFIE_VIDEO&quot;,
                    &quot;name&quot;: &quot;Selfie video.&quot;
                },
                &quot;href&quot;: &quot;https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d/attachments/selfie-video&quot;
            }
        ]
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/verifications/{verification-id}/execute" class="resource-table">
      <div ng-click="api.hide('/verifications/{verification-id}/execute')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications/{verification-id}/execute</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/execute'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for starting the execution of the verification.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: verificationsverificationidexecuteActiveButton === 'post'}" ng-click="api.showMethod($event, 'verificationsverificationidexecute', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="verificationsverificationidexecute = 'post'; verificationsverificationidexecuteActiveButton = 'post'" ng-show="verificationsverificationidexecute === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/execute'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for starting the execution of the verification. This execution
will be asynchronous. If a callBack URL is supplied, the system will
notify once the process is complete making a POST to this URL. Security service for Business.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">verification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Verification ID.</p>
                        </td>
                        <td><span>b6a3ba16-f633-41b8-9ada-ced24a90865d</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="urlCallBack display-name">urlCallBack</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Callback where the service should notify via POST message once the verification is processed.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="202">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Content-Location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the location of the verification to check the status of the execution.</pre>
                                </td>
                                <td>true</td>
                                <td>https://www.bbvaapis.com/document-verification/v1/verifications/b6a3ba16-f633-41b8-9ada-ced24a90865d</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State of the verification.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">OPEN: The verification has been created but needs more data to be processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ERROR: The verifications has been processed with errors.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PROCESSING: The verification is being processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DONE: The verification has been processed successfully.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.description display-name">status.description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;PROCESSING&quot;,
            &quot;description&quot;: &quot;The verification is being processed by the backend.&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;b6a3ba16-f633-41b8-9ada-ced24a90865d&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;PROCESSING&quot;,
            &quot;description&quot;: &quot;The verification is being processed by the backend.&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Resource not found.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/verifications/{verification-id}/attachments/{attachment-id}" class="resource-table">
      <div ng-click="api.hide('/verifications/{verification-id}/attachments/{attachment-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications/{verification-id}/attachments/{attachment-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services put">PUT</label>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/attachments/{attachment-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the attachments of a verification.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="put" ng-class="{active: verificationsverificationidattachmentsattachmentidActiveButton === 'put'}" ng-click="api.showMethod($event, 'verificationsverificationidattachmentsattachmentid', 'put')" class="md-primary button-menu">put</button>
                <button id="get" ng-class="{active: verificationsverificationidattachmentsattachmentidActiveButton === 'get'}" ng-click="api.showMethod($event, 'verificationsverificationidattachmentsattachmentid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="put" ng-init="verificationsverificationidattachmentsattachmentid = 'put'; verificationsverificationidattachmentsattachmentidActiveButton = 'put'" ng-show="verificationsverificationidattachmentsattachmentid === 'put'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/attachments/{attachment-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='put'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for adding new attachment to the verification. At least you need to upload
an obverse and reverse document image and a selfie photo. Security service for Business.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">verification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Verification ID.</p>
                        </td>
                        <td><span>b6a3ba16-f633-41b8-9ada-ced24a90865d</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">attachment-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Type of attachment. Could be one of (obverse-image, reverse-image,
  reverse-flash-image, obverse-flash-image, selfie-image, selfie-video).
</p>
                        </td>
                        <td><span>obverse-image</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>OK.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Resource not found.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="get" ng-show="verificationsverificationidattachmentsattachmentid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/attachments/{attachment-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for downloading verification's attachments. Internal platform service.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">verification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Verification ID.</p>
                        </td>
                        <td><span>b6a3ba16-f633-41b8-9ada-ced24a90865d</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">attachment-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Type of attachment. Could be one of (obverse-image, reverse-image,
  reverse-flash-image, obverse-flash-image, selfie-image, selfie-video).
</p>
                        </td>
                        <td><span>obverse-image</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Content-Type</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the type of object, it can be a (image/jpeg, image/png, video/mp4).</pre>
                                </td>
                                <td>true</td>
                                <td>image/jpeg</td>
                              </tr>
                            </table>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Resource not found.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>